<footer class="footer_main">
  <div class="container">
    <div class="footer_top">
      <div class="row footer_row">
        <div class="col-md-3 col-12 footer_col">
          <div class="footer_item">
            <a href="index.html" class="footer_logo">
              <img src="{{ url_for('static', filename='mclawassets/images/mc-law-logo.svg') }}" alt="MC Law">
            </a>
          </div>
        </div>
        <div class="col-md-9 col-12 footer_col">
          <div class="footer_item">
            <ul class="list footer_links_ul">
              <li><a href="{{ url_for('main.professionals') }}">professionals</a></li>
              <li><a href="{{ url_for('main.services') }}">PRACTICES</a></li>
              <li><a href="{{ url_for('main.services') }}">SERVICES</a></li>
              <li><a href="{{ url_for('main.documents') }}">PUBLICATIONS</a></li>
              <li><a href="{{ url_for('main.contact') }}">CONTACT</a></li>
              <li><a href="#">LEGAL NOTICES</a></li>
              <li><a href="#">PRIVACY POLICY </a></li>
              <li><a href="#">COOKIE POLICY</a></li>
              <li><a href="#">SECURE LOGIN</a></li>
              <li><a href="#">SITE MAP</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_middle">
      <div class="row footer_row">
        <div class="col-lg-3 col-md-6  col-12 footer_col footer_col_1">
          <div class="footer_item">
            <div class="footer_item_header">
              <h6>Phone Support</h6>
              <p>12 HOURS A DAY</p>
            </div>

            <div class="footer_contact">
              <a href="tel:2027431972">202 743 1972</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 footer_col footer_col_2">
          <div class="footer_item">
            <div class="footer_item_header">
              <h6>Follow Us</h6>
              <p>SOCIAL MEDIA CHANNELS</p>
            </div>

            <ul class="list social_ul">
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-weixin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-12 offset-xl-2 offset-lg-1 footer_col footer_col_3">
          <div class="footer_item">
            <div class="footer_item_header">
              <h6>Our Newsletter</h6>
              <p>SIGN UP FOR Mc law updates</p>
            </div>

            <div class="footer_sub_box">
              <form>
                <div class="footer_sub_box_inner">
                  <input type="email" placeholder="Your Email Address">
                  <input type="submit" value="Subscribe">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer_bottom">
      <ul class="list footer_links_ul footer_links_ul_2">
        <li><a href="#">Privacy</a></li>
        <li><a href="{{ url_for('main.index') }}">About Us</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
      </ul>
      <p class="copyright">© 2022 <a href="{{ url_for('main.index') }}">MC Law</a>. All Rights Reserved</p>
    </div>
  </div>
</footer>