<div class="attorney_section">

  <div class="cmn_header">
    <h2>Let an experienced attorney take the lead</h2>
  </div>
  <div class="attorney_row_wrapper bg_pink">
    <div class="container">
      <div class="row attorney_row">
        <div class="col-lg-4 col-12 attorney_col">
          <div class="attorney_item">
            <div class="attorney_content_top">
              <h5>Trademark Registration</h5>
              <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> LegalZoom Guarantee</span>
              <p class="price_p"><span>$599</span> + federal fees (charged upon filing)**</p>
              <a href="#" class="cmn_btn dark_btn">START Now</a>
            </div>
            <div class="attorney_content_bottom">
              <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

              <ul class="list td_ul">
                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> LegalZoom Guarantee</span><span>If your first mark gets rejected, we'll cover our $599 fee to register a different mark<small>‡</small></span></li>
                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-lg-4 col-12 attorney_col">
          <div class="attorney_item">
            <div class="attorney_content_top">
              <h5>Trademark Registration</h5>
              <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> LegalZoom Guarantee</span>
              <p class="price_p"><span>$599</span> + federal fees (charged upon filing)**</p>
              <a href="#" class="cmn_btn dark_btn">START Now</a>
            </div>
            <div class="attorney_content_bottom">
              <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

              <ul class="list td_ul">
                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> LegalZoom Guarantee</span><span>If your first mark gets rejected, we'll cover our $599 fee to register a different mark<small>‡</small></span> </li>
                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-lg-4 col-12 attorney_col">
          <div class="attorney_item">
            <div class="attorney_content_top">
              <h5>Trademark Registration</h5>
              <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> LegalZoom Guarantee</span>
              <p class="price_p"><span>$599</span> + federal fees (charged upon filing)**</p>
              <a href="#" class="cmn_btn dark_btn">START Now</a>
            </div>
            <div class="attorney_content_bottom">
              <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

              <ul class="list td_ul">
                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> LegalZoom Guarantee</span><span>If your first mark gets rejected, we'll cover our $599 fee to register a different mark<small>‡</small></span></li>
                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>