<!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
<form action="#" method="post">
    <div class="input-group">
        <input type="text" class="form-control c-square c-theme-border" placeholder="Search blog...">
        <span class="input-group-btn">
        <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Go!</button>
      </span>
    </div>
</form>

<div class="c-content-ver-nav">
    <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
        <h3 class="c-font-bold c-font-uppercase">Practices</h3>
        <div class="c-line-left c-theme-bg"></div>
    </div>
    <ul class="c-menu c-arrow-dot1 c-theme">
        <li><a href="{{url_for('main.services', service='commercial')}}">Commericial</a></li>
        <li><a href="{{url_for('main.services', service='corporate')}}">Corporate</a></li>
        <li><a href="{{url_for('main.services', service='intellectual-property-and-technology')}}">IP & Technology</a></li>
        <li><a href="{{url_for('main.services', service='labor-and-employment')}}">Labor & Employment</a></li>
        <li><a href="{{url_for('main.services', service='litigation')}}">Litigation</a></li>

    </ul>
</div>

<div class="c-content-tab-1 c-theme c-margin-t-30">
    <div class="nav-justified">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#blog_recent_posts" data-toggle="tab">Recent Posts</a></li>
            <li><a href="#blog_popular_posts" data-toggle="tab">Popular Posts</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="blog_recent_posts">
                <ul class="c-content-recent-posts-1">
                    {% for art in articles[0:4]%}


                    <li>
                        <div class="c-image">
                            <img src="../../assets/base/img/content/stock/09.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="c-post">
                            <a href="{{url_for('main.document', slug=art.slug)}}" class="c-title">{{art.title}}</a>

                            <div class="c-date">{{art.timestamp}}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane" id="blog_popular_posts">
                <ul class="c-content-recent-posts-1">
                    {% for art in articles[5:9]%}
                    <li>
                        <div class="c-image">
                            <img src="../../assets/base/img/content/stock/34.jpg" class="img-responsive" alt=""/>
                        </div>
                        <div class="c-post">
                            <a href="{{url_for('main.document', slug=art.slug)}}" class="c-title">{{art.title}}</a>

                            <div class="c-date">{{art.timestamp}}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="c-content-ver-nav">
    <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
        <h3 class="c-font-bold c-font-uppercase">Categories</h3>
        <div class="c-line-left c-theme-bg"></div>
    </div>
    <ul class="c-menu c-arrow-dot c-theme">
        <li><a href="{{url_for('main.services', service='copyright')}}">Copyright</a></li>
        <li><a href="{{url_for('main.services', service='trademark')}}">Trademark</a></li>
        <li><a href="{{url_for('main.services', service='patent')}}">Patent</a></li>
        <li><a href="{{url_for('main.services', service='trade-secrets')}}">Trade Secrets</a></li>
        <li><a href="{{url_for('main.services', service='internet')}}">Internet</a></li>
    </ul>
</div><!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->