<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->

<div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold">
    <div class="container">
        <div class="c-page-title c-pull-left">
            <h3 class="c-font-uppercase c-font-sbold">{{ page_title }}</h3>
            <h4 class="">{{ page_subtitle }}</h4>
        </div>
        <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
            <li><a href="{{ url_for('main.index')}}">Home</a></li>
            <li>/</li>

            <li class="c-state_active">{{ page_title }}</li>

        </ul>
    </div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->