<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% if page_title %}MC Law | {{ page_title }}{% else %}
        {{ _('MC Law | Leading a Culture of Innovation') }}{% endif %}
        {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='assets/plugins/socicon/socicon.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/bootstrap-social/bootstrap-social.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/animate/animate.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN: BASE PLUGINS  -->
    <link href="{{ url_for('static', filename='assets/plugins/revo-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/revo-slider/css/layers.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/revo-slider/css/navigation.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/cubeportfolio/css/cubeportfolio.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/owl-carousel/assets/owl.carousel.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/fancybox/jquery.fancybox.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/plugins/slider-for-bootstrap/css/slider.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END: BASE PLUGINS -->


    <!-- BEGIN THEME STYLES -->
    <link href="{{ url_for('static', filename='assets/demos/default/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/demos/default/css/components.css') }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/demos/default/css/themes/default.css') }}" rel="stylesheet" id="style_theme" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/demos/default/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->

    <link rel="shortcut icon" href="favicon.ico"/>

    <script async src="https://analytics.uplaw.us/a.js" type="text/javascript"></script>
    <script async src="https://analytics.mclaw.io/a.js" type="text/javascript"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-211620286-1">
    </script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-211620286-1');
</script>
</head>
