<!DOCTYPE html>

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"  >
<!--<![endif]-->
<!-- BEGIN HEAD -->
{% include 'include/head.html' %}
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

<!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
   {% include 'include/navbar.html' %}
</header>
<!-- END: HEADER --><!-- END: LAYOUT/HEADERS/HEADER-1 -->


{% include 'include/navbar-menu.html' %}

