<div class="c-navbar">
    <div class="container-fluid">
        <!-- BEGIN: BRAND -->
        <div class="c-navbar-wrapper clearfix">
            <div class="c-brand c-pull-left ">

                <a href="index.html" class="c-logo">
                    <a href="{{ url_for('main.index')}}"><span style="font-size:150%; color:{% if request.path == '/'%}white{% else %}black{% endif %} ; font-family: Century School Book">MC Law </span>
                    </a>
                </a>
                <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </button>
                <button class="c-topbar-toggler" type="button">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <button class="c-search-toggler" type="button">
                    <i class="fa fa-search"></i>
                </button>
                <!--<button class="c-cart-toggler" type="button">
                    <i class="icon-handbag"></i> <span class="c-cart-number c-theme-bg">2</span>
                </button>-->
            </div>
            <!-- END: BRAND -->
            <!-- BEGIN: QUICK SEARCH -->
            <form class="c-quick-search" action="#">
                <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                <span class="c-theme-link">&times;</span>
            </form>
            <!-- END: QUICK SEARCH -->
            <!-- BEGIN: HOR NAV -->
            <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
            <!-- BEGIN: MEGA MENU -->
            <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
            <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-theme c-fonts-uppercase c-fonts-bold">
                <ul class="nav navbar-nav c-theme-nav">
                    <!--<li class="{% if request.path == '/'%}c-active{% else %} c-menu-type-classic {% endif %} ">
                        <a href="/" class="c-link dropdown-toggle">Home<span class="c-arrow c-toggler"></span></a>
                    </li>-->
                    <li class="{% if request.path == '/practices'%}c-active{% else %} c-menu-type-classic {% endif %} ">
                        <a href="javascript:;" class="c-link dropdown-toggle">Practices<span class="c-arrow c-toggler"></span></a>

                        <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                            <li class="dropdown-submenu">
                                <a href="javascript:;">Commercial
                                    <span class="c-arrow c-toggler"></span>
                                </a>
                                <ul class="dropdown-menu c-pull-right">
                                    <li>
                                        <a href="{{ url_for('main.services', practice='commercial')}}">Agreements</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('main.services', practice='copyright')}}">Confidentiality</a>
                                    </li>
                                </ul>

                                <a href="javascript:;">Corporate
                                    <span class="c-arrow c-toggler"></span>
                                </a>
                                <ul class="dropdown-menu c-pull-right">
                                    <li>
                                        <a href="{{ url_for('main.services', practice='corporate')}}">Agreements</a>
                                    </li>
                                </ul>

                                <a href="javascript:;">IP & Technology
                                    <span class="c-arrow c-toggler"></span>
                                </a>
                                <ul class="dropdown-menu c-pull-right">
                                    <li>
                                        <a href="{{ url_for('main.services', practice='copyright')}}">Copyright</a>
                                    </li>
                                    <li>
                                        <a href="d{{ url_for('main.services', practice='trademark')}}">Trademark</a>
                                    </li>
                                    <li>
                                        <a href="d{{ url_for('main.services', practice='patent')}}">Patent</a>
                                    </li>
                                    <li>
                                        <a href="d{{ url_for('main.services', practice='internet')}}">Internet</a>
                                    </li>
                                    <li>
                                        <a href="d{{ url_for('main.services', practice='it')}}">Internet</a>
                                    </li>
                                </ul>

                                <a href="javascript:;">Labor & Employment
                                    <span class="c-arrow c-toggler"></span>
                                </a>
                                <ul class="dropdown-menu c-pull-right">
                                    <li>
                                        <a href="{{ url_for('main.services', practice='labor-and-employment')}}">Agreements</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="{% if request.path == '/services'%}c-active{% else %} c-menu-type-classic {% endif %} ">
                        <a href="{{ url_for('main.products')}}" class="c-link dropdown-toggle">Services<span class="c-arrow c-toggler"></span></a>

                    </li>
                    <!--<li class="{% if request.path == '/team'%}c-active{% else %} c-menu-type-classic {% endif %} ">
                    </li>-->
                    <li class="{% if request.path == '/blog'%}c-active{% else %} c-menu-type-classic {% endif %} ">
                        <a href="{{ url_for('main.blog')}}" class="c-link dropdown-toggle">Blog<span class="c-arrow c-toggler"></span></a>
                    </li>
                    <li class="{% if request.path == '/contact'%}c-active{% else %} c-menu-type-classic {% endif %} ">
                        <a href="{{ url_for('main.contact')}}" class="c-link dropdown-toggle">Contact<span class="c-arrow c-toggler"></span></a>
                    </li>


                    <li class="c-search-toggler-wrapper">
                        <a  href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
                    </li>

                    <li>
                        {% if current_user.is_authenticated %}
                        <a href="/accounts"
                           class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x {% if request.path == '/'%}c-btn-white{% else %} c-btn-dark{% endif %}  c-btn-circle c-btn-uppercase c-btn-sbold"><i
                                class="icon-user"></i> My Account</a>
                        {% else %}
                        <a href="/auth/login"
                           class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x {% if request.path == '/'%}c-btn-white{% else %} c-btn-dark{% endif %} c-btn-circle c-btn-uppercase c-btn-sbold"><i
                                class="icon-user"></i>Login</a>
                        {% endif %}

                    </li>

                    <li class="c-quick-sidebar-toggler-wrapper">
                        <a href="#" class="c-quick-sidebar-toggler">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </a>
                    </li>


                </ul>
            </nav>
            <!-- END: MEGA MENU --><!-- END: LAYOUT/HEADERS/MEGA-MENU -->
            <!-- END: HOR NAV -->
        </div>
        <!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
        <!-- BEGIN: CART MENU -->
        <div class="c-cart-menu">
            <div class="c-cart-menu-title">
                <p class="c-cart-menu-float-l c-font-sbold">2 item(s)</p>
                <p class="c-cart-menu-float-r c-theme-font c-font-sbold">$79.00</p>
            </div>
            <ul class="c-cart-menu-items">
                <li>
                    <div class="c-cart-menu-close">
                        <a href="#" class="c-theme-link">×</a>
                    </div>
                    <img src="{{ url_for('static', filename='assets/base/img/content/shop2/24.jpg') }}"/>
                    <div class="c-cart-menu-content">
                        <p>1 x <span class="c-item-price c-theme-font">$30</span></p>
                        <a href="shop-service-details-2.html" class="c-item-name c-font-sbold">Winter Coat</a>
                    </div>
                </li>
                <li>
                    <div class="c-cart-menu-close">
                        <a href="#" class="c-theme-link">×</a>
                    </div>
                    <img src="{{ url_for('static', filename='assets/base/img/content/shop2/12.jpg') }}"/>
                    <div class="c-cart-menu-content">
                        <p>1 x <span class="c-item-price c-theme-font">$30</span></p>
                        <a href="shop-product-details.html" class="c-item-name c-font-sbold">Sports Wear</a>
                    </div>
                </li>
            </ul>
            <div class="c-cart-menu-footer">
                <a href="shop-cart.html" class="btn btn-md c-btn c-btn-square c-btn-grey-3 c-font-white c-font-bold c-center c-font-uppercase">View Cart</a>
                <a href="shop-checkout.html" class="btn btn-md c-btn c-btn-square c-theme-btn c-font-white c-font-bold c-center c-font-uppercase">Checkout</a>
            </div>
        </div>
        <!-- END: CART MENU --><!-- END: LAYOUT/HEADERS/QUICK-CART -->
    </div>
</div>