
<!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
<nav class="c-layout-quick-sidebar">
  <div class="c-header">
    <button type="button" class="c-link c-close">
      <i class="icon-login"></i>
    </button>
  </div>
  <div class="c-content">

    <div class="c-section">
      <h3>Home</h3>
      <h3><a href="http://localhost:5000/auth/logout">Logout</a></h3>
    </div>
  </div>
</nav>
<!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->