{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}



<div class="cnslt-sec1 cnslt-sec1-final cnslt-sec1-login gaptop">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 style="color:808080">{{ _('Sign In') }}</h1>
                <div class="row">
                    <div class="col-md-8">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
                <br>
                <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
                <p>
                    {{ _('Forgot Your Password?') }}
                    <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
                </p>

                <div class="cnslt-sec1-frm">
                    <!--<form>
                        <div class="step_form_main gap">
                            <fieldset>
                                <h3>Login</h3>
                                <div class="form-card">
                                    <div class="row form-card-row">
                                        <div class="col-12 form-card-col">
                                            <div class="form_group">
                                                <label for="email">Email</label>
                                                <input
                                                    type="email"
                                                    placeholder="example@email.com"
                                                    id="email"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-12 form-card-col">
                                            <div class="form_group">
                                                <label for="password"
                                                >Password
                                                    <small
                                                    >at least 6 characters including 1 number</small
                                                    ></label
                                                >
                                                <input
                                                    type="password"
                                                    placeholder="Type..."
                                                    id="password"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-12 form-card-col">
                                            <div class="form_group">
                                                <p class="already_member">
                                                    Already a member?
                                                    <a href="#" class="view_more_btn light_btn"
                                                    >Sign in</a
                                                    >
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input
                                    type="submit"
                                    class="next action-button"
                                    value="Submit"
                                />

                                <p class="tc_para">
                                    By clicking the "Continue" button, you agree to Rocket
                                    Lawyer's
                                    <a href="#" class="view_more_btn light_btn"
                                    >Privacy Policy</a
                                    >
                                    and
                                    <a href="#" class="view_more_btn light_btn"
                                    >Terms of Service</a
                                    >
                                </p>

                                &lt;!&ndash; </div> &ndash;&gt;
                            </fieldset>
                        </div>
                    </form>-->

                </div>
            </div>
        </div>
    </div>
</div>


{% include 'components/footer.html' %}
{% endblock %}
