<form action="." method="post">
  <div class="row get_form_row">
    <div class="col-12 get_form_col">
      <div class="form_group">
        <input name="name" type="text" placeholder="Enter your name.">
      </div>
    </div>
    <div class="col-lg-6 col-12 get_form_col">
      <div class="form_group">
        <input name="phone" type="tel" placeholder="999 999-999">
      </div>
    </div>
    <div class="col-lg-6 col-12 get_form_col">
      <div class="form_group">
        <input name="email" type="email" placeholder="example@email.com">
      </div>
    </div>
    <div class="col-12 get_form_col">
      <div class="form_group">
        <select name="category" id="category">
          <option value="commercial">Commercial</option>
          <option value="copyright">Copyright</option>
          <option value="internet">Internet</option>
          <option value ="litigation">Litigation</option>
          <option value ="patent">Patent</option>
          <option value="privacy_and_data_security">Privacy & Data Security</option>
          <option value ="trademark">Trademark</option>
        </select>
      </div>
    </div>
    <div class="col-12 get_form_col">
      <div class="form_group">
        <textarea name="message" id="message" placeholder="Message..."></textarea>
      </div>
    </div>
    <div class="col-12 get_form_col">
      <div class="form_group">
        <input type="submit">
      </div>
    </div>
  </div>

</form>
