{% if form.Employees_Covered_Under_a_Collective_Bargaining_Agreement%}
{{ wtf.form_field(form.Employees_Covered_Under_a_Collective_Bargaining_Agreement) }}<br/>
<div id="collective_bargaining_agreement_conflicting_language">{{
  wtf.form_field(form.collective_bargaining_agreement_conflicting_language) }}
</div>
{% endif %}
{% if form.conduct_not_prohibited_by_this_policy%}
<div id="conduct_not_prohibited_by_this_policy">
  {{ wtf.form_field(form.conduct_not_prohibited_by_this_policy)}}<br/>
</div>
{% endif %}

{% if form.Acknowledgment_of_Receipt_and_Review%}
{{ wtf.form_field(form.Acknowledgment_of_Receipt_and_Review) }}<br/>
{% endif %}
{% block scripts %}
<script>

  $("#Employees_Covered_Under_a_Collective_Bargaining_Agreement").change(function () {
    if ($(this).val() == "yes") {
      $('#collective_bargaining_agreement_conflicting_language').show();
    } else {
      $('#collective_bargaining_agreement_conflicting_language').hide();
    }
  });
  $("#Employees_Covered_Under_a_Collective_Bargaining_Agreement").trigger("change");


</script>
{% endblock %}