<select class="form-control  c-square c-theme" name="DESCRIBE_GOODS_OR_SERVICES">
  <option id='chemical products'>chemical products</option>
  <option id='paint products'>paint products</option>
  <option id='cosmetics and cleaning products'>cosmetics and cleaning products</option>
  <option id='lubricant and fuel products'>lubricant and fuel products</option>
  <option id='pharmaceutical products'>pharmaceutical products</option>
  <option id='metal products'>metal products</option>
  <option id='machinery products'>machinery products</option>
  <option id='hand tool products'>hand tool products</option>
  <option id='computer and software products and electrical and scientific products'>computer and
    software products and electrical and scientific products
  </option>
  <option id='medical instrument products'>medical instrument products</option>
  <option id='environmental control instrument products (lighting, heating, cooling, cooking)'>
    environmental control instrument products (lighting, heating, cooling, cooking)
  </option>
  <option id='vehicles and products for locomotion by land, air or water'>vehicles and products for
    locomotion by land, air or water
  </option>
  <option id='firearm products'>firearm products</option>
  <option id='jewelry products'>jewelry products</option>
  <option id='musical instrument products'>musical instrument products</option>
  <option id='paper and printed material products'>paper and printed material products</option>
  <option id='rubber products'>rubber products</option>
  <option id='leather products (not including clothing)'>leather products (not including clothing)
  </option>
  <option id='non-metallic building material products'>non-metallic building material products
  </option>
  csrf_token
  <option id='furniture products'>furniture products</option>
  <option id='houseware and glass products'>houseware and glass products</option>
  <option id='ropes, cordage and fiber products'>ropes, cordage and fiber products</option>
  <option id='yarns and threads'>yarns and threads</option>
  <option id='fabrics and textile products'>fabrics and textile products</option>
  <option id='clothing and apparel products'>clothing and apparel products</option>
  <option id='lace, ribbons, embroidery and fancy goods'>lace, ribbons, embroidery and fancy goods
  </option>
  <option id='floor covering products'>floor covering products</option>
  <option id='toys and sporting goods products'>toys and sporting goods products</option>
  <option id='meat and processed food products'>meat and processed food products</option>
  <option id='staple food products'>staple food products</option>
  <option id='natural agricultural products'>natural agricultural products</option>
  <option id='light beverage products'>light beverage products</option>
  <option id='wines and spirits (not including beers)'>wines and spirits (not including beers)
  </option>
  <option id='smoker' s products
  '>smoker's products</option>
  <option id='advertising, business and retail services'>advertising, business and retail services
  </option>
  <option id='insurance and financial services'>insurance and financial services</option>
  <option id='construction and repair services'>construction and repair services</option>
  <option id='communication services'>communication services</option>
  <option id='transportation and storage services'>transportation and storage services</option>
  <option id='treatment and processing of materials services'>treatment and processing of materials
    services
  </option>
  <option id='education and entertainment services'>education and entertainment services</option>
  <option id='computer and software services and scientific services'>computer and software services
    and scientific services
  </option>
  <option id='restaurant and hotel services'>restaurant and hotel services</option>
  <option id='medical and beauty services and agricultural services'>medical and beauty services and
    agricultural services
  </option>
</select>