<!-- Begin: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
<ul class="c-sidebar-menu collapse " id="sidebar-menu-1">
    <li class="c-dropdown c-open">
        <a href="javascript:;" class="c-toggler">Dashboard<span class="c-arrow"></span></a>
        <ul class="c-dropdown-menu">
            {% if request.url_rule|string() == '/account' %}
                <li class="c-active">
                    {% else %}
                <li>
            {% endif %}
            <a href="{{ url_for('main.account')}}">My Profile</a>
            </li>
            {% if request.url_rule|string() == '/edit-profile' %}
                <li class="c-active">
                    {% else %}
                <li>
            {% endif %}
            <a href="{{ url_for('main.edit_profile')}}">Edit My Profile</a>
            </li>
            {% if request.url_rule|string() == '/orders' %}
                <li class="c-active">
                    {% else %}
                <li>
            {% endif %}
            <a href="{{ url_for('main.orders')}}">My Orders</a>
            </li>

            {% if request.url_rule|string() == '/accounts/documents' %}
            <li class="c-active">
                {% else %}
            <li>
                {% endif %}
                <a href="{{ url_for('main.documents')}}">My Documents</a>
            </li>





        </ul>
    </li>
</ul>
<!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->