{% extends "layout-light.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Account</h3>
                <h4 class="">{{user.username}}</h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="{{url_for('main.account')}}">Account</a></li>
                <li>/</li>
                <li class="c-state_active">Profile</li>
            </ul>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">
        <div class="c-layout-sidebar-menu c-theme ">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
            <div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">My Profile</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
                    <span class="c-line"></span> <span class="c-line"></span> <span class="c-line"></span>
                </a>
            </div>
            {% include 'user/_dashboard_menu.html' %}
        </div>
        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-CUSTOMER-DASHBOARD-1 -->
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">My Dashboard</h3>
                <div class="c-line-left"></div>
                <p class="">
                    Hello <a href="#" class="c-theme-link">{{user.username}}</a> (not <a href="/user/{{user.username}}" class="c-theme-link">{{user.username}}</a>? <a href="/auth/logout" class="c-theme-link">Sign out</a>). <br/>
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 c-margin-b-20">
                    <h3 class="c-font-uppercase c-font-bold">{{user.username}}</h3>
                    <ul class="list-unstyled">
                        <li>Email: <a href="mailto:{{user.email}}" class="c-theme-link">{{user.email}}</a>
                        </li>
                    </ul>
                </div>
            </div><!-- END: CONTENT/SHOPS/SHOP-CUSTOMER-DASHBOARD-1 -->
            <!-- END: PAGE CONTENT -->
        </div>
    </div>
</div>
<!-- END: PAGE CONTAINER -->
{% endblock%}