{% extends "layout-light.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">My Account</h3>
                <h4 class="">My Documents</h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="{{url_for('main.account')}}">My Account</a></li>
                <li>/</li>
                <li class="c-state_active">My Documents</li>
            </ul>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">
        <div class="c-layout-sidebar-menu c-theme ">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
            <div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">My Profile</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
                    <span class="c-line"></span> <span class="c-line"></span> <span class="c-line"></span>
                </a>
            </div>

            {% include 'user/_dashboard_menu.html' %}
        </div>
        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-CUSTOMER-DASHBOARD-1 -->
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">My Orders</h3>
                <div class="c-line-left"></div>

            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12 c-margin-b-20">

                    <!-- BEGIN: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
                    <div class="c-content-title-1">
                        <!--<h3 class="c-font-uppercase c-font-bold">Order History</h3>-->
                    </div>
                    <div class="row c-margin-b-40 c-order-history-2">
                        <div class="row c-cart-table-title">
                            <div class="col-md-2 c-cart-image">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Order</h3>
                            </div>
                            <div class="col-md-1 c-cart-ref">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Id</h3>
                            </div>
                            <div class="col-md-3 c-cart-desc">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Title</h3>
                            </div>
                            <div class="col-md-3 c-cart-price">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Total</h3>
                            </div>
                            <div class="col-md-3 c-cart-qty">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Download</h3>
                            </div>
                        </div>
                        <!-- BEGIN: ORDER HISTORY ITEM ROW -->
                        {% if orders%}
                        {% for order in orders | reverse%}
                        <div class="row c-cart-table-row">



                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">Item 1</h2>
                            <div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
                                <img src="{{ url_for('static', filename='images/uplaw_service_picture_default.png')}}"/>
                            </div>
                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-ref">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Order</p>
                                <p>#{{order.id}} {{order.date_created}}</p>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 c-cart-desc">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Title</p>
                                <p><a href="{{url_for('main.documents',user_service_form_data_id=order.user_service_form_data_id)}}" class="c-font-bold c-theme-link c-font-dark">{{order.service_slug|replace("_"," ")|title}}</a></p>
                            </div>
                            <div class="clearfix col-md-3 col-sm-3 col-xs-6 c-cart-price">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
                                <p class="c-cart-price c-font-bold">${{order.total}}</p>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 c-cart-qty">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Download</p>
                                {% if not order.download_available %}

                                <p>Download not available.</p>
                                {% elif order.download_available %}
                                <a href="{{url_for('main.documents',  user_service_form_data_id=order.user_service_form_data_id)}}">Download</a>
                                {% endif %}
                            </div>

                        </div>
                        {%endfor%}
                        {%endif%}
                        <!-- END: ORDER HISTORY ITEM ROW -->
                    </div>

                    <!-- END: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->

                </div>
            </div><!-- END: CONTENT/SHOPS/SHOP-CUSTOMER-DASHBOARD-1 -->
            <!-- END: PAGE CONTENT -->
        </div>
    </div>
</div>
<!-- END: PAGE CONTAINER -->
{% endblock%}


