{% extends "layout-light.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
        <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-sbold">{{ product['title']}}</h3>
                    <h4 class="">{{ product['category']}}</h4>
                </div>
                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li><a href="{{ url_for('main.account')}}">Account</a></li>
                    <li>/</li>
                    <li class="c-state_active">{{ product['title']}}</li>
                </ul>
            </div>
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
        <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
            <div class="container">
                <div class="c-shop-product-details-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-product-meta">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">{{ product['title']}}</h3>
                                    <div class="c-line-left"></div>
                                </div>
                                <div class="c-product-badge">
                                    <!--<div class="c-product-sale">Sale</div>
                                    <div class="c-product-new">New</div>-->
                                </div>
                                <div class="c-product-review">

                                </div>
                                {% if form_field_data['download_available'] ==True %}



                                    {% set product_pdf_path = product_download_path + '.pdf' %}
                                    {% set product_docx_path = product_download_path + '.docx' %}
                                    <p class="c-font-dark-4 c-font-18">Download your {{ product['title']}} in
                                        the
                                        appropriate format by clicking a link below.<br/><br/></p>
                                    <a class="btn btn-default c-btn c-btn-square c-theme-btn c-btn-md c-margin-b-10"
                                       href="{{ product_pdf_path }}">.pdf</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-default c-btn c-btn-square c-theme-btn c-btn-md c-margin-b-10"href="{{ product_docx_path }}">.docx</a>

                                    </div>
                                    <div class="c-product-short-desc">

                                        <br>
                                        <br>
                                    <h3 class="c-font-uppercase c-font-sbold">Current Form Data</h3>
                                        <br>

                                        {% for k,v in form_field_data.items() %}
                                            <strong>{{ k|string|replace('_',' ')|title()+': '}}</strong>{{ v|string }}<br/><br/>

                                        {% endfor %}

                                        <br>
                                        <a class="btn btn-default c-btn c-btn-square c-theme-btn c-btn-md c-margin-b-10"
                                           href="

                                                   {{ url_for('main.consultation', slug=product['slug'], user_product_form_data_id=user_product_form_data_id)}}">Update
                                            Document Information</a>
                                        <br><br>



                                {% else %}
                                    <p>Download not available yet. UpLaw is still working on your {{ product['title'] }}.
                                        Your {{ product['title'] }} will be available soon. Some orders are automated, most orders are available within 3-5 days of placing your orders, and a few long and complicated orders may take up to 14 days to process. </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <p align="center">
                                    <br>

                                    <object height="800" width="700" data="{{ product_pdf_path }}"
                                            type="application/pdf">
                                        <embed src="{{ product_pdf_path }}" type="application/pdf"/>
                                    </object>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->


    </div>
    <!-- END: CONTENT/SHOPS/SHOP-2-2 -->
    <!-- END: PAGE CONTENT -->
    </div>
    <!-- END: PAGE CONTAINER -->
{% endblock %}