<p>Dear {{ user.username }},</p>
<p>
    Thank you for ordering your {{service['title']}} from UpLaw! Your document is complete and available in your user account.
    <a href="{{url_for('main.account')}}">
        Click here</a> to access, update, or download your {{service['title']}} from your user account.
</p>
<p>Your new UpLaw Law Library subscription allows you to access millions of legal documents from all 50 states to research your legal issues. </p>
<p></p>

<p>Sincerely,</p>
<p>The UpLaw Team</p>
<p>support@uplaw.us</p>
