{{ form.hidden_tag() }}
<div class="row">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-6">
            {% for field in form %}
            {% if field.errors %}
            <div class="has-error"> {{ field.label }} {{ field( class_='form-control') }}</div>
            <span style="color: red;">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br/>{% endif %}{% endfor %}</span>
            {% else %}
                {%if field.name != 'csrf_token' and field.name != 'submit' %}
                    {{ field.label }} {{ field(class_='form-control') }}
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
