<fieldset>
{{ wtf.form_field(form.EMPLOYER_NAME) }}
<input type="button" class="previous action-button-previous" value="Back" />
<input type="button" class="next action-button" value="Continue" />
</fieldset>

<fieldset>
{{ wtf.form_field(form.DEPARTMENT_NAME) }}
{{ wtf.form_field(form.POSITION) }}
{% include 'forms/products/common/labor_and_employment_footer.html' %}
  <input type="button" class="previous action-button-previous" value="Back" />
  <input type="button" class="next action-button" value="Continue" />
</fieldset>