{{ wtf.form_field(form.DATE) }}
{{ wtf.form_field(form.METHOD_OF_DELIVERY) }}
{{ wtf.form_field(form.RECIPIENTS_NAME) }}
{{ wtf.form_field(form.RECIPIENTS_ADDRESS) }}
{{ wtf.form_field(form.RECIPIENTS_PHONE) }}
{{ wtf.form_field(form.RECIPIENTS_EMAIL) }}
{{ wtf.form_field(form.addressee_name) }}
{{ wtf.form_field(form.MARK_OWNER) }}
{{ wtf.form_field(form.DOMAIN_NAME) }}
{{ wtf.form_field(form.ASSERTED_MARK) }}
{{ wtf.form_field(form.TYPE_OF_BUSINESS_OR_ORGANIZATION) }}
{{ wtf.form_field(form.GOOD_OR_SERVICES) }}
<p>What goods/services is the mark used with?</p>
{% include 'docx/forms/common/trademark_good_and_services.html'%}

{{ wtf.form_field(form.REGISTERED_TRADEMARK) }}
<div id="USPTO_REGISTRATION_NUMBER">
    {{ wtf.form_field(form.USPTO_REGISTRATION_NUMBER) }}
</div>
<div id="USPTO_APPLICATION_NUMBER">
    {{ wtf.form_field(form.USPTO_APPLICATION_NUMBER) }}
</div>
{{ wtf.form_field(form.NUMBER_OF_YEARS) }}
{{ wtf.form_field(form.incorporates_or_is_confusingly_similar_to) }}

<script>
  $("#REGISTERED_TRADEMARK").change(function () {
    if ($(this).val() == 'registered') {
      $('#USPTO_REGISTRATION_NUMBER').show();
    } else {
      $('#USPTO_REGISTRATION_NUMBER').hide();
    }
  });
  $("#REGISTERED_TRADEMARK").trigger("change")
</script>
<script>
  $("#REGISTERED_TRADEMARK").change(function () {
    if ($(this).val() == 'application filed') {
      $('#USPTO_APPLICATION_NUMBER').show();
    } else {
      $('#USPTO_APPLICATION_NUMBER').hide();
    }
  });
  $("#REGISTERED_TRADEMARK").trigger("change")
</script>