{{ wtf.form_field(form.EMPLOYER_NAME) }}
{{ wtf.form_field(form.DEPARTMENT_NAME) }}
{{ wtf.form_field(form.POSITION) }}
{{ wtf.form_field(form.employees_summoned_for_jury_duty_are_entitled_to_paid_time_off) }}
<div class="form-group" id="NUMBER_OF_DAYS">
    {{ wtf.form_field(form.NUMBER_OF_DAYS) }}
</div>
{{ wtf.form_field(form.employees_may_opt_to_use_any_available_accrued_vacation_time_in_place_of_unpaid_leave) }}
{% include 'forms/services/common/labor_and_employment_footer.html' %}
{% block scripts %}
<script>
  $("#employees_summoned_for_jury_duty_are_entitled_to_paid_time_off").change(function () {
    if ($(this).val() == "yes") {
      $('#NUMBER_OF_DAYS').show();
    } else {
      $('#NUMBER_OF_DAYS').hide();
    }
  });
  $("#employees_summoned_for_jury_duty_are_entitled_to_paid_time_off").trigger("change");

</script>
{% endblock %}