
<div>
    <label for="EMPLOYER_NAME">EMPLOYER_NAME</label>
    <input type="text" name="EMPLOYER_NAME" id="EMPLOYER_NAME">
</div>
<div>
    <label for="DEPARTMENT_NAME">DEPARTMENT_NAME</label>
    <input type="text" name="DEPARTMENT_NAME" id="DEPARTMENT_NAME">
</div>

<div>
    <label for="POSITION">POSITION</label>
    <input type="text" name="POSITION" id="POSITION">
</div>

{% include 'forms/products/common/labor_and_employment_footer.html' %}