
<fieldset>
    <div class="steps_div steps_div_2">
        <h3>What are you trying to protect?</h3>
        <div class="form-card">
            <div class="form_group form_input_radio">
                <label>
                    <input class="trademark_type" type="radio" name="trademark_type" value="name">
                    <span>Name</span>
                </label>
            </div>
            <div class="form_group form_input_radio">
                <label>
                    <input class="trademark_type" type="radio" name="trademark_type" value="logo">
                    <span>Logo</span>
                </label>
            </div>
            <div class="form_group form_input_radio">
                <label>
                    <input class="trademark_type" type="radio" name="trademark_type" value="name_and_logo">
                    <span>Name and Logo</span>
                </label>
            </div>
            <div class="form_group">
                <div class="name">
                    <label for="trademark_name">Enter the name you are trying to protect:</label>
                    <input id="trademark_name" type="text" name="trademark_name" required>
                </div>
                </br>
                <div class="logo">
                    <label for="trademark_logo">Upload the logo you are tyring to protect:</label>
                    <input id="trademark_logo" type="file" name="trademark_logo" required>
                </div>
                <div class="name_and_logo">

                        <label for="trademark_name">Enter the name you are trying to protect:</label>
                        <input type="text" name="trademark_name" required>

                        </br>
                        <label for="trademark_logo">Upload an image of the logo you are trying to protect:</label>
                        <input  type="file" name="trademark_logo" required>

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="step" value="2">
    <input type="button" class="previous action-button-previous" value="Back"/>
    <input type="button" class="next action-button" value="Continue"/>
</fieldset>

<fieldset>
    <div class="steps_div steps_div_2">
        <h4>Are you currently using this trademark to sell goods or services in commerce?</h4>
        <div class="form-card">
            <div class="form_group form_input_radio">
                <label>
                    <input class="currently_using_mark" name="currently_using_mark" type="radio" value="true">
                    <span>Yes</span>
                </label>
            </div>
            <div class="form_group form_input_radio">
                <label>
                    <input class="currently_using_mark" type="radio" name="currently_using_mark" value="false">
                    <span>No</span>
                </label>
            </div>

        </div>
    </div>
    <div class="steps_div steps_div_2">
        <h4>Are you using your trademark on a product, service or both?</h4>
        <div class="form-card">
            <div class="form_group form_input_radio">
                <label>
                    <input type="radio" name="products_or_services" value="products">
                    <span>Products</span>
                </label>
            </div>
            <div class="form_group form_input_radio">
                <label>
                    <input type="radio" name="products_or_services" value="services">
                    <span>Services</span>
                </label>
            </div>
            <div class="form_group form_input_radio">
                <label>
                    <input type="radio" name="products_or_services" value="products_and_services">
                    <span>Products & Services</span>
                </label>
            </div>
            <div class="form_group">
                <div class="true">
                    <label>Please describe the products and/or services on which you are currently using your trademark:</label>
                    <input type="text" name="description_of_products_or_services">
                </div>
                <div class="false">
                    <label>Please describe the products and/or services on which you intend to use your trademark:</label>
                    <input type="text" name="description_of_products_or_services">
                </div>
            </div>
        </div>
    </div>
    <input type="button" class="previous action-button-previous" value="Back"/>

    <input type="button" class="next action-button" value="Continue"/>
</fieldset>



<fieldset>

    <p>Select the class(es) that best describe your business.</p><p style="color:gray;font-size:90%">Tip: Not sure what class(es) to choose? Try searching for trademarks of your competitors; then look at the trademark details to see what kinds of class(es) they are filing marks. If still not sure what class(es) to choose, click here to have our system help you.</p>
    <style>
        ul.trademark_classes {
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
        }
    </style>
    <ul class="trademark_classes">
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_chemical_products" id="trademark_classes_chemical_products" value="chemical_products"> <label for="trademark_classes_chemical_products">001: Chemical Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_paint_products" id="trademark_classes_paint_products" value="paint_products"> <label for="trademark_classes_paint_products">002: Paint Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_cosmetics_and_cleaning_products" id="trademark_classes_cosmetics_and_cleaning_products" value="cosmetics_and_cleaning_products"> <label for="trademark_classes_cosmetics_and_cleaning_products">003: Cosmetics and Cleaning Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_lubricant_and_fuel_products" id="trademark_classes_lubricant_and_fuel_products" value="lubricant_and_fuel_products"> <label for="trademark_classes_lubricant_and_fuel_products">004: Lubricant and Fuel Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_pharmaceutical_products" id="trademark_classes_pharmaceutical_products" value="pharmaceutical_products"> <label for="trademark_classes_pharmaceutical_products">005: Pharmaceutical Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_metal_products" id="trademark_classes_metal_products" value="metal_products"> <label for="trademark_classes_metal_products">006: Metal Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_machinery_products" id="trademark_classes_machinery_products" value="machinery_products"> <label for="trademark_classes_machinery_products">007: Machinery Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_hand_tool_products" id="trademark_classes_hand_tool_products" value="hand_tool_products"> <label for="trademark_classes_hand_tool_products">008: Hand Tool Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_computer_and_software_products_and_electrical_and_scientific_products" id="trademark_classes_computer_and_software_products_and_electrical_and_scientific_products" value="computer_and_software_products_and_electrical_and_scientific_products"> <label for="trademark_classes_computer_and_software_products_and_electrical_and_scientific_products">009: Computer & Software Products & Electrical & Scientific Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_medical_instrument_products" id="trademark_classes_medical_instrument_products" value="medical_instrument_products"> <label for="trademark_classes_medical_instrument_products">010: Medical Instrument Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_environmental_control_instrument_products" id="trademark_classes_environmental_control_instrument_products" value="environmental_control_instrument_products"> <label for="trademark_classes_environmental_control_instrument_products">011: Environmental Control Instrument Products (lighting, heating, cooling, cooking)</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_vehicles_and_products_for_locomotion_by_land_air_or_water" id="trademark_classes_vehicles_and_products_for_locomotion_by_land_air_or_water" value="vehicles_and_products_for_locomotion_by_land_air_or_water"> <label for="trademark_classes_vehicles_and_products_for_locomotion_by_land_air_or_water">012: Vehicles and Products for locomotion by land, air or water</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_firearm_products" id="trademark_classes_firearm_products" value="firearm_products"> <label for="trademark_classes_firearm_products">013: Firearm Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_jewelry_products" id="trademark_classes_jewelry_products" value="jewelry_products"> <label for="trademark_classes_jewelry_products">014: Jewelry Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_musical_instrument_products" id="trademark_classes_musical_instrument_products" value="musical_instrument_products"> <label for="trademark_classes_musical_instrument_products">015: Musical Instrument Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_paper_goods_and_printed_material" id="trademark_classes_paper_goods_and_printed_material" value="paper_goods_and_printed_material"> <label for="trademark_classes_paper_goods_and_printed_material">016: Paper Goods and Printed Material</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_rubber_products" id="trademark_classes_rubber_products" value="rubber_products"> <label for="trademark_classes_rubber_products">017: Rubber Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_leather_products" id="trademark_classes_leather_products" value="leather_products"> <label for="trademark_classes_leather_products">018: Leather Products (not including clothing)</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_non_metallic_building_material_products" id="trademark_classes_non_metallic_building_material_products" value="non_metallic_building_material_products"> <label for="trademark_classes_non_metallic_building_material_products">019: Non-Metallic Building Material Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_furniture_products" id="trademark_classes_furniture_products" value="furniture_products"> <label for="trademark_classes_furniture_products">020: Furniture Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_houseware_and_glass_products" id="trademark_classes_houseware_and_glass_products" value="houseware_and_glass_products"> <label for="trademark_classes_houseware_and_glass_products">021: Houseware and Glass Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_ropes_cordage_and_fiber_products" id="trademark_classes_ropes_cordage_and_fiber_products" value="ropes_cordage_and_fiber_products"> <label for="trademark_classes_ropes_cordage_and_fiber_products">022: Ropes, Cordage and Fiber Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_yarns_and_threads" id="trademark_classes_yarns_and_threads" value="yarns_and_threads"> <label for="trademark_classes_yarns_and_threads">023: Yarns and Threads</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_fabrics" id="trademark_classes_fabrics" value="fabrics"> <label for="trademark_classes_fabrics">024: Fabrics</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_clothing_products" id="trademark_classes_clothing_products" value="clothing_products"> <label for="trademark_classes_clothing_products">025: Clothing Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_lace_ribbons_embroidery_and_fancy_goods" id="trademark_classes_lace_ribbons_embroidery_and_fancy_goods" value="lace_ribbons_embroidery_and_fancy_goods"> <label for="trademark_classes_lace_ribbons_embroidery_and_fancy_goods">026: Lace, Ribbons, Embroidery and Fancy Goods</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_floor_covering_products" id="trademark_classes_floor_covering_products" value="floor_covering_products"> <label for="trademark_classes_floor_covering_products">027: Floor Covering products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_toys_and_sporting_goods_products" id="trademark_classes_toys_and_sporting_goods_products" value="toys_and_sporting_goods_products"> <label for="trademark_classes_toys_and_sporting_goods_products">028: Toys and Sporting Goods Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_meats_and_processed_food_products" id="trademark_classes_meats_and_processed_food_products" value="meats_and_processed_food_products"> <label for="trademark_classes_meats_and_processed_food_products">029: Meats and Processed Food Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_staple_food_products" id="trademark_classes_staple_food_products" value="staple_food_products"> <label for="trademark_classes_staple_food_products">030: Staple Food Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_natural_agricultural_products" id="trademark_classes_natural_agricultural_products" value="natural_agricultural_products"> <label for="trademark_classes_natural_agricultural_products">031: Natural Agricultural Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_light_beverage_products" id="trademark_classes_light_beverage_products" value="light_beverage_products"> <label for="trademark_classes_light_beverage_products">032: Light Beverage Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_wines_and_spirits_products" id="trademark_classes_wines_and_spirits_products" value="wines_and_spirits_products"> <label for="trademark_classes_wines_and_spirits_products">033: Wines and Spirits Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_smokers_products" id="trademark_classes_smokers_products" value="smokers_products"> <label for="trademark_classes_smokers_products">034: Smoker\'s Products</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_advertising_business_and_retail_services" id="trademark_classes_advertising_business_and_retail_services" value="advertising_business_and_retail_services"> <label for="trademark_classes_advertising_business_and_retail_services">035: Advertising, Business & Retail Services</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_insurance_and_financial_services" id="trademark_classes_insurance_and_financial_services" value="insurance_and_financial_services"> <label for="trademark_classes_insurance_and_financial_services">036: Insurance & Financial Services</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_construction_and_repair_services" id="trademark_classes_construction_and_repair_services" value="construction_and_repair_services"> <label for="trademark_classes_construction_and_repair_services">037: Construction and Repair Services</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_communications_services" id="trademark_classes_communications_services" value="communications_services"> <label for="trademark_classes_communications_services">038: Communications Services</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_transportation_and_storage_services" id="trademark_classes_transportation_and_storage_services" value="transportation_and_storage_services"> <label for="trademark_classes_transportation_and_storage_services">039: Transportation & Storage Services</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_treatment_and_processing_of_materials_services" id="trademark_classes_treatment_and_processing_of_materials_services" value="treatment_and_processing_of_materials_services"> <label for="trademark_classes_treatment_and_processing_of_materials_services">040: Treatment & Processing of Materials Services</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_education_and_entertainment_services" id="trademark_classes_education_and_entertainment_services" value="education_and_entertainment_services"> <label for="trademark_classes_education_and_entertainment_services">041: Education and Entertainment Services</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_computer_and_software_services_and_scientific_services" id="trademark_classes_computer_and_software_services_and_scientific_services" value="computer_and_software_services_and_scientific_services"> <label for="trademark_classes_computer_and_software_services_and_scientific_services">042: Computer & Software Services & Scientific Services</label></li>
        <li><input class="trademark_classes" type="checkbox" name="trademark_classes_restaurant_and_hotel_services" id="trademark_classes_restaurant_and_hotel_services" value="restaurant_and_hotel_services"> <label for="trademark_classes_restaurant_and_hotel_services">043: Restaurant and Hotel Services</label></li>
        <li><input class="trademark_classes" type="checkbox"  id="trademark_classes_medical_beauty_and_agricultural_services" value="medical_beauty_and_agricultural_services"> <label for="trademark_classes_medical_beauty_and_agricultural_services">044: Medical, Beauty & Agricultural Services</label></li>
        <li><input class="trademark_classes" type="checkbox"  id="trademark_classes_personal_and_legal_and_social_services" value="personal_and_legal_and_social_services"> <label for="trademark_classes_personal_and_legal_and_social_services">045: Personal & Legal & Social Services</label></li>
    </ul>

    <input type="button" class="previous action-button-previous" value="Back"/>

    <input type="button" class="next action-button" value="Continue"/>
<!--
    <input type="button" onclick="alert(getCheckedCheckboxesFor('trademark_classes'));" value="Get Values" />&ndash;&gt;
-->
   <!-- <input type="button" onclick="getCheckedCheckboxesFor('trademark_classes');" class="next action-button" value="Continue"/>-->
    {% block scripts %}

    <script>

        /*function getCheckedCheckboxesFor(checkboxName) {
            var checkboxes = document.querySelectorAll('input[class="' + checkboxName + '"]:checked'), values = [];
            Array.prototype.forEach.call(checkboxes, function(el) {
                values.push(el.value);
            });
            document.getElementById("trademark_classes").value = values;
         
            return values;
        }*/
        new ConditionalField({
            control: '.trademark_type',
            visibility: {
                'name': '.name',
                'logo': '.logo',
                'name_and_logo': '.name_and_logo'
            }
        });


        new ConditionalField({
            control: '.trademark_type_field',
            visibility: {
                'name': '.name',
                'logo': '.logo',
                'name_and_logo': '.name_and_logo'
            }
        });
        new ConditionalField({
            control: '.currently_using_mark',
            visibility: {
                'true': '.true',
                'false': '.false'
            }
        });
    </script>
    {% endblock %}
</fieldset>

