{{ wtf.form_field(form.date_modified) }}
{{ wtf.form_field(form.COMPANY_NAME) }}
{{ wtf.form_field(form.DOMAIN_NAME) }}
{{ wtf.form_field(form.website_collects_ssn) }}
{{ wtf.form_field(form.affiliates_and_subsidiaries) }}
{{ wtf.form_field(form.contest_or_promotion) }}
{{ wtf.form_field(form.website_collects_data_automatically) }}
<div id="website_collects_data_automatically_subfields">
    {{ wtf.form_field(form.automatic_data_collection_over_time_and_across_third_party_sites) }}
    {{ wtf.form_field(form.automatic_data_collection_may_include_personal_information) }}
</div>
{{ wtf.form_field(form.third_party_use_of_cookies_and_other_tracking_technologies) }}
{{ wtf.form_field(form.use_user_information_to_contact_user) }}
{{ wtf.form_field(form.users_may_access_and_correct_information) }}
<div id="users_may_access_and_correct_information_subfields">
    {{ wtf.form_field(form.correct_information_by_email) }}
    {{ wtf.form_field(form.correct_information_on_website) }}
</div>
{{ wtf.form_field(form.COMPANY_EMAIL) }}
{{ wtf.form_field(form.COMPANY_STREET) }}
{{ wtf.form_field(form.COMPANY_STATE) }}
{{ wtf.form_field(form.COMPANY_ZIP) }}

<script>
  $("#website_collects_data_automatically").change(function () {
    if ($(this).val() == 'yes') {
      $('#website_collects_data_automatically_subfields').show();
    } else {
      $('#website_collects_data_automatically_subfields').hide();
    }
  });
  $("#website_collects_data_automatically").trigger("change")
</script>

<script>
  $("#users_may_access_and_correct_information").change(function () {
    if ($(this).val() == 'yes') {
      $('#users_may_access_and_correct_information_subfields').show();
    } else {
      $('#users_may_access_and_correct_information_subfields').hide();
    }
  });
  $("#users_may_access_and_correct_information").trigger("change")
</script>