{% extends "layout.html" %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->

<body>
<h1>Attorney-Led Trademark Registration—Limited Scope Representation Agreement</h1>

<strong>Updated:</strong> 15 August 2022

Thank You for selecting MC Law to serve as Your counsel. The purpose of this engagement letter is to outline the nature of the engagement and our respective responsibilities and expectations under this Agreement.
This Attorney-Led Trademark Registration Limited Scope Representation Agreement (“Agreement”) is between MC Law, PLLC, (“MC Law”, “we”, or “our”), a Tennessee limited liability company, and the person(s), entity, or recipient (“Client”,”You,” or ”Your") of the attorney led trademark services to be provided by MC Law (as more fully described below). MC Law is a law firm licensed by Tennessee.
The date at the beginning of this Agreement is for reference only. This Agreement is effective as of the date of your purchase order of the attorney led trademark services (“Effective Date”). Please note that Client shall be responsible for any applicable filing fees in addition to the amounts paid for the services hereunder.
In the event that the signing individual is entering into this Agreement on behalf of an additional person(s) or entity (to include, without limitation, a corporation, limited liability company, partnership, limited partnership, joint venture, trust, or estate), the person entering into this Agreement represents and warrants that he/she is authorized to: (i) enter into this Agreement on behalf of the entity or additional person(s); (ii) to retain MC Law to provide the trademark services set forth herein; and (iii) otherwise act on behalf of Client as required by this Agreement.
The Client explicitly acknowledges and agrees that it is the Client under this Agreement and any legal advice is provided for the exclusive benefit of the Client. No person or entity other than the Client is entitled to rely on the legal advice provided by MC Law and MC Law shall have no liability in respect of advice provided to any third party other than the Client.

<h2>Introduction</h2>
The Parties acknowledge and agree that Trademark Genius, is not a party to this Agreement and is not liable for services performed pursuant to this Agreement. A limited scope representation means that the amount of work the attorney performs for Client is limited to certain tasks. Any tasks outside the scope of this Agreement will be Client’s sole responsibility.
MC Law may utilize the services from third parties, including but not limited to, marketing, technology, and/or staffing services from third parties like, but not limited to, Trademark Genius. For clarity, Trademark Genius, is not a regulated provider of legal services.
Attorneys at MC Law do not own equity in Trademark Genius and do not pay anything to Trademark Genius.
You understand that the Trademark Genius, including its website and search engine, are a completely separate business from the law firm, MC Law.
You understand and agree that if You decide to file a trademark application in the United States, you will be represented solely by U.S. licensed attorneys at the law firm of MC Law, PLLC.
You understand and agree that Trademark Genius provides You with an estimate of the costs of Your Trademark Legal Services that are to be performed by MC Law.
You understand and agree that MC Law will prepare and file Your trademark application on Your behalf, but that MC Law will not accept compensation (including the USPTO's filing fee) for the Trademark Legal Services directly from You.
You understand and agree, to streamline the information collection process, Trademark Genius will collect MC Law's estimated costs and the USPTO filing fee from You and that MC Law will indirectly accept Your compensation for the Trademark Legal Services from Trademark Genius.
You understand and agree that there are both current and potential conflicts of interest between MC Law's representation of You in performing the Trademark Legal Services and MC Law's business relationship with Trademark Genius. With full knowledge of the current and potential conflicts of interest from MC Law representing You and MC Law maintaining a business relationship with Trademark Genius, you consent to the actual and potential conflicts of interests between You, MC Law, and Trademark Genius.
MC Law attorneys have duties to the USPTO, courts, and clients. These duties, including the associated responsibilities, such as confidentiality and the rules relating to the attorney-client and attorney work product privileges, are paramount. Although we have not experienced this problem to date, there could be circumstances in which MC Law attorneys believe that in order to comply with these duties they may have to act against the interests of Trademark Genius or the short-term profitability of MC Law. In the event of such a conflict MC Law attorneys will place their ethical duties to USPTO, courts, and clients first.
MC Law agrees to ensure that the disclosure of any of Client’s confidential information to third parties will be governed by confidentiality obligations at least as stringent as the obligations that MC Law has to Client.

<h2>Nature of Limited Representation</h2>
Client and MC Law agree that MC Law is not engaged to represent Client generally in intellectual property or trademark matters, but rather, that such representation is limited to certain specific attorney led Trademark Legal Services (”Trademark Legal Services,” or “Limited Services”) as further described in detail below, and do not include any other services. We will provide the Limited Services in accordance with the relevant law in force at the date of delivery of the Limited Services.
While performing the Limited Services, MC Law: does not promise any particular outcome; relies on Client’s disclosure of information; does not have to provide more services than set forth in this Agreement; and may advise that limited representation is not reasonable for Client and advise that Client needs additional services or another lawyer.
In the provision of the Limited Services, MC Law is entitled to assume that: Client will provide us with all information which is relevant to the matter; and ensure that all information provided to us is complete in all material respects and not misleading.

<h2>Included in the Limited Services</h2>
By entering into this Agreement, Client hereby retains MC Law to provide the Limited Services which will be limited to the following:
<ul>
<li>A single phone consultation (not to exceed 30 minutes) with an attorney (“Initial Consultation);</li>
<li>A Client with an order for a single trademark is entitled to single consultation of up to thirty (30) minutes.</li>
<ul><li>A Client with an order for multiple trademarks is entitled to a single consultation with additional time for each additional mark (to be established by MC Law in its sole discretion).</li></ul>
<li>A trademark search including United States Patent and Trademark Office (”USPTO") and common law results;</li>
<li>A review of Client’s search results and, as deemed necessary by MC Law, consultation on potential conflicts;</li>
<li>Preparation and filing of your trademark application with the USPTO, where your attorney will serve as attorney of record (subject to the limitations herein) and Client will sign the trademark application attesting to the veracity of the content and the use of the mark in commerce, or bona fide intent to do so, as alleged by the Client. Alternatively, at MC Law’s option, MC Law may sign the trademark application on behalf of the Client. In such case, the Client shall defend, indemnify, and hold harmless MC Law from any harm resulting from any statements made by the Client in the application which are false or misleading.</li>
<li>Other tasks as mutually agreed upon by Client and MC Law. MC Law retains sole discretion with respect to whether a task or service is in or out of scope under this Agreement.</li>
</ul>

Client shall maintain control over which services within the Limited Services it would like to utilize, however such Limited Services must be completed within the Term (defined below). Additionally, regardless of whether Client chooses to proceed with some, all, or none of the possible services hereunder–e.g., Client has a trademark search completed but does not proceed with an application; Client never completes any services after the Initial Consultation; or Client dislikes the results of the search result analysis and decides not to proceed–the Limited Services will be deemed completed at the end of the Term.
If any of the following occur, the term of this Agreement shall automatically terminate: If Client files an application pursuant to the services rendered hereunder and Client’s application is: (1) approved by the United States Patent and Trademark Office (“USPTO”); (2) rejected by the USPTO and Client does not retain MC Law as counsel; or (3) objected to by a third party and Client does not retain MC Law as counsel; in each such instance, MC Law may remove itself as the attorney of record on Client’s trademark application/registration unless they are retained by Client for additional services.

<h2>Excluded Legal Services</h2>
The Limited Services have express exclusions, which include, without limitation, the following:
<ul>
<li>Work for a client where the attorney believes there is a conflict;</li>
<li>Responses to Office Action(s);</li>
<ul><li>Office Actions may be issued for a variety of reasons. MC Law may choose to respond to Office Actions as part of the Limited Services. It shall be within MC Law’s sole discretion to determine if an Office Action falls within the scope of the Limited Services.</li></ul>
<li>Work related to an appeal, notice of suspension, or objection subsequent to the filing of Client’s trademark application;</li>
<li>Representation and/or responses to third-party objections of any kind (whether before or after the date of filing of the trademark application);</li>
<li>Any work related to intellectual property litigation, cease & desist demands, and/or claims of infringement, including without limitation, requests for the attorney to participate in any deposition concerning any trademark application filed pursuant to this Agreement;</li>
<li>The filing of any trademark application or other filing where required material (including, without limitation, an appropriate specimen or dates of use) is not received by MC Law;</li>
<li>The filing of any trademark application or other filing where a credit card or other payment is declined, the funds are not actually received by MC Law, or Client initiates a chargeback for such funds;</li>
<li>Monitoring of marks;</li>
<li>Any work after termination or expiration of this Agreement; and</li>
<li>Any other service not included as a Limited Service under this Agreement.</li>
</ul>

<h2>Client Submitted Information and Materials</h2>
Specific types of filings may have an applicable filing deadline set by the USPTO. If there is an applicable filing deadline, MC Law may set a due date for all applicable materials and fees before the USPTO filing deadline to allow ample time for MC Law to prepare and submit the filing. MC Law’s due date will be conveyed to Client in writing. If Client fails to provide required materials and funds by MC Law’s due date, regardless of whether such the filing deadline has passed, Client explicitly releases MC Law from all liability related to that specific filing and/or any effect it may have on Client’s trademark application or trademark rights as a whole, and Client shall indemnify and hold MC Law harmless from all claims related to same.
In connection with analysis of the trademark, and if applicable, preparation of the trademark application and subsequent filings, Client is required to submit information and/or materials to MC Law. Client is prohibited from submitting physical documents or materials (whether an original or copy) to MC Law. In the event that Client does submit any physical item to MC Law in connection with the Limited Services, Client recognizes that MC Law specifically disclaims liability for such submissions, may retain digital copies of such submissions, and will not return those materials to Client.
Further, Client represents and warrants that all information and materials submitted in connection with its trademark application (including, without limitation, a specimen or dates of use) are accurate, complete, and not misleading. Client represents and warrants that any specimen submitted is an accurate snapshot of the mark used in commerce and is not a digital rendering.

<h2>Client Responsibilities</h2>
Client agrees to assist and cooperate fully with respect to Agreement. Client acknowledges its responsibility for the following:

<ul>
<li>Client agrees to cooperate and respond promptly to all inquiries and requests for information from MC Law;</li>
<li>Client agrees to be truthful and to fully and accurately disclose to us all facts that may be relevant to the matter or that we otherwise may request;</li>
<li>Client agrees to timely provide any new information that you receive about the matter so that we can represent you effectively;</li>
<li>Client agrees to keep MC Law updated with current contact information (including without limitation, telephone numbers, physical address, and email address);</li>
<li>Client agrees to regularly check the email address provided to MC Law for correspondence related to this Agreement, and further accepts responsibility for receipt of communications sent via email.</li>
</ul>
Client agrees to receive communication by email. MC Law is not obligated to send correspondence by U.S. or international postal mail. MC Law disclaims any and all responsibility related to emails or correspondence not received by Client, whether due to Client’s security or anti-spam software, or any other problems within Client’s email system and/or disclaims any liability or damages, of whatever nature, caused by Client’s failure to update and/or check its email address on file. In the event that MC Law withdraws as counsel of record (for any reason) after MC Law has filed Client’s trademark application with the USPTO, MC Law will provide Client’s then-current email address to the USPTO. Client explicitly authorizes this disclosure of contact information.
Client understands that the USPTO encourages the use of and prefers that trademark applicants utilize the Trademark Electronic Application System (“TEAS”) for filing trademark applications. If Client proceeds with a trademark application filed by MC Law, Client authorizes MC Law to: (1) file the trademark through the online TEAS system; and (2) submit documents and communications electronically on Client’s behalf. Client agrees that MC Law may authorize the USPTO, on Client’s behalf, to contact Client at the email address on file with MC Law. If Client does not want to utilize TEAS for its trademark application, Client must notify MC Law as quickly as possible – in this event, Client is likely to be assessed additional filing fees by the USPTO.

<h2>Privacy and Information Security</h2>
Client agrees that MC Law may share information with Trademark Genius that is related to MC Law’s representation of Client, provided that such information is not covered by the attorney client privilege. Client agrees that MC Law may also share Client’s order information with Trademark Genius.
Client understands that information submitted through the Trademark-Genius.com website (including, without limitation, using the questionnaire on the Trademark-Genius.com website) or to employees of Trademark Genius not working for MC Law will not be protected by attorney-client privilege, and Client is hereby discouraged from submitting any non-public information through those avenues. There is no attorney-client privilege between Client and Trademark Genius.
MC Law may store some or all of Client’s files on a variety of platforms, including third-party cloud-based servers. MC Law conforms with its professional obligations in relation to cybersecurity and data protection and although MC Law takes every precaution to ensure security of these platforms, there is still a risk that Client’s confidential or privileged information may be disclosed. By entering into this Agreement, Client consents to MC Law’s use of such storage services. Additionally, Client expressly assumes all risks for technical difficulties in placing its order(s) or submitting any information, including any privileged or confidential information, over the Internet.

<h2>Confidentiality</h2>
It is in your best interest to preserve the confidentiality of all communications between us. Your ability to protect the confidentiality of those communications may be jeopardized if you disclose their contents to third parties.

<h2>Term</h2>
Term. The Term of this Agreement is for a period of 120 days from the Effective Date, unless terminated earlier as described herein (the “Term”). All Limited Services are deemed completed on the termination of this Agreement, on expiry of the Term or for any other reason.

<h2>Termination. This Agreement may be terminated:</h2>
<ul>
<li>by Client for any reason by giving written notice of such termination. Such termination shall be deemed effective when received. MC Law shall perform no additional services and advance no further costs on Client’s behalf after receipt of the notice. Client agrees to execute and return a substitution of attorney form immediately if requested by MC Law. Upon termination, all Limited Services will be deemed completed.</li>
<li>by MC Law at any time for good reason by giving you reasonable notice in written communication and provided that we also explain to you the basis of our decision.</li>
<li>by either party for material breach of any provision of this Agreement by the other party, if the material breach is not cured within 10 days of written notice specifying the nature of the breach; or</li>
<li>by MC Law, if required under the ethical rules of conduct in the state of license of Client’s attorney, the USPTO or the State of Tennessee, or if required due to a conflict of interest. MC Law shall inform Client in writing if it becomes aware that it has represented a client with an interest in Client’s matter. If a conflict of interest is found which requires MC Law to decline representation, or if both parties do not consent, MC Law will not find alternative counsel.</li>
</ul>

Withdrawal. In the event that MC Law terminates this Agreement for any reason before the end of the Term and MC Law has filed a trademark application on Client’s behalf that has not yet registered, Client will withdraw as the attorney of record with the USPTO.

<h2>Fees</h2>
Due Immediately. The purchase price for the Limited Services (“Service Fees”) is due in full immediately upon entering into this Agreement. For clarity, this Agreement shall not commence until the Service Fees have been paid in full. It is expressly understood that this fee is not a retainer, but a flat-fee based upon the scope set forth herein.
Earned-on-receipt. The Service Fees are earned-on-receipt and will not be billed against on an hourly basis. It will not be deposited into our client trust account, but will be deposited into our general operating account. Even though the Service Fees are earned-on-receipt, you may nevertheless discharge us at any time and in that event may be entitled to a refund of all or part of the Service Fees based upon the value of the representation.
Suspension of Account. In the event that Client has an overdue account or payment dispute with MC Law, MC Law may suspend Client’s account and access to the Limited Services hereunder until the account is brought current or such dispute is resolved.
Filing Fees. Client is responsible for all applicable filing fees related to its trademark application (if Client chooses to file an application with the USPTO), including, without limitation, the initial application fees and the fees per class of goods or services. Filing fees are set by the USPTO and are nonrefundable for any reason once the filing is submitted to the USPTO, regardless of whether Client’s trademark application eventually proceeds to registration or is rejected by the USPTO. Filing fees are assessed per class. Client may request a summary of then-current filing fees from its attorney at any time.
Hourly Fees for Additional Services Beyond the Scope of this Agreement. Our hourly fees for additional services performed beyond the scope of this Agreement are based on time spent by the attorneys and legal assistants working on the matter. The work on your matter will be billed at a discounted hourly rate of $170. We bill our rates in minute intervals (increments of 6 of an hour).

<h2>Disclaimer of Guarantee</h2>
Nothing in this Agreement and nothing in our statements to you will be construed as a promise or guarantee about the outcome of your matter. We make no such promises or guarantees. Neither MC Law nor your attorney can guarantee a particular result. There is no guarantee that any trademark application filed will result in the registration of the proposed mark, or that conducting a search will increase the likelihood that the proposed mark will be registered. Although your attorney may offer an opinion about possible results regarding your trademark application, neither MC Law nor your attorney can guarantee any particular result. You acknowledge that no statement(s) by MC Law or your attorney should be construed as a promise or guarantee. Further, any opinion offered by your attorney in the future will not constitute a guarantee. There is absolutely no guarantee that any trademark application filed by MC Law will result in the registration of the proposed mark, or that any search performed will increase the likelihood that the proposed mark will be registered, or that the results will be complete. Trademark examiners at the USPTO each have subjective opinions and these may vary from examiner to examiner.

<h2>Dispute Resolution; Binding Arbitration</h2>
Please read the following section carefully because it requires you to arbitrate certain disputes and claims with MC Law and limits the manner in which you can seek relief from us, unless you opt out of arbitration by following the instructions set forth below. No class or representative actions or arbitrations are allowed under this arbitration provision. In addition, arbitration precludes you from suing in court or having a jury trial.
No Representative Actions. You and MC Law agree that any dispute or claim between us, including those arising out of or related to these Terms or our Services, is personal to you and MC Law and that any dispute will be resolved solely through individual action, and will not be brought as a class arbitration, class action or any other type of representative proceeding. For the purposes of this Arbitration Agreement, references to " MC Law," “you,” and “us” include our respective subsidiaries, affiliates, agents, employees, employers, business partners, shareholders, predecessors in interest, successors, and assigns, as well as all authorized or unauthorized users or beneficiaries of services or products under these Terms or any prior agreements between us. Beneficiaries include, but are not limited to, those named in an estate planning document
Arbitration of Disputes. Most customer concerns can be resolved quickly and to the customer’s satisfaction by calling our Customer Care Center at 202-743-1972 In the unlikely event that MC Law is unable to resolve your complaint to your satisfaction (or if MC Law has not been able to resolve a dispute it has with you after attempting to do so informally), this Section (Dispute Resolution: Binding Arbitration) applies. Except for small claims disputes in which you or MC Law seeks to bring an individual action in small claims court located in the county of your billing address or disputes in which you or MC Law seeks injunctive or other equitable relief for the alleged infringement or misappropriation of intellectual property, you and MC Law waive your rights to a jury trial and to have any other dispute or claim between us, including those arising out of or related to this Agreement, and including claims related to privacy and data security, (collectively, “Disputes”) resolved in court. This includes (a) claims arising out of or relating to any aspect of the relationship between us, whether based in contract, tort, statute, fraud, misrepresentation, or any other legal theory; (b) claims that arose before you accepted this Agreement (including, but not limited to, claims relating to website use and advertising); and (c) claims that are currently the subject of purported class action litigation in which you are not a member of a certified class.
Instead, for any Dispute that you have against MC Law you agree to first contact MC Law and attempt to resolve the claim informally by sending a written notice of your claim (“Notice”) to MC Law as set out in the Notice provision of this Agreement. The Notice must (a) include your name, residence address, email address, and telephone number; (b) describe the nature and basis of the Dispute; and (c) set forth the specific relief sought. Our notice to you will be similar in form to that described above. If you and MC Law cannot reach an agreement to resolve the Dispute within thirty (30) days after such Notice is received, then either party may submit the Dispute to binding arbitration administered by JAMS or, under the limited circumstances set forth herein, in court. All Disputes submitted to JAMS will be resolved through confidential, binding arbitration before one arbitrator. Unless the parties agree in writing to a different location, arbitration proceedings will be held in Shelby County, Tennessee.
You and MC Law agree that Disputes will be held in accordance with the JAMS Streamlined Arbitration Rules and Procedures (“JAMS Rules”) in effect at the time arbitration is filed. The most recent version of the JAMS Rules are available on the JAMS website and are hereby incorporated by reference. You either acknowledge and agree that you have read and understand the JAMS Rules or waive your opportunity to read the JAMS Rules and waive any claim that the JAMS Rules are unfair or should not apply for any reason. The parties acknowledge that the purpose of this Section (Dispute Resolution; Binding Arbitration) is to streamline the dispute resolution process and that Coordinated Filings are likely to frustrate that purpose. As a result, you agree not to assert a demand for arbitration as part of a Coordinated Filing. A “Coordinated Filing” is any demand for arbitration where the underlying claim is similar to at least ten (10) or more other pending demands for arbitration and where representation for that demand is consistent or coordinated with such other demands. Without limiting any remedies, in the event your demand is part of a Coordinated Filing, we may, at our option, decline arbitration and instead litigate the claim in a civil court of competent jurisdiction in accordance with the terms of The Governing Law and Venue Section below.
You and MC Law agree that these Terms affect interstate commerce and that the enforceability of this Section 16 will be substantively and procedurally governed by the Federal Arbitration Act, 9 U.S.C. § 1, et seq. (the “FAA”), to the maximum extent permitted by applicable law. As limited by the FAA, these Terms and the JAMS Rules, the arbitrator will have exclusive authority to make all procedural and substantive decisions regarding any Dispute and to grant any remedy that would otherwise be available in court, including the power to determine the question of arbitrability. The arbitrator may conduct only an individual arbitration and may not consolidate more than one individual’s claims, preside over any type of class or representative proceeding or preside over any proceeding involving more than one individual.
The arbitration will allow for the discovery or exchange of non-privileged information relevant to the Dispute. The arbitrator, MC Law, and you will maintain the confidentiality of any arbitration proceedings, judgments and awards, including information gathered, prepared and presented for purposes of the arbitration or related to the Dispute(s) therein. The arbitrator will have the authority to make appropriate rulings to safeguard confidentiality, unless the law provides to the contrary. The duty of confidentiality does not apply to the extent that disclosure is necessary to prepare for or conduct the arbitration hearing on the merits, in connection with a court application for a preliminary remedy or in connection with a judicial challenge to an arbitration award or its enforcement, or to the extent that disclosure is otherwise required by law or judicial decision.
You and MC Law agree that for any arbitration you initiate, you will pay the filing fee (up to a maximum of $250 if you are a Consumer, as defined above), and MC Law will pay the remaining JAMS fees and costs. For any arbitration initiated by MC Law, MC Law will pay all JAMS fees and costs. You and MC Law agree that the state or federal courts of the State of Tennessee and the United States sitting in Shelby County, Tennessee have exclusive jurisdiction over any appeals and the enforcement of an arbitration award.
You have the right to opt out of binding arbitration within 30 days of the date you first accepted the terms of this Section (Dispute Resolution; Binding Arbitration) by sending, by email to support@mclaw.io, a written Notice of Opt Out to MC Law pursuant to the notice provision above. To be effective, the opt-out notice must include your full name and address and clearly indicate your intent to opt out of binding arbitration. By opting out of binding arbitration, you are agreeing to resolve Disputes in accordance with the Governing Law and Venue section below though, as stated above, you agree any such action will be brought as individual action, and will not be brought as a class arbitration, class action or any other type of representative proceeding.
If any portion of this Section (Dispute Resolution; Binding Arbitration) is found to be unenforceable or unlawful for any reason, (a) the unenforceable or unlawful provision shall be severed from this Agreement; (b) severance of the unenforceable or unlawful provision shall have no impact whatsoever on the remainder of this Section (Dispute Resolution; Binding Arbitration) or the parties’ ability to compel arbitration of any remaining claims on an individual basis pursuant to this Section (Dispute Resolution; Binding Arbitration) and (c) to the extent that any claims must proceed on a class, collective, consolidated, or representative basis, such claims must be litigated in a civil court of competent jurisdiction and not in arbitration, and the parties agree that litigation of those claims shall be stayed pending the outcome of any individual claims in arbitration. Further, if any part of this Section (Dispute Resolution; Binding Arbitration) is found to prohibit an individual claim seeking public injunctive relief, that provision will have no effect to the extent such relief is allowed to be sought outside of arbitration, and the remainder of this Section (Dispute Resolution; Binding Arbitration) will be enforceable.

<h2>Governing Law and Venue</h2>
Any dispute arising from this Agreement or your use of MC Law’s services will be governed by and construed and enforced in accordance with the laws of Tennessee, except to the extent preempted by U.S. federal law, without regard to conflict of law rules or principles (whether of Tennessee or any other jurisdiction) that would cause the application of the laws of any other jurisdiction. Any dispute between the parties that is not subject to arbitration or cannot be heard in small claims court will be resolved in the state or federal courts of Tennessee and the United States, respectively, sitting in Shelby County, Tennessee.

<h2>Notice</h2>
Any notices required or otherwise sent under the Agreement must be in writing sent via email. Notices shall be deemed sent on the same business day as transmitted (or the next business day if sent on a weekend or holiday). Notices shall be sent to the parties at the following addresses:
If to Client: to Client’s email on file with MC Law.
If to MC Law: support@mclaw.io.

<h2>Entire Agreement</h2>
This Agreement constitutes the sole and entire agreement between the Parties with regards to the Limited Services, and supersedes all prior and contemporaneous understandings, agreements, representations, and warranties, both written and oral, with respect to the subject-matter. In the event of any inconsistency between the statements in this Agreement, the statements in this Agreement shall control.

<h2>Miscellaneous</h2>
This Agreement may be supplemented and/or amended by agreement in writing but MC Law is not free to amend provisions which are a matter of applicable professional regulation or law. If any provision of this conflicts with any mandatory element of those regulatory requirements, the latter shall prevail.
MC Law reserves the right to refuse service to any individual or entity.
Neither you nor we shall be liable for any failure to perform, or delay in performing, any obligations (other than payment and indemnity obligations) if and to the extent that the failure or delay is caused by Force Majeure and the time for performance of the obligation, the performance of which is affected by Force Majeure, shall be extended accordingly.
Each of these terms shall be severable and distinct from the others and if any term is held to be illegal, invalid or unenforceable, in whole or in part, the remaining terms shall not be affected.
Consistent with law, our regulatory requirements and our internal policies and procedures, we will not discriminate in the way we provide or refuse to provide our services on the grounds of race or racial group (including color, nationality and ethnic or national origin); sex (including marital status, gender reassignment, pregnancy, maternity and paternity); sexual orientation (including civil partnership status); religion or belief; age; or disability.
In the event that Client has purchased additional products or services to be rendered by or through Trademark Genius, the terms of this Agreement are only applicable to the Limited Services rendered hereunder and to the extent of any conflict with Trademark Genius policies or terms or other agreements, this Agreement shall supersede and replace any other such conflicting terms or policies.
Any services or products to be rendered by or through Trademark Genius, shall be subject to the terms and conditions applicable to those specific purchases. Any use of the Trademark-Genius.com site is subject to Trademark Genius’s Terms of Use and Privacy Policy.
</body>
{% endblock %}