<p class="c-margin-t-20"><strong>Legal Disclaimer:</strong> UpLaw is not a law firm. UpLaw is
  software. More specifically, UpLaw is software consisting of a law
  library and an automated legal services platform that uses big data, data science, machine
  learning, artificial intelligence and other technologies to solve legal issues. Communication
  between you and UpLaw is protected by our Privacy Policy and not by attorney-client privilege.
  UpLaw is software. UpLaw is not a law firm and cannot provide legal advice. UpLaw provides
  information and software, and you are responsible for appropriately using this material. All UpLaw
  products and services should be discussed and reviewed with a licensed attorney. </p>