{% extends "layout.html" %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
  <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
  <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
      <div class="c-page-title c-pull-left">
        <h3 class="c-font-uppercase c-font-sbold">Website Privacy Policy</h3>
      </div>
      <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
        <li><a href="/">Home</a></li>
        <li>/</li>
        <li><a href="/legal">Legal</a></li>
        <li>/</li>
        <li class="c-state_active">Website Privacy Policy</li>
      </ul>
    </div>
  </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: BLOG LISTING -->
  <div class="c-content-box c-size-md">
    <div class="container">
      <div class="row">
        <h2>Privacy Policy</h2>
        <p>UpLaw.com, Inc. (“UpLaw” “We”, “Us”) is sensitive to your concerns about how we use the
          personal information we collect from you and about you. UpLaw takes your privacy
          seriously, and has implemented this privacy policy (the "Privacy Policy") and internal
          policies and practices to keep your personal and financial information secure. The Privacy
          Policy covers UpLaw's treatment of the Personally Identifiable Information we collect
          about you. It also describes the choices available to you regarding our use of your
          personal information and how you can access and update this information. This Privacy
          Policy is incorporated into our Terms of Use and Terms of Service, and therefore governs
          your use of the Online Services. By using UpLaw Online Services, you accept the terms of
          this Privacy Policy. If you have questions or concerns about the Privacy Policy, please
          contact Customer Care at customercare@uplaw.com.</p>

        <p>This Privacy Policy does not cover information that you may provide in connection with
          your use of UpLaw’s Identity Protection or Business Data Protection services. Instead, the
          information that you provide in connection with those services are governed by the
          Experian Privacy Policy, as described at time of activation.</p>

        <h3>What Information Do We Collect About Our Customers?</h3>
        Traffic Data. UpLaw may collect a variety of visitor data such as IP addresses, browser
        settings, internet service provider (ISP) information, referring/exit pages, operating
        systems, date/time stamps, and clickstream data (collectively "Visitor Data"). The UpLaw
        internal servers and software automatically recognize Visitor Data. UpLaw's website (the
        "Site") may use Visitor Data to compile traffic data about the types of visitors who use the
        Site at specific intervals (collectively "Traffic Data").

        We may use Traffic Data to analyze Site traffic, but this information is not examined for
        Personally Identifiable Information. We may also use Traffic Data to diagnose problems with
        our server, administer our Site, or display content according to your preferences. Visitor
        Data and Traffic Data may also be shared with business partners, affiliates, or advertisers
        on an aggregated and anonymous basis.

        Cookies and Similar Technologies. UpLaw and its partners may use the standard cookie feature
        of major browser applications and third-party providers, including Google Analytics features
        (Remarketing, Google Display Network Impression Reporting, the DoubleClick Campaign Manager
        Integration and Google Analytics Demographics and Interest Reporting), or employ internally
        developed cookies and tracking codes, that allow UpLaw to store a small piece of data on a
        visitor's computer, or any other device a visitor uses to access Online Services, about his
        or her visit to the Site or use of other plug-ins exchanging information with UpLaw
        ("Applications"). (The Site and Applications are sometimes collectively referred to as
        "Online Services" for simplicity.) Similar technologies, such as java scripts or etags, are
        also used to analyze trends, administer the website, track users’ movements around the
        website, and to gather demographic information about our user base as a whole. You can
        remove persistent cookies by following directions provided in your Internet browser’s “help”
        directory. If you reject cookies, you may still use our site, but your ability to use some
        areas of our site, such order forms, will be limited.

        To manage Flash cookies, please click here:
        www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html

        Web Beacons. We employ a software technology called clear gifs (a.k.a. web beacons), that
        help us track referrals from our partners and affiliates and better manage content on our
        site. Clear gifs are tiny graphics with a unique identifier, similar in function to cookies,
        and are used to track the online movements of web users. In contrast to cookies, which are
        stored on a user’s computer hard drive, clear gifs are embedded invisibly on web pages and
        are about the size of the period at the end of this sentence. We do not tie the information
        gathered by clear gifs to our customers’ Personally Identifiable Information.

        3rd Party Tracking. The use of tracking technologies by our service providers, technology
        partners or other 3rd party assets (such as social media links) on the site is not covered
        by our Privacy Policy. These 3rd parties may use cookies, clear gifs, images, and scripts to
        help them better manage their content on our site. We do not have access or control over
        these technologies. We do not tie the information gathered to our Customers’ or Users’
        Personally Identifiable Information.

        Personal Information. UpLaw requires each customer to provide us with personal information
        (collectively "Personally Identifiable Information") to access and use UpLaw products and
        services. Personally Identifiable Information is captured when a visitor accesses Online
        Services, or speaks on the phone with a UpLaw employee, and willingly discloses that
        information. This disclosure may occur when a visitor registers with an Online Service,
        engages in transactions, contacts customer service, or participates in contests, promotions,
        surveys, forums, content submissions, requests for suggestions, or other aspects of services
        offered by UpLaw.

        Personally Identifiable Information includes but is not limited to: (i) "Contact Data" (such
        as your name, address, city, state, zip code, phone number, and email address); (ii)
        "Financial Data" (such as your credit card number, expiration date, and verification code or
        bank account information); (iii) "Demographic Data" (such as your zip code and sex); and
        (iv) other "Legal Data" (such as your social security number, EIN number, mortgage
        information, automobile information, marital information, trade secrets, inventions, and
        idea submissions and other sensitive information necessary to generate legal documents).

        We may also receive information about our customers or potential customers from other
        sources, including from employers who have purchased our products on behalf of their
        employees, from publicly available sources, and through other commercially available sources
        of information. In some instances we may combine this data with information we already have
        or that we later receive from our customers. This helps us to update, expand, and analyze
        our records, and to provide better service to our customers and potential customers. Other
        than information obtained from publicly available sources, we will only use this information
        for the specific reasons that it was provided to us, which may include marketing related
        uses. Examples of the types of Personally Identifiable Information that we may receive from
        third parties include Contact Data and Legal Data.

        We may collect information from you about third party individuals in order to provide you
        service. For example, we may ask you for information about the beneficiaries in your will,
        shareholders of a company, or authorized contacts to access your UpLaw account. UpLaw uses
        this information for the sole purpose of administering services to you, and does not use
        such information for any other reason.

        If you are not a UpLaw customer but believe that UpLaw has your personal information that
        you would like to be deleted, please contact us at customercare@uplaw.com. If you are a
        UpLaw customer, please refer to the section “Accessing and Changing Your Account” for
        information about accessing and deleting your account.

        Certain personal information becomes public record when documents are filed with the federal
        or state government, or with a court. For example, a corporation's name, business address,
        and registered agent name become public information when its articles of incorporation are
        filed. A Secretary of State may publish this information to its website or provide this
        information to third parties for a fee. The U.S. Patent and Trademark Office publishes the
        names and addresses of trademark registrants. In some states, fictitious business names,
        including the name and address of the business owner, must be published in a newspaper. The
        UpLaw Privacy Policy does not cover these or similar third-party actions.

        Testimonials and Reviews. We display personal testimonials of satisfied customers received
        through email surveys. We ask for your specific consent as part of the survey. If you wish
        to update or delete your testimonial, you can contact us at customercare@uplaw.com. We also
        display customer reviews. If you provide a review that we display and wish to update or
        delete it, you can also contact us at customercare@uplaw.com.

        Calls/Electronic Communications. In the regular course of our business, UpLaw may monitor
        and record phone conversations or email communications between you and UpLaw employees for
        training and quality assurance purposes. We may receive a confirmation when you open or
        click on content in an email from us, which helps us make our communications to you more
        useful and interesting. If you do not wish to receive email from UpLaw, you may unsubscribe
        from our mailing list by using the "Unsubscribe" link on any of the emails we send.

        How Do We Use the Information We Collect and Do We Share the Information We Receive?
        We use information we collect to communicate with you, process your orders, facilitate your
        transactions with our third-party marketing partners, for research into how to improve our
        product offerings, and inform you of offers and discounts. For example, you may receive a
        welcome email that confirms your username and password, and later receive communications
        responding to your inquiries, providing services you request, and managing your account. We
        occasionally send service-related announcements, for example, to alert you if we need to
        temporarily suspend the Site for maintenance.

        Opting Out. We send promotional emails and newsletters from time to time to users who have
        registered on the site and to those who have opted in to receive such emails. Generally, you
        may not opt-out of service-related or transactional communications, which are not
        promotional. If you do not wish to receive service-related communications, you may terminate
        your account by contacting Customer Care at customercare@uplaw.com or (800) 773-0888.
        However, you can opt-out of promotional communications by using the "Unsubscribe" link and
        following the unsubscribe instructions in any electronic communication or by emailing us at
        customercare@uplaw.com.

        You may choose not to provide UpLaw with Personally Identifiable Information or you may turn
        off cookies in your browser by changing its settings. If you make these decisions, you may
        continue to use the Online Services and browse its pages. However, UpLaw cannot process
        orders without Personally Identifiable Information.

        Surveys, Sweepstakes, and Contests. We may provide you the opportunity to participate in
        surveys on our site, to measure customer satisfaction. If you participate, we may request
        certain personally identifiable information from you. Participation in these surveys,
        sweepstakes, or contests is completely voluntary and you therefore have a choice whether or
        not to disclose this information. The requested information typically includes name, email
        address, and mailing address.

        We use this information to notify contest winners and award prizes, to monitor site traffic
        or personalize the site, and/or to send participants an email newsletter.

        We may use a third party service provider to conduct these surveys or contests; that company
        will be prohibited from using our users’ personal information for any other purpose. We will
        not share the personal information you provide through a contest or survey with other third
        parties unless we give you prior notice and choice.

        We share customer information with third parties only as follows:

        Order Processing. UpLaw, sometimes with the assistance of a third party or UpLaw subsidiary,
        may use your Personally Identifiable Information to process your payment through merchant
        account services, and to generate the products and services you order. Your Contact Data may
        be used to follow up with you on transactions you initiate, respond to inquiries, inform you
        of changes to Online Services, and send you additional information about UpLaw and its
        products and services.

        Registered Agent Requests. If you designate a person or company other than UpLaw to serve as
        the registered agent for your business entity, UpLaw may provide your name and contact
        information to that party, if the designee requests.

        Third Party Marketing. Unless specifically authorized by you, we do not provide Personally
        Identifiable Information to third parties for their marketing purposes. If you express
        interest in a third party offer, we may provide your Personally Identifiable Information to
        that third party solely in connection with the offer you have selected. In addition to
        sharing your Contact Data, we may also share details regarding your purchase from UpLaw, as
        well as your Financial, Demographic, or Legal Data with these third parties. If you later
        decide to opt-out from allowing UpLaw to share your Personally Identifiable Information with
        third parties for their marketing purposes, you may do so by contacting Customer Care at
        customercare@uplaw.com or (800) 773-0888. To the extent that UpLaw has already shared your
        Personally Identifiable Information with third parties for their marketing purposes prior to
        your decision to opt-out, you may opt out from future marketing by contacting the Third
        Parties directly.

        Required by Law. We may also disclose your personal information: as required by law, such as
        in response to a subpoena, a lawful request by a public authority, including to meet
        national security or law enforcement requirements, or similar legal process, and when we
        believe in good faith that disclosure is necessary to protect our rights, protect your
        safety or the safety of others, investigate fraud, or respond to a legal request.

        Visitor Demographics. Contact Data and Traffic Data are used to gather general statistics
        about our customers and visitors. We may use Demographic Data to generate collective
        information about our users, but not in a way that identifies any user specifically. For
        example, we may inform third parties about the number of registered users and unique
        visitors, and the pages most frequently browsed.

        Legal Plan Attorneys and Attorney-Assisted Products. As a convenience to you and your
        attorney, we may share your Personally Identifiable Information, information about your
        order, and your order history with your legal plan attorneys and with attorneys who service
        our attorney-assisted products. We will notify you prior to sharing this information and,
        where the information is not necessary to complete your order, give you the opportunity to
        opt-out.

        Service Providers. We may share your Personally Identifiable Information with companies that
        provide support services to us (such as a printer or email service provider), help us market
        our products and services, or for training purposes. These companies may need information
        about you in order to perform their functions. These companies are not authorized to use the
        information we share with them for any other purpose.

        Business Partners. When you purchase a product from us that is bundled with a product
        offered by one of our business partners, we will share your Personally Identifiable
        Information with those business partners so that they can provide you with the product or
        services included with your purchase. These companies are not authorized to use the
        information we share with them about you for their own marketing purposes without first
        asking for your permission.

        Partner and Affiliate Tracking. Our partners and affiliates, including Google Analytics
        (Remarketing, Google Display Network Impression Reporting, the DoubleClick Campaign Manager
        Integration, and Google Analytics and Interest Reporting), may use cookies and web beacons
        to collect non-personally identifiable information about your activities on this and other
        websites to provide you targeted advertising based upon your interests. This means that
        these partners and affiliates may show our ads on sites across the Internet based upon your
        previous visits to our site. Together with our partners and affiliates, we may use these
        cookies and web beacons to report how your ad impressions, other uses of ad services, and
        interactions with these ad impressions and ad services are related to your visits to our
        site.

        If you would like to learn more or opt out of receiving online display advertising tailored
        to your interests, please visit the Networking Advertising Initiative at
        www.networkadvertising.org/managing/opt_out.asp or the Digital Advertising Alliance at
        http://aboutads.info/choices. If you wish to not have this information used for the purpose
        of serving you targeted ads, you may opt-out by clicking here. Please note this does not opt
        you out of being served advertising. You will continue to receive generic ads. If you delete
        your cookies, use a different browser, or buy a new computer, you will need to renew your
        online display advertising opt-out choice. You may also visit Google Analytics’ Ads Settings
        to opt out of Google’s use of cookies and customize Google Display Network ads, and Google
        Analytics’ Opt Out Browser Add-on for the web.

        Blogs and Forums. The Site includes a publically accessible blog and interactive forums. You
        should be aware that any information you provide in these areas may be read, collected, and
        used by others who access them. You should use caution when deciding whether to disclose
        your personal information in these areas of the site. To request removal of your personal
        information from our community forums, contact us at customercare@uplaw.com. In some cases,
        we may not be able to remove your personal information, in which case we will let you know
        if we are unable to do so and why.

        Other Transfers. We may share Personally Identifiable Information and other data with
        businesses controlling, controlled by, or under common control with UpLaw. If UpLaw is
        merged, acquired, or sold, or if some or all of our assets or equity are transferred, we may
        disclose or transfer Personally Identifiable Information and other data in connection with
        the associated transactions.

        Bankruptcy. In the event of a UpLaw bankruptcy, insolvency, reorganization, receivership, or
        assignment for the benefit of creditors, or the application of laws or equitable principles
        affecting creditors' rights generally, we may not be able to control how your personal
        information is treated, transferred, or used. If such an event occurs, your Personally
        Identifiable Information may be treated like any other UpLaw asset and sold, transferred, or
        shared with third parties, or used in ways not contemplated or permitted under this Privacy
        Policy. In this case, you will be notified via email and/or a prominent notice on our site
        of any change in ownership or uses of your personal information, as well as any choices you
        may have regarding your personal information.

        Links
        Third-Party Websites. UpLaw may maintain links to other websites and other websites may
        maintain links to the Online Services. This Privacy Policy applies only to UpLaw.com and not
        to other websites accessible from UpLaw or that you use to access UpLaw, each of which may
        have privacy policies materially different from this Privacy Policy. For instance, when
        using Identity Protection products (including Business Data Protection and UpLaw Identity
        Protection), you will visit websites maintained by UpLaw’s partner Experian , and the
        Experian privacy policy will govern the information you provide on that website. If you
        visit other websites, UpLaw is not responsible for the privacy practices or content of those
        sites. It is your responsibility to review the privacy policies of non-UpLaw websites to
        confirm that you understand and agree with them.

        Social Media Widgets. Our website includes social media features, such as the Facebook
        “like” button and widgets, such as the “Share this” button or interactive mini-programs that
        run on our site. These features may collect your IP address, which page you are visiting on
        our site, and may set a cookie to enable the feature to function properly. Social media
        features and widgets are either hosted by a third party or hosted directly on our Site. Your
        interactions with these features are governed by the privacy policy of the company providing
        it.

        Accessing and Changing Your Account
        Upon request UpLaw will provide you with information about whether we hold any of your
        personal information. In certain circumstances we may be required by law to retain your
        personal information, or may need to retain your personal information in order to continue
        providing a service. Please review the information below to access, correct, or request
        deletion of your personal information.

        User and Authorized Contact Access to Order Information. UpLaw will give you, or anyone
        listed as an authorized contact for your account, information about your order. This may
        include information about the nature and status of your order, information you provided to
        process your order, payment information, and contact information. If you want someone to
        have access to your order, you must list them as an authorized contact or they may not
        obtain information. You can confirm who is listed as an authorized contact for your account,
        add new authorized contacts, or remove authorized contacts by clicking first on "My
        Account", and then on "Account Information". We may send a confirmation email to your
        authorized contact(s), alerting them that they have been added as an authorized contact. For
        some products, we may provide information about your order to other individuals named in the
        order, such as executors named in a last will. For product-specific information about who
        may request information about your order, please contact Customer Care at
        customercare@uplaw.com or (800) 773-0888.

        User Access to and Ability to Update Personally Identifiable Information. You may visit your
        personal account profile at any time by clicking on the "My Account" link, which will take
        you to the following URL: www.uplaw.com/welcome/signin.asp. Through My Account, you may: (i)
        review and update your Contact Data; (ii) complete pending orders; and (iii) begin new
        orders. If you no longer desire our services, or if you want to remove your Personally
        Identifiable Information from our Site, you may terminate your account by contacting
        Customer Care at customercare@uplaw.com or (800) 773-0888. We will respond to your request
        within 30 days.

        Data Retention. At minimum, we will retain your information for as long as needed to provide
        you services, and as necessary to comply with our legal obligations, resolve disputes, and
        enforce our agreements. UpLaw may maintain some or all of this data in its archives even
        after it has been removed from the Site.

        Information Processed On Behalf of Third Parties
        In some instances, UpLaw may process Personally Identifiable Information on behalf of third
        party affiliates. UpLaw acknowledges that in these instances, you have the right to access
        your personal information. Where UpLaw has no direct relationship with the individuals whose
        personal data it processes, individuals seeking access, or seeking to correct, amend, or
        delete inaccurate data, should direct their inquiry to the third party affiliate (the data
        controller). If requested to remove the data, we will respond within a reasonable timeframe.

        How Secure Is the Personal Information We Collect?
        Our Commitment to Data Security. We strive to make certain that our servers and connections
        incorporate the latest encryption and security devices. We have implemented physical,
        electronic, and managerial procedures to safeguard and secure the information we collect.
        Credit card and personal information are transmitted by secure servers (SSL). Documents are
        delivered to you via UPS or similar overnight delivery services, the United States Postal
        Service, or email. Unfortunately, no data transmission is guaranteed to be 100% secure and
        we therefore cannot guarantee the security of information you transmit to or from the Site,
        Applications, or through the use of our services, and you provide this information at your
        own risk. ACCORDINGLY, WE DISCLAIM LIABILITY FOR THE THEFT, LOSS, OR INTERCEPTION OF, OR
        UNAUTHORIZED ACCESS OR DAMAGE TO, YOUR DATA OR COMMUNICATIONS BY USING THE SITE,
        APPLICATIONS, AND OUR SERVICES. YOU ACKNOWLEDGE THAT YOU UNDERSTAND AND ASSUME THESE RISKS.

        IF YOU BELIEVE YOUR PRIVACY HAS BEEN BREACHED THROUGH USE OF OUR WEBSITE, APPLICATIONS, OR
        OTHER SERVICES PLEASE CONTACT US IMMEDIATELY AT (800) 773-0888.

        Enforcement. We periodically review this Privacy Policy and our compliance with it to verify
        that both are accurate. We encourage you to contact us with any concerns, and we will
        investigate and attempt to resolve any complaints and disputes about our privacy practices.

        Changes to this Policy. We may update this privacy policy to reflect changes to our
        information practices. If we make any material changes a notice will be posted on this page
        along with the updated Privacy Policy prior to the change becoming effective. We encourage
        you to periodically review this page for the latest information on our privacy practices.

        Contact Us. If you have any questions regarding our Privacy Policy, please contact us on the
        information below.

        Mailing Address
        101 N. Brand Blvd., 11th Floor
        Glendale, CA 91203
        customercare@uplaw.com
        (800) 773-0888

        Information for EU Customers and Visitors
        If you are located in the EU, this section provides information regarding your rights, and
        UpLaw’s responsibilities, regarding the processing of your personal data.

        EU User Rights. If you are located in the EU, you have the following rights with respect to
        how UpLaw processes your personal data.

        (1) You have the right to request a copy of the personal data that UpLaw has about you;

        (2) You have the right to request that UpLaw corrects the information about you if you
        believe it to be inaccurate;

        (3) You have the right to request that UpLaw erase or refrain from using your personal data.
        This is not an absolute right and, in some circumstances, UpLaw may decline to erase or
        limit its usage of your data, such as when UpLaw has an on-going business relationship with
        you or we are legally required to retain the information. If UpLaw cannot honor your
        request, UpLaw will inform you of this fact as well as the reasons for UpLaw’s decision;

        To exercise any of these rights, please contact Customer Care at customercare@uplaw.com or
        (800) 773-0888.

        If you are located in the EU, you also have the right to raise any objections regarding the
        processing of your personal data and to raise any concerns you may have about UpLaw’s
        processing of your personal data. You may make an objection or raise any other concerns by
        contacting Customer Care at customercare@uplaw.com or (800) 773-0888.

        You may also choose to contact UpLaw about with any objections or other concerns through our
        EU Representative, who can be reached at:

        EURepresentative@uplaw.com

        or

        Executive Director
        UpLawUK
        130 Old Street
        London EC1V 9BD

        While we hope that UpLaw can resolve any of your privacy concerns to your satisfaction after
        you contact us directly, you also have the right to file a complaint regarding UpLaw’s
        handling of your personal data with the Information Commissioner’s Office, the UK’s
        independent Data Protection Authority. Their contact information is:

        Information Commissioner's Office
        Wycliffe House
        Water Lane
        Wilmslow
        Cheshire SK9 5AF

        https://ico.org.uk/global/contact-us/email/

        +44 1625 545 700

        EU-U.S. Privacy Shield. UpLaw.com participates in and has certified its compliance with the
        EU-U.S. Privacy Shield Framework (the “Framework”). UpLaw is committed to subjecting all
        personal data received from European Union (EU) member countries, to the Framework’s
        applicable Principles. This specifically refers to all EU personal data received by UpLaw’s
        U.S. websites. To learn more about the Privacy Shield Framework, visit the U.S. Department
        of Commerce’s Privacy Shield List.

        Under the Privacy Shield Framework, UpLaw is responsible for the processing of personal data
        it receives and subsequently transfers to a third party acting as an agent on its behalf.
        UpLaw complies with the Privacy Shield Principles for all onward transfers of personal data
        from the EU, including the onward transfer liability provisions.

        With respect to personal data received or transferred pursuant to the Privacy Shield
        Framework, UpLaw is subject to the regulatory enforcement powers of the U.S. Federal Trade
        Commission.

        If you have an unresolved privacy or data use concern that we have not addressed
        satisfactorily, please contact our U.S.-based third party dispute resolution provider (free
        of charge) at https://feedback-form.truste.com/watchdog/request.

        Under certain conditions, more fully described on the Privacy Shield website, you may invoke
        binding arbitration when other dispute resolution procedures have been exhausted.

        Privacy Policy Revision History
        Last updated on June 3, 2019

        December 2013 Added TRUSTe information, including opt-out option under Partner and Affiliate
        Tracking section. In the User and Authorized Contact Access to Account section, added notice
        that authorized contacts may be emailed. Added Revision History section.

        February 2014 Added Google Analytics information, including opt-out option under Partner and
        Affiliate Tracking section. Added Registered Agent Requests section.
      </div>
    </div>
  </div>
</div>
{% endblock %}