{% extends "layout.html" %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
  <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
  <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
      <div class="c-page-title c-pull-left">
        <h3 class="c-font-uppercase c-font-sbold">Terms of Service</h3>
      </div>
      <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
        <li><a href="/">Home</a></li>
        <li>/</li>
        <li class="c-state_active">Terms of Service</li>
      </ul>
    </div>
  </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: BLOG LISTING -->
  <div class="c-content-box c-size-md">
    <div class="container">
      <div class="row">

        Terms of Service
        1. I understand and agree that UpLaw is not a law firm or an attorney, may not perform
        services performed by an attorney, and its forms or templates are not a substitute for the
        advice or services of an attorney. Rather, I am representing myself in this legal matter. No
        attorney-client relationship or privilege is created with UpLaw.

        2. If, prior to my purchase, I believe that UpLaw gave me any legal advice, opinion or
        recommendation about my legal rights, remedies, defenses, options, selection of forms or
        strategies, I will not proceed with this purchase, and any purchase that I do make will be
        null and void.

        3. I understand that these Terms require the use of arbitration on an individual basis to
        resolve disputes, rather than jury trials or class actions, and also limit the remedies
        available to me in the event of a dispute as described in the UpLaw Arbitration Agreement,
        contained in Paragraph 16 of these Terms of Service.

        4. I UNDERSTAND THAT THE UPLAW REVIEW OF MY ANSWERS IS LIMITED TO COMPLETENESS, SPELLING,
        AND FOR INTERNAL CONSISTENCY OF NAMES, ADDRESSES, AND THE LIKE. I WILL READ THE FINAL
        DOCUMENT(S) BEFORE SIGNING IT, WHERE APPLICABLE, AND AGREE TO BE SOLELY RESPONSIBLE FOR THE
        FINAL DOCUMENT(S).

        5. Accuracy of Information and Third-Party Consent. To the best of my knowledge, I have
        provided accurate information to UpLaw and have obtained all third-party consents required
        for my order.

        6. Electronic Records and Signatures. I give UpLaw consent to affix my electronic signature
        where required to file my documents. I understand I may withdraw my consent, provided my
        documents have not already been filed, by calling UpLaw Customer Care at (800) 773-0888.

        7. Non-English-Speaking Customers. I understand that certain materials on the UpLaw site,
        including but not limited to questionnaires, documents, instructions, and filings, are only
        available in English. Non-English translations of these Terms, as well as other terms,
        conditions, and policies, are provided for convenience only. In the event of any ambiguity
        or conflict between translations, the English version is authoritative and controls.

        8. Limitation of Liability and Indemnification. EXCEPT AS PROHIBITED BY LAW, I WILL HOLD
        UPLAW AND ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS HARMLESS FOR ANY INDIRECT,
        PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGE, HOWEVER IT ARISES (INCLUDING
        ATTORNEYS' FEES AND ALL RELATED COSTS AND EXPENSES OF LITIGATION AND ARBITRATION, OR AT
        TRIAL OR ON APPEAL, IF ANY, WHETHER OR NOT LITIGATION OR ARBITRATION IS INSTITUTED), WHETHER
        IN AN ACTION OF CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS ACTION, OR ARISING OUT OF OR IN
        CONNECTION WITH THIS AGREEMENT, INCLUDING WITHOUT LIMITATION ANY CLAIM FOR PERSONAL INJURY
        OR PROPERTY DAMAGE, ARISING FROM THIS AGREEMENT AND ANY VIOLATION BY ME OF ANY FEDERAL,
        STATE, OR LOCAL LAWS, STATUTES, RULES, OR REGULATIONS, EVEN IF UPLAW HAS BEEN PREVIOUSLY
        ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. EXCEPT AS PROHIBITED BY LAW, IF THERE IS
        LIABILITY FOUND ON THE PART OF UPLAW, IT WILL BE LIMITED TO THE AMOUNT PAID FOR THE PRODUCTS
        AND/OR SERVICES AND UNDER NO CIRCUMSTANCES WILL THERE BE CONSEQUENTIAL OR PUNITIVE DAMAGES.
        SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF PUNITIVE, INCIDENTAL OR
        CONSEQUENTIAL DAMAGES, SO THE PRIOR LIMITATION OR EXCLUSION MAY NOT APPLY TO ME. THIS
        PARAGRAPH DOES NOT APPLY TO NORTH CAROLINA CONSUMERS.

        9. Terms of Use. I understand that the Site's general terms of use (the "Terms of Use") also
        apply to these Terms of Service and in agreeing to these Terms of Service, I acknowledge
        that I have read and agree to those Terms of Use, which are incorporated herein by
        reference.

        10. Additional UpLaw Terms.I understand that my purchase may be subject to additional terms
        and conditions. I understand that UpLaw Registered Agent Services, are subject to the
        Supplemental Terms of Service for Registered Agent Services, legal plans are subject to the
        Legal Plan Contract, and subscription and third-party services are subject to the
        Supplemental Terms of Service for Subscriptions and Third-Party Services. If applicable, I
        acknowledge that I have read and agree to the supplemental terms, which are incorporated
        herein by reference.

        11. Third Party Services.

        (a) If I purchased a product that involves third party services, I understand that I may be
        required to accept additional terms located on the third party’s site. The third party may
        contact me by email and/or phone with instructions on how to access my benefits. UPLAW
        HEREBY DISCLAIMS LIABILITY FOR ANY INFORMATION, MATERIALS, PRODUCTS OR SERVICES POSTED OR
        OFFERED AS PART OF ANY THIRD PARTY SERVICES. UPLAW IS NOT LIABLE FOR ANY FAILURE OF PRODUCTS
        OR SERVICES OFFERED OR ADVERTISED AT THOSE SITES. A THIRD PARTY MAY HAVE A PRIVACY POLICY
        DIFFERENT FROM THAT OF UPLAW AND THE THIRD PARTY WEBSITE MAY PROVIDE LESS SECURITY THAN THE
        UPLAW SITE.

        (b) Tax Savings Analysis. If you have purchased a package that includes a Tax Savings
        Analysis, the following provisions apply to you:

        (i) Benefits. The analysis is provided to you by Accounting Fulfillment Services, LLC aka
        1-800Accountant.com (“1-800Accountant”). You will receive one thirty minute telephone
        consultation with a 1-800Accountant representative to discuss time sensitive tax filings and
        IRS deadlines. The 1-800Accountant representative will review deductions that could reduce
        your tax liability as a business owner.

        (ii) Limitations. If you would like additional advice, consultations, or services from
        1-800Accountant beyond your initial thirty minute telephone consultation, you may purchase
        these products or services directly from 1-800Accountant for an additional fee.

        12. Future Products and Services. If I choose to add a product or service to my order
        subsequent to this initial purchase, these Terms of Service will apply to that additional
        product or service purchase as well.

        13. Abandoned Orders. My purchase allows me to create my own legal documents. I understand
        that, other than as required by applicable law, I shall have no right to cancel, request a
        cash refund or obtain store credit for any undelivered order after 120 days have elapsed
        from the purchase date unless UpLaw is at fault. All itemization of fees are displayed for
        convenience only. Delivered orders shall be governed by the UpLaw Satisfaction Guarantee.
        Both parties acknowledge that UpLaw is out of pocket time and money for undertaking the work
        and both parties fully intend to complete the order. Abandoned orders will result in
        liquidated damages equal to the amount paid to UpLaw for reimbursement of our commitment to
        service this order.

        14. Exchanges. I understand that I may request an exchange of one product for a different
        product and complete a replacement order within 60 days of my purchase. The purchase price
        of the original item, less any filing fees, taxes or other third-party costs, will be
        credited to my UpLaw account. Any price difference between the original order and the
        replacement order or, if a replacement order is not completed within 60 days of purchase,
        the full original purchase price (in each case less any filing fees, taxes or other
        third-party costs) will be credited to my original form of payment. If I paid for my
        original order by check, I understand that UpLaw will mail a check for the applicable amount
        to my billing address.

        15. Suspended Accounts. If UpLaw encounters evidence of suspicious activity in connection
        with my account, including, but not limited to, evidence that my account is being used by
        someone who is not authorized to do so, I acknowledge that UpLaw, in its sole discretion,
        may opt to temporarily disable my account for a reasonable amount of time in order to
        investigate. In the event that UpLaw disables my account, I understand that, absent a
        subpoena or court order, no information about my account will be provided to anyone outside
        UpLaw, including me or any authorized contact, until the investigation is complete.
        Additionally, I understand that UpLaw, in its sole discretion, may decide not to send any
        documents associated with my account to me or file any such documents with any government
        authority, while my account is disabled. I acknowledge that UpLaw will not be liable for any
        delays caused by these policies and procedures.

        16. DISPUTE RESOLUTION BY BINDING ARBITRATION.

        Please read this carefully. It affects your rights.

        Summary:

        Most customer concerns can be resolved quickly and to the customer's satisfaction by calling
        our Customer Care Center at (800) 773-0888. In the unlikely event that the UpLaw Customer
        Care Center is unable to resolve your complaint to your satisfaction (or if UpLaw has not
        been able to resolve a dispute it has with you after attempting to do so informally), we
        each agree to resolve those disputes through binding arbitration or in small claims court
        rather than in a court of general jurisdiction. Arbitration is less formal than a lawsuit in
        court. Arbitration uses a neutral arbitrator instead of a judge or jury, allows for more
        limited discovery than a court does, and is subject to very limited review by courts. Any
        arbitration under these Terms will take place on an individual basis; class arbitrations and
        class actions are not permitted. While in some instances, upfront costs to file an
        arbitration claim may exceed similar costs to bring a case in court, for any non-frivolous
        claim that does not exceed $75,000, UpLaw will pay all costs of the arbitration. Moreover,
        in arbitration you may recover attorney's fees from UpLaw to the same extent or more as you
        would in court. The arbitrator shall apply the same limitations period that would apply in
        court.

        Under certain circumstances (as explained below), UpLaw will pay you more than the amount of
        the arbitrator's award and will pay your attorney (if any) his or her reasonable attorney's
        fees if the arbitrator awards you an amount greater than what UpLaw offered you to settle
        the dispute.

        You may speak with independent counsel before using this Site or completing any purchase.

        Arbitration Agreement:

        (a) UpLaw and you agree to arbitrate all disputes and claims between us before a single
        arbitrator. The types of disputes and claims we agree to arbitrate are intended to be
        broadly interpreted. It applies, without limitation, to:

        claims arising out of or relating to any aspect of the relationship between us, whether
        based in contract, tort, statute, fraud, misrepresentation, or any other legal theory;
        claims that arose before these or any prior Terms (including, but not limited to, claims
        relating to advertising);
        claims that are currently the subject of purported class action litigation in which you are
        not a member of a certified class; and
        claims that may arise after the termination of these Terms.
        For the purposes of this Arbitration Agreement, references to "UpLaw," "you," and "us"
        include our respective subsidiaries, affiliates, agents, employees, employers, business
        partners, shareholders, predecessors in interest, successors, and assigns, as well as all
        authorized or unauthorized users or beneficiaries of services or products under these Terms
        or any prior agreements between us. Beneficiaries include, but are not limited to, those
        named in an estate planning document.

        Notwithstanding the foregoing, either party may bring an individual action in small claims
        court. This arbitration agreement does not preclude your bringing issues to the attention of
        federal, state, or local agencies. Such agencies can, if the law allows, seek relief against
        us on your behalf. You agree that, by entering into these Terms, you and UpLaw are each
        waiving the right to a trial by jury or to participate in a class action. These Terms
        evidence a transaction or website use in interstate commerce, and thus the Federal
        Arbitration Act (“FAA”) governs the interpretation and enforcement of this provision. This
        arbitration provision will survive termination of these Terms.

        (b) A party who intends to seek arbitration must first send, by U.S. certified mail, a
        written Notice of Dispute ("Notice") to the other party. A Notice to UpLaw should be
        addressed to: Notice of Dispute, General Counsel, UpLaw.com, Inc., 101 North Brand Blvd.,
        11th Floor, Glendale, CA 91203 (the "Notice Address"). The Notice must (a) describe the
        nature and basis of the claim or dispute and (b) set forth the specific relief sought
        ("Demand"). If UpLaw and you do not reach an agreement to resolve the claim within 30 days
        after the Notice is received, you or UpLaw may commence an arbitration proceeding. During
        the arbitration, the amount of any settlement offer made by UpLaw or you shall not be
        disclosed to the arbitrator until after the arbitrator determines the amount, if any, to
        which you or UpLaw is entitled.

        You may download or copy a form Notice from http://www.uplaw.us/arbitration-forms.pdf.

        You may download or copy a form to initiate arbitration from the American Arbitration
        Association ("the AAA") website at www.adr.org.

        (c) After UpLaw receives notice at the Notice Address that you have commenced arbitration,
        it will promptly reimburse you for your payment of the filing fee, unless your claim is for
        more than $75,000. (Currently, the filing fee for consumer-initiated arbitrations is $200,
        but this is subject to change by the arbitration provider. If you are unable to pay this
        fee, UpLaw will pay it directly after receiving a written request at the Notice Address.)
        The arbitration will be governed by the Consumer Arbitration Rules (the "AAA Rules") of the
        American Arbitration Association, as modified by these Terms, for all claims under $75,000
        and the applicable rules as determined by the AAA for all claims of or above $75,000, and
        will be administered by the AAA. The AAA Rules are available online at www.adr.org or by
        calling the AAA at 1-800-778-7879. (You may obtain information about the arbitration process
        directed to non-lawyers, including information about providing notice to UpLaw, at
        http://www.uplaw.us/arbitration-information.pdf.) The arbitrator is bound by these Terms.
        All issues are for the arbitrator to decide, except that issues relating to the scope,
        enforceability, and interpretation of the arbitration provision and the scope,
        enforceability, and interpretation of paragraph (f) are for the court to decide. Unless
        UpLaw and you agree otherwise, any arbitration hearings will take place in the county (or
        parish) of your contact address. If your claim is for $10,000 or less, you may choose
        whether the arbitration will be conducted solely on the basis of documents submitted to the
        arbitrator, by a telephonic hearing, or by an in-person hearing as established by the AAA
        Rules. If you choose to proceed either in person or by telephone, we may choose to respond
        only by telephone or submission. If your claim exceeds $10,000, the AAA Rules will determine
        whether you have a right to a hearing. The parties agree that in any arbitration of a
        dispute or claim, neither party will rely for preclusive effect on any award or finding of
        fact or conclusion of law made in any other arbitration of any dispute or claim to which
        UpLaw was a party. Except as otherwise provided for herein, UpLaw will pay all AAA filing,
        administration, and arbitrator fees for any arbitration initiated in accordance with the
        notice requirements above. If, however, the arbitrator finds that either the substance of
        your claim or the relief sought in the Demand is frivolous or brought for an improper
        purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)),
        then the payment of all such fees will be governed by the AAA Rules. In such case, you agree
        to reimburse UpLaw for all monies previously disbursed by it that are otherwise your
        obligation to pay under the AAA Rules. In addition, if you initiate an arbitration in which
        you seek relief valued at more than $75,000 (excluding attorney’s fees and expenses), the
        payment of these fees will be governed by the AAA rules.

        (d) For claims under $75,000, if, after finding in your favor in any respect on the merits
        of your claim, the arbitrator issues you an award that is greater than the value of UpLaw's
        last written settlement offer made before an arbitrator was selected, then UpLaw will:

        pay you either the amount of the award or $2,000 ("the alternative payment"), whichever is
        greater; and
        pay your attorney, if any, the amount of attorney's fees, and reimburse any expenses
        (including expert witness fees and costs), that your attorney reasonably accrues for
        investigating, preparing, and pursuing your claim in arbitration (the "attorney's payment").
        If UpLaw did not make a written offer to settle the dispute before an arbitrator was
        selected, you and your attorney will be entitled to receive the alternative payment and the
        attorney's fees, respectively, if the arbitrator awards you any relief on the merits. The
        arbitrator may make rulings and resolve disputes as to the payment and reimbursement of
        fees, expenses, and the alternative payment and the attorney's fees at any time during the
        proceeding and upon request from either party made within 14 days of the arbitrator's ruling
        on the merits. In assessing whether an award that includes attorney’s fees or expenses is
        greater than the value of UpLaw’s last written settlement offer, the arbitrator shall
        include in his or her calculations only the value of any attorney’s fees or expenses you
        reasonably incurred in connection with the arbitration proceeding before UpLaw’s settlement
        offer.

        (e) The right to attorney's fees and expenses discussed in paragraph (d) supplements any
        right to attorney's fees and expenses you may have under applicable law. Thus, if you would
        be entitled to a larger amount under applicable law, this provision does not preclude the
        arbitrator from awarding you that amount. However, you may not recover duplicative awards of
        attorney's fees or costs. Although under some laws UpLaw may have a right to an award of
        attorney's fees and expenses if it prevails in an arbitration proceeding, UpLaw will not
        seek such an award for claims under $75,000.

        (f) The arbitrator may award injunctive relief only in favor of the individual party seeking
        relief and only to the extent necessary to provide relief warranted by that party's
        individual claim. YOU AND UPLAW AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN
        YOUR OR ITS INDIVIDUAL CAPACITIES AND NOT AS PLAINTIFFS OR CLASS MEMBERS IN ANY PURPORTED
        CLASS OR REPRESENTATIVE PROCEEDING OR IN THE CAPACITY OF A PRIVATE ATTORNEY GENERAL.
        Further, unless both you and UpLaw agree otherwise, the arbitrator may not consolidate more
        than one person's claims, and may not otherwise preside over any form of a representative or
        class proceeding. The arbitrator may award any relief that a court could award that is
        individualized to the claimant and would not affect other customers. Neither you nor we may
        seek non-individualized relief that would affect other customers. If a court decides that
        applicable law precludes enforcement of any of this paragraph's limitations as to a
        particular claim for relief, then that claim (and only that claim) must be severed from the
        arbitration and may be brought in court.

        (g) If the amount in dispute exceeds $75,000 or either party seeks any form of injunctive
        relief, either party may appeal the award to a three-arbitrator panel administered by AAA by
        a written notice of appeal within thirty (30) days from the date of entry of the written
        arbitration award. An award of injunctive relief shall be stayed during any such appeal. The
        members of the three-arbitrator panel will be selected according to AAA rules. The
        three-arbitrator panel will issue its decision within one hundred and twenty (120) days of
        the date of the appealing party's notice of appeal. The decision of the three-arbitrator
        panel shall be final and binding, subject to any right of judicial review that exists under
        the FAA.

        (h) Notwithstanding any provision in the applicable Terms to the contrary, we agree that if
        we make any future change to this arbitration provision (other than a change to any notice
        address, website link or telephone number provided herein), that change will not apply to
        any dispute of which we had written notice on the effective date of the change. Moreover, if
        we seek to terminate this arbitration provision, any such termination will not be effective
        until at least thirty (30) days after written notice of such termination is provided to you,
        and shall not be effective as to disputes which arose prior to the date of termination.

        17. Installment Plan.

        (a) Qualification. The UpLaw Installment Plan (the "Installment Plan") is available as a
        purchase option for certain UpLaw products priced at $200 or more. Where an Installment Plan
        is offered, I acknowledge that UpLaw may charge a small installment fee in connection with
        this option. The total amount that will be charged for each installment payment, inclusive
        of any fee, will be disclosed to me prior to my election to participate in the Installment
        Plan.

        (b) Billing. By opting into the Installment Plan, I am agreeing to make an initial payment
        (the "Initial Installment Payment") immediately when I place my order or change my payment
        plan. I hereby authorize UpLaw to charge my credit card for two additional installments on
        approximately, but not before, the first and second month anniversaries (each an
        "Installment Billing Date") of the Initial Installment Payment. If my purchase date is on
        the 29th through 31st day of any month, an Installment Billing Date for months with fewer
        days will fall on the last day of the month. Each payment will be of the same amount, except
        that if the total purchase price does not divide evenly into three parts, my final
        installment payment will include all outstanding amounts. I understand that I may pay my
        outstanding balance at any time without incurring additional charges.

        (c) Default. If my credit card is declined UpLaw may make multiple attempts to bill that
        card. If I remain in default on the second payment when the third payment is due, I
        authorize UpLaw to charge both the second and third payment amounts to my credit card. If
        three attempts to charge my card are unsuccessful and my account balance remains unpaid, I
        understand that UpLaw may report information about my account to credit bureaus, and that
        late payments, missed payments, and other defaults may be reflected in my credit report. I
        understand that UpLaw may restrict my ability to purchase other UpLaw products if I am
        delinquent on any payment. I understand that UpLaw may make efforts to collect a delinquent
        payment. I understand that if I believe UpLaw has reported inaccurate information to a
        consumer reporting agency, I may call the UpLaw Customer Care Center at (800) 773-0888 and
        UpLaw will investigate the matter. I understand that UpLaw may accept late or partial
        payments, as well as payments that reflect "paid in full" or other restrictive endorsements,
        without limiting any of its rights under these Terms of Service.

        (d) Store Credit. I understand that if I have a UpLaw store credit, the amount of that store
        credit will be deducted from my total purchase price before installment payment amounts are
        calculated. Store credit will not count against the $200 minimum purchase price per product.
        If I want to apply a store credit issued after my enrollment in the Installment Plan, I may
        do so by calling the UpLaw Customer Care Center at (800) 773-0888.

        (e) Notice of Automatic Billing. UpLaw may send a reminder email to the email address of
        record for my account before my Installment Billing Dates. I acknowledge and agree that this
        notice is provided as a courtesy only, and UpLaw is not obligated or required to provide
        such notice. I acknowledge and agree that (i) my failure to read, (ii) my inability to
        receive, or (iii) the failure of UpLaw to send the email does not create any liability on
        the part of UpLaw or any third-party service provider.

        (f) Disputed Charges. I understand that if I dispute a charge to my credit card, I should
        call the UpLaw Customer Care Center immediately at (800) 773-0888 and UpLaw will investigate
        the matter.

        (g) Account Information. I agree to notify UpLaw immediately of any changes to my credit
        card number, its expiration date, and/or my billing address, or if my credit card expires or
        is cancelled for any reason. I understand that if my failure to provide UpLaw with accurate,
        complete, and current information results in delinquent payments, UpLaw may restrict my
        ability to purchase other UpLaw products, report information about this delinquency to
        credit bureaus, and/or pursue further collection efforts.

        (h) Subscription Products. For subscription products offering the Installment Plan, UpLaw
        reserves the right to terminate access to subscription benefits 31 days after a missed
        installment payment.

        18. Filing Fees. Except as otherwise noted, filing and recording fees may include all
        mandatory or applicable federal, state, county and local administrative fees, name
        reservation fees, initial reports, publication notices, capitalization fees, franchise tax
        fees, expedite fees, certified copy fees, walk-in fees, courier fees and other transactional
        fees incurred on your behalf by UpLaw.

        19. Trademark Filing Fee: The government filing fee for trademarks can range from $225 to
        $400 per class. In order to save customers’ money, UpLaw files using either the TEAS RF
        system or the TEAS Plus system. Among other things, these require electronic communications
        with and responses to the USPTO. The fee you see from UpLaw consists of the government TEAS
        RF electronic filing fee of $275. If the stricter "TEAS Plus" system can be used for your
        application, UpLaw will use this system. The TEAS Plus system streamlines the U.S. Patent
        and Trademark Office (USPTO) review process and has a lower filing fee of $225, but requires
        additional UpLaw labor to process. If we are able to use the TEAS Plus system for your
        application, UpLaw will still charge $275, of which $225 will be allocated to the USPTO fee
        and $50 to a UpLaw processing fee. Whichever filing system used, if you later decide that
        you do not want to communicate with the USPTO via email, you do not want to file responses
        and documents electronically with the USPTO, or if the USPTO determines that you do not fit
        the applicable filing and examination requirements, the USPTO may charge you an extra $125
        processing fee per class. This fee, if any, will be assessed directly by the USPTO. UpLaw
        will not pay it on your behalf.

        20. Trademark, Copyright, and Patent Submitted Material. As part of an order for certain
        trademark, copyright, and patent products, I may be required to submit to UpLaw materials –
        such as specimens, drawings, or copies of my work – in order for it to complete my order and
        submit my document(s) to the relevant government office. Furthermore, I understand that
        while it may retain digital copies of my submission, UpLaw does not retain physical copies
        of my submissions and will not return those materials to me. All physical materials that
        UpLaw does not submit to government offices as part of my application will be securely
        destroyed.

        21. Authority to File Trademark, Copyright, and Patent Applications.

        (a) Trademark and Patent. By placing my order, I give UpLaw the express authority to file my
        application with the USPTO. After placing my order, UpLaw may send me material to review or
        contact me for information regarding my order. In either case, if I do not respond to UpLaw
        within 7 days, it may file my application to avoid filing delays. I understand that I may be
        contacted by the USPTO for other information after my application has been filed.

        (b) Trademark TEAS Electronic Filing and Communications. UpLaw may authorize the USPTO, on
        my behalf, to contact me at the email address I have provided in my order. I agree to submit
        documents and communications electronically using the USPTO TEAS system. I understand that
        if I fail to comply with these requirements, the USPTO may charge me an additional $125
        processing fee per class and that UpLaw will not pay it on my behalf.

        (c) Copyright. By placing my order, I give UpLaw the express authority to file my
        application with the U.S. Copyright Office. After placing my order, UpLaw may send me
        material to review or contact me for information regarding my order. In either case, if I do
        not respond to UpLaw within 60 days, it may file my application to avoid filing delays. I
        understand that I may be contacted by the U.S. Copyright Office for other information after
        my application has been filed.

        22. UpLaw Trademark Search.

        Each UpLaw trademark search includes information about "active" federal trademarks (i.e.,
        those displaying a status of "LIVE" "PENDING," "PENDING - INITIALIZED," "PENDING - PASSED BY
        EXAMINER," "PUBLISHED FOR OPPOSITION," "ALLOWED - INTENT TO USE," "PENDING - SUSPENDED," or
        "REGISTERED") as available in the U.S. Patent and Trademark Office (USPTO) website database
        at the time the search is conducted. A UpLaw trademark search may not include information
        about "inactive" trademarks (i.e., those displaying a status of "DEAD," "ABANDONED,"
        "ABANDONED - MISASSIGNED SERIAL NUMBER," "ABANDONED - NO STATEMENT OF USE," "ABANDONED -
        VOLUNTARY," "CANCELLED," "CANCELLED - SEC. 8," "CANCELLED - SEC. 18," or "EXPIRED") although
        marks with these statuses can, in certain circumstances, affect the registrability of your
        mark and/or your ability to use it in commerce. Active trademarks are those either currently
        pending or registered and presumed up-to-date with the USPTO, and can be used as a bar to a
        new trademark registration. Generally, inactive marks will not be used to bar a new
        trademark registration, although an abandoned application can be revived under certain
        circumstances. Moreover, an individual may claim common law rights because of its commercial
        use of a trademark. Without limitation, UpLaw accepts no responsibility or liability for any
        impact that any inactive application or registration, or common law use, may have on your
        registration or trademark.

        UpLaw strives to provide customers with the most thorough and up-to-date search results
        through the best available technology and trained search specialists. Accordingly, I
        understand that it takes all reasonable steps to ensure that the accuracy and completeness
        of searches is the best possible using its resources, including existing databases and
        personnel. For due diligence purposes, trademark customers should thoroughly examine the
        search report and review to ensure that they are satisfactory and accurate before making any
        decisions regarding their trademark(s).

        23. Legal Forms. If you have purchased a Legal Form from UpLaw, the following provisions
        apply to you:

        (a) License. UpLaw grants you a nonexclusive, nontransferable worldwide right to use the
        legal form(s) you have purchased. This license allows you to access, download, use, and edit
        the legal form(s) you have purchased for your personal use. You may not: (i) license,
        sublicense, sell, resell, transfer, assign, distribute, or otherwise make available to any
        third party the legal form(s); or (ii) modify, reproduce, reverse engineer, or make
        derivative works based on, referring to, or exploiting the legal form(s) or its source code,
        except for modifications to the forms for your personal use. All rights not expressly
        granted to you are reserved by UpLaw and its licensors.

        (b) No Guarantee. UpLaw does not guarantee that any Legal Form provided is suitable for a
        particular purpose, or that any Legal Form provided is accurate, reliable, complete or
        timely. The Legal Forms provided are for information purposes only, and should not be relied
        upon as legal advice.

        24. UpLaw Divorce. If you have purchased UpLaw Divorce, the following provisions apply to
        you:

        (a) Service Provider. You acknowledge and agree that UpLaw does, or may, work with
        third-party providers and sub-providers of our choice to provide some or all of the UpLaw
        Divorce services. You acknowledge and agree that any such third-parties may provide UpLaw
        Divorce services to you.

        25. Delivery. I understand that UpLaw uses a variety of methods to deliver finished
        products. For products delivered via physical shipment, I understand that UpLaw uses a
        variety of carriers for each shipping option and will choose a delivery method for the
        shipping option and address I designate. If I select overnight delivery or two-day delivery,
        I agree that UpLaw may use air or ground shipping as necessary to get my items to me within
        the promised time frame. The shipping fee indicated does not necessarily represent the
        actual amount paid by UpLaw to the carrier chosen for the delivery of my order. It may
        include, in addition to the fees paid to the carrier, UpLaw or third party handling and
        processing fees. For products delivered electronically, I understand that I will be notified
        via email when my product is complete and available for download. I understand that I may
        access my product by logging in to My Account.

        26. Reviews. After your purchase, you may receive an email survey request from UpLaw. You
        may also write a review on the Site. If you complete the survey or submit a review, your
        opinions may be posted, in whole or in part, on the Site or used in marketing material. The
        review may be accompanied by limited identifying information, such as your first name and
        last initial, the product you purchased, your gender, city and/or state, and age range.

        27. Text messages and SMS Programs. UpLaw, at its sole discretion, may offer the following
        SMS/text message based programs:

        UpLaw Member Alerts: When available, you may opt-in to receive SMS/text messages by
        providing your phone number during the process of purchasing a product from UpLaw. In some
        instances, we may also provide you the opportunity to opt-in post-purchase through digital
        advertisements or emails. By opting in, you will receive messages regarding the status of
        your order and assistance with accessing the products you have purchased. The number of
        messages you will receive will vary depending on the steps needed to complete your order.

        UpLaw App Invitation: When available, you may opt-in to receive SMS/text messages when you
        purchase a participating product from UpLaw. We may provide you the opportunity to opt-in
        through a post-purchase webpage or through digital advertisement. By opting in, you will
        receive a message providing you with a link to download a UpLaw application onto your mobile
        phone. This will be the only message you will receive as part of this program.

        UpLaw Offers: When available, you may opt-in to receive SMS/text messages by sending a text
        message to UpLaw following the directions provided through digital advertisements or emails.
        By opting in, you will receive promotional messages regarding special offers and product
        updates. You will receive no more than four (4) messages per month as part of this program.

        To opt-out of receiving SMS/text messages from UpLaw, you may reply with STOP to cancel (msg
        & data rates may apply), email support@uplaw.us or call our Customer Care Center at (800)
        773-0888. For more information, you may reply with HELP (msg & data rates may apply), email
        support@uplaw.us, or call our Customer Care Center at (800) 773-0888.

        Compatible carriers may include, but are not necessarily limited to: AT&T, Sprint,
        T-Mobile®, Verizon Wireless, Boost, Cricket, MetroPCS, U.S. Cellular, Virgin Mobile, ACS
        Wireless, Appalachian Wireless, Bluegrass Cellular, Breakaway Wireless, Cabelvision (Optimum
        Mobile), Carolina West Wireless, Cellcom, Cellular One of East Central Illinois, Centennial
        Wireless, Chariton Valley Cellular, Chat Mobility (Hawkeye), Cincinnati Bell Wireless, Coral
        Wireless, Cox Mobility, Cross/ Sprocket, C-Spire Wireless (formerly Cellsouth), CTC Telecom,
        DTC Wireless (Advantage Cellular), Duet IP (AKA Max/Benton/Albany), Element Mobile, Epic
        Touch, GCI Communications, Golden State, Illinois Valley Cellular, Immix (Keystone Wireless/
        PC Management), Inland Cellular, iWireless, Leaco, Mobi PCS, Mosaic, MTPCS/ Cellular One
        (Cellone Nation), Nemont, Nex-Tech Wireless, nTelos, NW Missouri Cellular (Hawkeye),
        Panhandle Telecommunications, Peoples Wireless, Pioneer, Pine Cellular, Plateau, Revol, Rina
        - Custer, Rina - All West, Rina - Cambridge Telecom Coop, Rina - Eagle Valley Comm, Rina -
        Farmers Mutual Telephone Co, Rina - Nucla Nutria Telephone Co, Rina - Silver Star, Rina -
        Syringa, Rina - UBET, Rina - Manti, Rural Cellular Corporation, SI Wireless, Simmetry,
        SouthernLINC, SRT, Strata Networks, Thumb Cellular, Union Wireless, United, Viaero Wireless,
        West Central Wireless.

        UpLaw and T-Mobile are not responsible for delayed or undelivered messages.

        UpLaw is sensitive to your concerns about your privacy. To learn more, please see our
        Privacy Policy.

        28. Access to World Wide Web; Internet Delays. To use UpLaw services, I must obtain access
        to the World Wide Web, either directly or through devices that access web-based content, and
        pay any service fees associated with such access. I am responsible for providing all
        equipment necessary to make such connection to the World Wide Web, including a computer and
        Internet access. Access to certain UpLaw services may be limited or delayed based on
        problems inherent in the use of Internet and electronic communications. I understand that
        UpLaw is not responsible for delays, delivery failures, or other damage resulting from such
        problems.

        29. Force Majeure. UpLaw shall not be considered in breach of or default under these Terms
        of Service or any contract with me, and shall not be liable to me for any cessation,
        interruption, or delay in the performance of its obligations hereunder by reason of
        earthquake, flood, fire, storm, lightning, drought, landslide, hurricane, cyclone, typhoon,
        tornado, natural disaster, act of God or the public enemy, epidemic, famine or plague,
        action of a court or public authority, change in law, explosion, war, terrorism, armed
        conflict, labor strike, lockout, boycott or similar event beyond our reasonable control,
        whether foreseen or unforeseen (each a "Force Majeure Event"). If a Force Majeure Event
        continues for more than 60 days in the aggregate, UpLaw may immediately terminate these
        Terms of Service and shall have no liability to me for or as a result of any such
        termination.

        30. Right to refuse. I acknowledge that UpLaw reserves the right to refuse service to
        anyone.

        31. I acknowledge that UpLaw is not a registered or bonded legal document assistant under
        California Business and Profession Code, sections 6400 et seq. UpLaw.com, Inc. is located at
        9900 Spectrum Drive, Austin, Texas 78717.

        32. I acknowledge that I have had the opportunity to view sample templates of UpLaw
        documents and may call UpLaw Customer Care at (800)773-0888 with questions or for assistance
        locating sample templates.

        33. I understand that these terms affect my legal rights and obligations. If I do not agree
        to be bound by all of these terms, I will not use this service. By proceeding with my
        purchase, I agree to these Terms of Service.

        Updated: April 25, 2019
      </div>
    </div>
  </div>
</div>
{% endblock %}