{% extends "layout.html" %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
  <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
  <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
      <div class="c-page-title c-pull-left">
        <h3 class="c-font-uppercase c-font-sbold">Terms of Use</h3>
      </div>
      <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
        <li><a href="/search">Search</a></li>
        <li>/</li>
        <li class="c-state_active">Document</li>
      </ul>
    </div>
  </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: BLOG LISTING -->
  <div class="c-content-box c-size-md">
    <div class="container">
      <div class="row">
        <h1>UpLaw's Terms and Conditions of Use</h1>
        <strong>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE.</strong>

        <p>By using the UpLaw.com, Inc. website (the "Site") or any UpLaw applications or
          application plug-ins ("Applications"), you agree to follow and be bound by these terms of
          use (the "Terms of Use") and agree to comply with all applicable laws and regulations,
          including United States export and re-export control laws and regulations. In these Terms
          of Use, the words "you" and "your" refer to each customer, Site visitor, or Application
          user, "we", "us" and "our" refer to UpLaw.com, Inc. and "Services" refers to all services
          provided by us.</p>

        <p>It is your responsibility to review these Terms of Use periodically. If at any time you
          find these Terms of Use unacceptable or if you do not agree to these Terms of Use, please
          do not use this Site or any Applications. We may revise these Terms of Use at any time
          without notice to you. If you have any questions about these Terms of Use, please contact
          our Customer Care Center.</p>

        <p>YOU AGREE THAT BY USING THE SITE, ANY APPLICATIONS, AND THE SERVICES YOU ARE AT LEAST 18
          YEARS OF AGE AND YOU ARE LEGALLY ABLE TO ENTER INTO A CONTRACT.</p>

        <p>These Terms require the use fof arbitration on an individual basis to resolve disputes,
          rather than jury trials or class actions, and also limit the remedies available to you in
          the event of a dispute.</p>

        <p>Please also refer to the UpLaw Terms of Service, Registered Agent Terms of Service,
          Supplemental Terms of Service for Subscriptions and Third-Party Services, Legal Plan
          Contract, and Privacy Policy, each of which is incorporated herein by reference.</p>

        <p>UpLaw.com provides an online legal portal to give visitors a general understanding of the
          law and to provide an automated software solution to individuals who choose to prepare
          their own legal documents. Customer need not download or even license UpLaw software.
          UpLaw hosts its LegalZip software as a backend service for customers when they create
          their own documents. The Site includes general information on commonly encountered legal
          issues. The UpLaw Services also include a review of your answers for completeness,
          spelling, and for internal consistency of names, addresses and the like. At no time do we
          review your answers for legal sufficiency, draw legal conclusions, provide legal advice,
          opinions or recommendations about your legal rights, remedies, defenses, options,
          selection of forms, or strategies, or apply the law to the facts of your particular
          situation. UpLaw is not a law firm and may not perform services performed by an attorney.
          UpLaw, its Services, and its forms or templates are not a substitute for the advice or
          services of an attorney.</p>

        <p>UpLaw strives to keep its legal documents accurate, current and up-to-date. However,
          because the law changes rapidly, UpLaw cannot guarantee that all of the information on the
          Site or Applications is completely current. The law is different from jurisdiction to
          jurisdiction, and may be subject to interpretation by different courts. The law is a
          personal matter, and no general information or legal tool like the kind UpLaw provides can
          fit every circumstance. Furthermore, the legal information contained on the Site and
          Applications is not legal advice and is not guaranteed to be correct, complete or
          up-to-date. Therefore, if you need legal advice for your specific problem, or if your
          specific problem is too complex to be addressed by our tools, you should consult a
          licensed attorney in your area.</p>

        <p>From time to time, UpLaw may perform certain attorney access services and introduce our
          visitors to attorneys through various methods, including but not limited to (i) legal
          plans, (ii) third party attorney directory listings, and (iii) third party limited scope
          agreements. At no time is an attorney-client relationship fostered or created with UpLaw
          through the performance of any such services.</p>

        <p>This Site and Applications are not intended to create any attorney-client relationship,
          and your use of UpLaw does not and will not create an attorney-client relationship between
          you and UpLaw. Instead, you are and will be representing yourself in any legal matter you
          undertake through UpLaw's legal document service.</p>

        1. Privacy Policy. UpLaw respects your privacy and permits you to control the treatment of
        your personal information. A complete statement of UpLaw's current Privacy Policy can be
        found by clicking here. UpLaw's Privacy Policy is expressly incorporated into this Agreement
        by reference.

        <p>When you open an account to use or access certain portions of the Site, Applications, or
          the Services, you must provide complete and accurate information as requested on the
          registration form. You will also be asked to provide a user name and password. You are
          entirely responsible for maintaining the confidentiality of your password. You may not use
          a third party's account, user name or password at any time. You agree to notify UpLaw
          immediately of any unauthorized use of your account, user name or password. UpLaw shall
          not be liable for any losses you incur as a result of someone else's use of your account
          or password, either with or without your knowledge. You may be held liable for any losses
          incurred by UpLaw, our affiliates, officers, directors, employees, consultants, agents and
          representatives due to someone else's use of your account or password.</p>

        <p>In connection with the use of certain UpLaw products or services, you may be asked to
          provide personal information in a questionnaire, application, form or similar document or
          service. This information will be protected pursuant to our Privacy Policy. In addition,
          you grant UpLaw a worldwide, royalty-free, nonexclusive, and fully sublicensable license
          to use, distribute, reproduce, modify, publish and translate this personal information
          solely for the purpose of enabling your use of the applicable service. You may revoke this
          license and terminate rights held by UpLaw at any time by removing your personal
          information from the applicable service.</p>

        2. Ownership. This Site and Applications are owned and operated by UpLaw.com, Inc. All
        right, title and interest in and to the materials provided on this Site and Applications,
        including but not limited to information, documents, logos, graphics, sounds and images (the
        "Materials") are owned either by UpLaw or by our respective third party authors, developers
        or vendors ("Third Party Providers"). Except as otherwise expressly provided by UpLaw, none
        of the Materials may be copied, reproduced, republished, downloaded, uploaded, posted,
        displayed, transmitted or distributed in any way and nothing on this Site or on any
        Applications shall be construed to confer any license under any of UpLaw's intellectual
        property rights, whether by estoppel, implication or otherwise. See the "Legal Contact
        Information" below if you have any questions about obtaining such licenses. UpLaw does not
        sell, license, lease or otherwise provide any of the Materials other than those specifically
        identified as being provided by UpLaw. Any rights not expressly granted herein are reserved
        by UpLaw.

        3. Limited Permission to Download. UpLaw hereby grants you permission to download, view,
        copy and print the Materials on any single, stand-alone computer (or, for Microsoft Agave
        users, one copy of the Application on up to five devices affiliated with your Marketplace
        Windows Live ID account) solely for your personal, informational, non-commercial use
        provided that (i) where provided, the copyright and trademark notices appearing on any
        Materials not be altered or removed, (ii) the Materials are not used on any other website or
        in a networked computer environment and (iii) the Materials are not modified in any way,
        except for authorized editing of downloadable forms for personal use. This permission
        terminates automatically without notice if you breach any of the terms or conditions of
        these Terms of Use. On any such termination, you agree to immediately destroy any downloaded
        or printed Materials. Any unauthorized use of any Materials contained on this Site or
        Applications may violate copyright laws, trademark laws, laws of privacy and publicity and
        communications regulations and statutes.

        4. Links to Third Party Sites. This Site and Applications may contain links to websites
        controlled by parties other than UpLaw (each a "Third Party Site"). UpLaw works with a
        number of partners and affiliates whose sites are linked with UpLaw. UpLaw may also provide
        links to other citations or resources with whom it is not affiliated. UpLaw is not
        responsible for and does not endorse or accept any responsibility for the availability,
        contents, products, services or use of any Third Party Site, any website accessed from a
        Third Party Site or any changes or updates to such sites. UpLaw makes no guarantees about
        the content or quality of the products or services provided by such sites. UpLaw is not
        responsible for webcasting or any other form of transmission received from any Third Party
        Site. UpLaw is providing these links to you only as a convenience, and the inclusion of any
        link does not imply endorsement by UpLaw of the Third Party Site, nor does it imply that
        UpLaw sponsors, is affiliated or associated with, guarantees, or is legally authorized to
        use any trade name, registered trademark, logo, legal or official seal, or copyrighted
        symbol that may be reflected in the links. You acknowledge that you bear all risks
        associated with access to and use of content provided on a Third Party Site and agree that
        UpLaw is not responsible for any loss or damage of any sort you may incur from dealing with
        a third party. You should contact the site administrator for the applicable Third Party Site
        if you have any concerns regarding such links or the content located on any such Third Party
        Site.

        5. Use of UpLaw Legal Forms. On our Site, through our Applications, and through certain
        partners, we offer self-help "fill in the blank" forms. If you buy a form from one of our
        partners, you will be directed to that partner's website and their terms of use will
        control. If you buy or download a form on our Site or Application, the terms and conditions
        of these Terms of Use control. You understand that your purchase, download, and/or- use of a
        form document is neither legal advice nor the practice of law, and that each form and any
        applicable instructions or guidance is not customized to your particular needs.

        <p>License to Use.</p>

        <p>UpLaw grants you a limited, personal, non-exclusive, non-transferable license to use our
          forms (the "Forms") for your own personal, internal business use, or if you are an
          attorney or professional, for your client. Except as otherwise provided, you acknowledge
          and agree that you have no right to modify, edit, copy, reproduce, create derivative works
          of, reverse engineer, alter, enhance or in any way exploit any of the Forms in any manner,
          except for modifications in filling out the Forms for your authorized use. You shall not
          remove any copyright notice from any Form.</p>

        <p>Resale of Forms Prohibited.</p>

        <p>By ordering or downloading Forms, you agree that the Forms you purchase or download may
          only be used by you for your personal or business use or used by you in connection with
          your client and may not be sold or redistributed without the express written consent of
          UpLaw.com.</p>

        6. DISPUTE RESOLUTION BY BINDING ARBITRATION

        <p>Please read this carefully. It affects your rights.</p>

        Summary:

        <p>Most customer concerns can be resolved quickly and to the customer's satisfaction by
          calling our Customer Care Center at (800) 773-0888. In the unlikely event that the UpLaw
          Customer Care Center is unable to resolve your complaint to your satisfaction (or if UpLaw
          has not been able to resolve a dispute it has with you after attempting to do so
          informally), we each agree to resolve those disputes through binding arbitration or in
          small claims court rather than in a court of general jurisdiction. Arbitration is less
          formal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge
          or jury, allows for more limited discovery than a court does, and is subject to very
          limited review by courts. Any arbitration under these Terms will take place on an
          individual basis; class arbitrations and class actions are not permitted. While in some
          instances, upfront costs to file an arbitration claim may exceed similar costs to bring a
          case in court, for any non-frivolous claim that does not exceed $75,000, UpLaw will pay
          all costs of the arbitration. Moreover, in arbitration you may recover attorney's fees
          from UpLaw to the same extent or more as you would in court. The arbitrator shall apply
          the same limitations period that would apply in court.</p>

        <p>Under certain circumstances (as explained below), UpLaw will pay you more than the amount
          of the arbitrator's award and will pay your attorney (if any) his or her reasonable
          attorney's fees if the arbitrator awards you an amount greater than what UpLaw offered you
          to settle the dispute.</p>

        <p>You may speak with independent counsel before using this Site or completing any
          purchase.</p>

        Arbitration Agreement:

        (a) UpLaw and you agree to arbitrate all disputes and claims between us before a single
        arbitrator. The types of disputes and claims we agree to arbitrate are intended to be
        broadly interpreted. It applies, without limitation, to:

        claims arising out of or relating to any aspect of the relationship between us, whether
        based in contract, tort, statute, fraud, misrepresentation, or any other legal theory;
        claims that arose before these or any prior Terms (including, but not limited to, claims
        relating to advertising);
        claims that are currently the subject of purported class action litigation in which you are
        not a member of a certified class; and
        claims that may arise after the termination of these Terms.
        <p>For the purposes of this Arbitration Agreement, references to "UpLaw," "you," and "us"
          include our respective subsidiaries, affiliates, agents, employees, employers, business
          partners, shareholders, predecessors in interest, successors, and assigns, as well as all
          authorized or unauthorized users or beneficiaries of services or products under these
          Terms or any prior agreements between us. Beneficiaries include, but are not limited to,
          those named in an estate planning document.</p>

        <p>Notwithstanding the foregoing, either party may bring an individual action in small
          claims court. This arbitration agreement does not preclude your bringing issues to the
          attention of federal, state, or local agencies. Such agencies can, if the law allows, seek
          relief against us on your behalf. You agree that, by entering into these Terms, you and
          UpLaw are each waiving the right to a trial by jury or to participate in a class action.
          These Terms evidence a transaction or website use in interstate commerce, and thus the
          Federal Arbitration Act (“FAA”) governs the interpretation and enforcement of this
          provision. This arbitration provision will survive termination of these Terms.</p>

        (b) A party who intends to seek arbitration must first send, by U.S. certified mail, a
        written Notice of Dispute ("Notice") to the other party. A Notice to UpLaw should be
        addressed to: Notice of Dispute, General Counsel, UpLaw.com, Inc., 101 North Brand Blvd.,
        11th Floor, Glendale, CA 91203 (the "Notice Address"). The Notice must (a) describe the
        nature and basis of the claim or dispute and (b) set forth the specific relief sought
        ("Demand"). If UpLaw and you do not reach an agreement to resolve the claim within 30 days
        after the Notice is received, you or UpLaw may commence an arbitration proceeding. During
        the arbitration, the amount of any settlement offer made by UpLaw or you shall not be
        disclosed to the arbitrator until after the arbitrator determines the amount, if any, to
        which you or UpLaw is entitled.

        <p>You may download or copy a form Notice from
          http://www.uplaw.com/arbitration-forms.pdf.</p>

        <p>You may download or copy a form to initiate arbitration from the American Arbitration
          Association ("the AAA") website at https://www.adr.org.</p>

        (c) After UpLaw receives notice at the Notice Address that you have commenced arbitration,
        it will promptly reimburse you for your payment of the filing fee, unless your claim is for
        more than $75,000. (Currently, the filing fee for consumer-initiated arbitrations is $200,
        but this is subject to change by the arbitration provider. If you are unable to pay this
        fee, UpLaw will pay it directly after receiving a written request at the Notice Address.)
        The arbitration will be governed by the Consumer Arbitration Rules (the "AAA Rules") of the
        American Arbitration Association, as modified by these Terms, for all claims under $75,000,
        and the applicable rules as determined by the AAA for all claims of or above $75,000, and
        will be administered by the AAA. The AAA Rules are available online at www.adr.org or by
        calling the AAA at 1-800-778-7879. (You may obtain information about the arbitration process
        directed to non-lawyers, including information about providing notice to UpLaw, at
        http://www.uplaw.com/arbitration-information.pdf.) The arbitrator is bound by these Terms.
        All issues are for the arbitrator to decide, except that issues relating to the scope,
        enforceability, and interpretation of the arbitration provision and the scope,
        enforceability, and interpretation of paragraph (f) are for the court to decide. Unless
        UpLaw and you agree otherwise, any arbitration hearings will take place in the county (or
        parish) of your contact address. If your claim is for $10,000 or less, you may choose
        whether the arbitration will be conducted solely on the basis of documents submitted to the
        arbitrator, by a telephonic hearing, or by an in-person hearing as established by the AAA
        Rules. If you choose to proceed either in person or by telephone, we may choose to respond
        only by telephone or submission. If your claim exceeds $10,000, the AAA Rules will determine
        whether you have a right to a hearing. The parties agree that in any arbitration of a
        dispute or claim, neither party will rely for preclusive effect on any award or finding of
        fact or conclusion of law made in any other arbitration of any dispute or claim to which
        UpLaw was a party. Except as otherwise provided for herein, UpLaw will pay all AAA filing,
        administration, and arbitrator fees for any arbitration initiated in accordance with the
        notice requirements above. If, however, the arbitrator finds that either the substance of
        your claim or the relief sought in the Demand is frivolous or brought for an improper
        purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)),
        then the payment of all such fees will be governed by the AAA Rules. In such case, you agree
        to reimburse UpLaw for all monies previously disbursed by it that are otherwise your
        obligation to pay under the AAA Rules. In addition, if you initiate an arbitration in which
        you seek relief valued at more than $75,000 (excluding attorney’s fees and expenses), the
        payment of these fees will be governed by the AAA rules.

        (d) For claims under $75,000, if, after finding in your favor in any respect on the merits
        of your claim, the arbitrator issues you an award that is greater than the value of UpLaw's
        last written settlement offer made before an arbitrator was selected, then UpLaw will:

        pay you either the amount of the award or $2,000 ("the alternative payment"), whichever is
        greater; and
        pay your attorney, if any, the amount of attorney's fees, and reimburse any expenses
        (including expert witness fees and costs), that your attorney reasonably accrues for
        investigating, preparing, and pursuing your claim in arbitration (the "attorney's payment").
        <p>If UpLaw did not make a written offer to settle the dispute before an arbitrator was
          selected, you and your attorney will be entitled to receive the alternative payment and
          the attorney's fees, respectively, if the arbitrator awards you any relief on the merits.
          The arbitrator may make rulings and resolve disputes as to the payment and reimbursement
          of fees, expenses, and the alternative payment and the attorney's fees at any time during
          the proceeding and upon request from either party made within 14 days of the arbitrator's
          ruling on the merits. In assessing whether an award that includes attorney’s fees or
          expenses is greater than the value of UpLaw’s last written settlement offer, the
          arbitrator shall include in his or her calculations only the value of any attorney’s fees
          or expenses you reasonably incurred in connection with the arbitration proceeding before
          UpLaw’s settlement offer.</p>

        (e) The right to attorney's fees and expenses discussed in paragraph (d) supplements any
        right to attorney's fees and expenses you may have under applicable law. Thus, if you would
        be entitled to a larger amount under applicable law, this provision does not preclude the
        arbitrator from awarding you that amount. However, you may not recover duplicative awards of
        attorney's fees or costs. Although under some laws UpLaw may have a right to an award of
        attorney's fees and expenses if it prevails in an arbitration proceeding, UpLaw will not
        seek such an award, for claims under $75,000.

        (f) The arbitrator may award injunctive relief only in favor of the individual party seeking
        relief and only to the extent necessary to provide relief warranted by that party's
        individual claim. YOU AND UPLAW AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN
        YOUR OR ITS INDIVIDUAL CAPACITIES AND NOT AS PLAINTIFFS OR CLASS MEMBERS IN ANY PURPORTED
        CLASS OR REPRESENTATIVE PROCEEDING OR IN THE CAPACITY OF A PRIVATE ATTORNEY GENERAL.
        Further, unless both you and UpLaw agree otherwise, the arbitrator may not consolidate more
        than one person's claims, and may not otherwise preside over any form of a representative or
        class proceeding. The arbitrator may award any relief that a court could award that is
        individualized to the claimant and would not affect other customers. Neither you nor we may
        seek non-individualized relief that would affect other customers. If a court decides that
        applicable law precludes enforcement of any of this paragraph's limitations as to a
        particular claim for relief, then that claim (and only that claim) must be severed from the
        arbitration and may be brought in court.

        (g) If the amount in dispute exceeds $75,000 or either party seeks any form of injunctive
        relief, either party may appeal the award to a three-arbitrator panel administered by AAA by
        a written notice of appeal within thirty (30) days from the date of entry of the written
        arbitration award. An award of injunctive relief shall be stayed during any such appeal. The
        members of the three-arbitrator panel will be selected according to AAA rules. The
        three-arbitrator panel will issue its decision within one hundred and twenty (120) days of
        the date of the appealing party's notice of appeal. The decision of the three-arbitrator
        panel shall be final and binding, subject to any right of judicial review that exists under
        the FAA.

        (h) Notwithstanding any provision in the applicable Terms to the contrary, we agree that if
        we make any future change to this arbitration provision (other than a change to any notice
        address, website link or telephone number provided herein), that change will not apply to
        any dispute of which we had written notice on the effective date of the change. Moreover, if
        we seek to terminate this arbitration provision, any such termination will not be effective
        until at least thirty (30) days after written notice of such termination is provided to you,
        and shall not be effective as to disputes which arose prior to the date of termination.

        7. Additional Terms. Some UpLaw Services may be subject to additional posted guidelines,
        rules or terms of service ("Additional Terms") and your use of such Services will be
        conditioned on your agreement to the Additional Terms. If there is any conflict between
        these Terms of Use and the Additional Terms, the Additional Terms will control for that
        Service, unless the Additional Terms expressly state that these Terms of Use will control.

        8. Reviews, Comments, Communications, and Other Content. At various locations on the Site or
        through Applications, UpLaw may permit visitors to post ratings, reviews, comments,
        questions, answers, and other content (the "User Content"). Contributions to, access to and
        use of the User Content is subject to this paragraph and the other terms and conditions of
        these Terms of Use.

        <h2>Rights and Responsibilities of UpLaw.</h2>

        <p>UpLaw is not the publisher or author of the User Content. UpLaw takes no responsibility
          and assumes no liability for any content posted by you or any third party.</p>

        <p>Although we cannot make an absolute guarantee of system security, UpLaw takes reasonable
          steps to maintain security. If you have reason to believe system security has been
          breached, contact us by email for help.</p>

        <p>If UpLaw's technical staff finds that files or processes belonging to a member pose a
          threat to the proper technical operation of the system or to the security of other
          members, UpLaw reserves the right to delete those files or to stop those processes. If the
          UpLaw technical staff suspects a user name is being used by someone who is not authorized
          by the proper user, UpLaw may temporarily disable that user's access in order to preserve
          system security. In all such cases, UpLaw will contact the member as soon as feasible.</p>

        <p>UpLaw has the right (but not the obligation), in our sole and absolute discretion, to
          edit, redact, remove, re-categorize to a more appropriate location or otherwise change any
          User Content.</p>

        <h2>Rights and Responsibilities of UpLaw Users or Other Posters of User Content.</h2>

        You are legally and ethically responsible for any User Content - writings, files, pictures
        or any other work - that you post or transmit using any UpLaw service that allows
        interaction or dissemination of information. In posting User Content, you agree that you
        will not submit any content:

        that is known by you to be false, inaccurate or misleading;
        that infringes anyone’s copyright, patent, trademark, trade secret or other proprietary
        rights or rights of publicity or privacy. Please see Compliance with Intellectual Property
        Laws below;
        that violates any law, statute, ordinance, or regulation (including, but not limited to,
        those governing export control, consumer protection, unfair competition, antidiscrimination,
        or false advertising). Please see Compliance with Export Restrictions below;
        that is, or may reasonably be considered to be, defamatory, libelous, hateful, racially or
        religiously biased or offensive, unlawfully threatening or unlawfully harassing, or
        advocates or encourages illegal conduct harmful to any individual, partnership or
        corporation. Please see Inappropriate Content below;
        that includes advertisements, spam, or content for which you were compensated or granted any
        consideration by any third party;
        that includes information that references other websites, addresses, email addresses, phone
        numbers, or other contact information;
        that contains any computer virus, worms, or other potentially damaging computer programs or
        files;
        that otherwise violates these Terms of Use.
        <strong>Attorneys that submit User Content and provide advice do so at their own
          risk.</strong>

        <p>Under United States federal law, you retain copyright on all works you create and post as
          User Content, unless you choose specifically to renounce it. In posting a work as User
          Content, you authorize other members who have access to that service to make personal and
          customary use of the work, including creating links or reposting, but not otherwise to
          reproduce or disseminate it unless you give permission for such dissemination.</p>

        <p>You grant UpLaw a perpetual, irrevocable, royalty-free, transferable right and license to
          use, copy, modify, delete in its entirety, adapt, publish, translate, create derivative
          works from, sell, distribute, and/or incorporate such content into any form, medium, or
          technology throughout the world without compensation to you. You have the right to remove
          any of your works from User Content at any time.</p>

        <p>You are not required to provide your real name when signing up as a user of UpLaw. UpLaw
          permits anonymous or pseudonymous accounts. Any user may request that such member's email
          address be hidden to provide for additional privacy.</p>

        <p>Ratings and reviews will generally be posted in two to four business days.</p>

        <p>By submitting your email address in connection with your rating and review, you agree
          that UpLaw may use your email address to contact you about the status of your review and
          other administrative purposes.</p>

        9. NO WARRANTY. THE SITE, APPLICATIONS, AND ALL MATERIALS, DOCUMENTS OR FORMS PROVIDED ON OR
        THROUGH YOUR USE OF THE SITE OR APPLICATIONS ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE"
        BASIS. TO THE FULLEST EXTENT PERMITTED BY LAW, UPLAW EXPRESSLY DISCLAIMS ALL WARRANTIES OF
        ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.

        <p>UPLAW MAKES NO WARRANTY THAT: (A) THE SITE, APPLICATIONS, OR THE MATERIALS WILL MEET YOUR
          REQUIREMENTS; (B) THE SITE, APPLICATIONS, OR THE MATERIALS WILL BE AVAILABLE ON AN
          UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE BASIS; (C) THE RESULTS THAT MAY BE OBTAINED
          FROM THE USE OF THE SITE, APPLICATIONS, OR ANY MATERIALS OFFERED THROUGH THE SITE OR
          APPLICATIONS, WILL BE ACCURATE OR RELIABLE; OR (D) THE QUALITY OF ANY PRODUCTS, SERVICES,
          INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SITE, APPLICATIONS,
          OR IN RELIANCE ON THE MATERIALS WILL MEET YOUR EXPECTATIONS.</p>

        <p>OBTAINING ANY MATERIALS THROUGH THE USE OF THE SITE OR APPLICATIONS IS DONE AT YOUR OWN
          DISCRETION AND AT YOUR OWN RISK. UPLAW SHALL HAVE NO RESPONSIBILITY FOR ANY DAMAGE TO YOUR
          COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY CONTENT, MATERIALS,
          INFORMATION OR SOFTWARE.</p>

        <p>NOTWITHSTANDING THE ABOVE, UPLAW OFFERS A 60 DAY SATISFACTION GUARANTEE, THE TERMS OF
          WHICH ARE AVAILABLE HERE. THIS DISCLAIMER OF WARRANTY DOES NOT APPLY TO THE PURCHASE OF
          PRODUCTS OR SERVICES BY NORTH CAROLINA CONSUMERS.</p>

        <p>10. LIMITATION OF LIABILITY AND INDEMNIFICATION. EXCEPT AS PROHIBITED BY LAW, YOU WILL
          HOLD UPLAW AND ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS HARMLESS FOR ANY INDIRECT,
          PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGE, HOWEVER IT ARISES (INCLUDING
          ATTORNEYS' FEES AND ALL RELATED COSTS AND EXPENSES OF LITIGATION AND ARBITRATION, OR AT
          TRIAL OR ON APPEAL, IF ANY, WHETHER OR NOT LITIGATION OR ARBITRATION IS INSTITUTED),
          WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS ACTION, OR ARISING OUT OF
          OR IN CONNECTION WITH THIS AGREEMENT, INCLUDING WITHOUT LIMITATION ANY CLAIM FOR PERSONAL
          INJURY OR PROPERTY DAMAGE, ARISING FROM THIS AGREEMENT AND ANY VIOLATION BY YOU OF ANY
          FEDERAL, STATE, OR LOCAL LAWS, STATUTES, RULES, OR REGULATIONS, EVEN IF UPLAW HAS BEEN
          PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. EXCEPT AS PROHIBITED BY LAW, IF
          THERE IS LIABILITY FOUND ON THE PART OF UPLAW, IT WILL BE LIMITED TO THE AMOUNT PAID FOR
          THE PRODUCTS AND/OR SERVICES, AND UNDER NO CIRCUMSTANCES WILL THERE BE CONSEQUENTIAL OR
          PUNITIVE DAMAGES. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF PUNITIVE,
          INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE PRIOR LIMITATION OR EXCLUSION MAY NOT APPLY TO
          YOU. THIS PARAGRAPH DOES NOT APPLY TO NORTH CAROLINA CONSUMERS.</p>

        <p>11. Unsolicited Submissions. Except as may be required in connection with your use of
          UpLaw Services, UpLaw does not want you to submit confidential or proprietary information
          to us through this Site or any Applications. All comments, feedback, information or
          material submitted to UpLaw through or in association with this Site shall be considered
          non-confidential and UpLaw's property. By providing such submissions to UpLaw you hereby
          assign to UpLaw, at no charge, all worldwide right, title and interest in and to the
          submissions and any intellectual property rights associated therewith. UpLaw shall be free
          to use and/or disseminate such submissions on an unrestricted basis for any purpose. You
          acknowledge that you are responsible for the submissions that you provide, including their
          legality, reliability, appropriateness, originality and content.</p>

        <p>12. Compliance with Intellectual Property Laws. When accessing UpLaw or using the UpLaw
          legal document preparation Service, you agree to obey the law and you agree to respect the
          intellectual property rights of others. Your use of the Service and the Site is at all
          times governed by and subject to laws regarding copyright, trademark and other
          intellectual property ownership. You agree not to upload, download, display, perform,
          transmit or otherwise distribute any information or content in violation of any third
          party's copyrights, trademarks or other intellectual property or proprietary rights. You
          agree to abide by laws regarding copyright ownership and use of intellectual property, and
          you shall be solely responsible for any violations of any relevant laws and for any
          infringements of third party rights caused by any content you provide or transmit or that
          is provided or transmitted using your UpLaw user account.</p>

        <p>UpLaw has adopted a policy that provides for the immediate removal of any content,
          article or materials that have infringed on the rights of UpLaw or of a third party or
          that violate intellectual property rights generally. UpLaw's policy is to remove such
          infringing content or materials and investigate such allegations immediately.</p>

        Copyright Infringement:

        <p>Notice. UpLaw has in place certain legally mandated procedures regarding allegations of
          copyright infringement occurring on the Site or with the Service. The Company has adopted
          a policy that provides for the immediate suspension and/or termination of any Site or
          Service user who is found to have infringed the rights of the Company or of a third party,
          or otherwise violated any intellectual laws or regulations. The Company's policy is to act
          expeditiously upon receipt of proper notification of claimed copyright infringement to
          remove or disable access to the allegedly infringing content. If you have evidence, know,
          or have a good faith belief that your rights or the rights of a third party have been
          violated and you want the Company to delete, edit, or disable the material in question,
          you must provide the Company with the following information in writing (see 17 U.S.C
          512(c)(3) for further detail): (1) A physical or electronic signature of a person
          authorized to act on behalf of the owner of an exclusive right that is allegedly
          infringed; (2) Identification of the copyrighted work claimed to have been infringed, or,
          if multiple copyrighted works at a single online site are covered by a single
          notification, a representative list of such works at that site; (3) Identification of the
          material that is claimed to be infringing or to be the subject of infringing activity and
          that is to be removed or access to which is to be disabled and information reasonably
          sufficient to permit the service provider to locate the material; (4) Information
          reasonably sufficient to permit the Company to contact you, such as an address, telephone
          number, and, if available, email address; (5) A statement that you have a good faith
          belief that use of the material in the manner complained of is not authorized by the
          copyright owner, its agent, or the law; and (6) A statement that the information in the
          notification is accurate, and under penalty of perjury, that you are authorized to act on
          behalf of the owner of an exclusive right that is allegedly infringed.</p>
        The above written information must be sent to our registered Copyright Agent:
        General Counsel
        c/o UpLaw.com, Inc.
        1800 U St.
        Washington D.C., D.C. 20001
        mailto:copyrightagent@uplaw.com


        <p>Counter-Notice. If you believe that your Content that was removed (or to which access was
          disabled) is not infringing, or that you have the authorization from the copyright owner,
          the copyright owner's agent, or pursuant to the law, to post and use the material in your
          Content, you may send a written counter-notice containing the following information to the
          Copyright Agent: (1) Your physical or electronic signature; (2) Identification of the
          Content that has been removed or to which access has been disabled and the location at
          which the Content appeared before it was removed or disabled; (3) A statement that you
          have a good faith belief that the Content was removed or disabled as a result of mistake
          or a misidentification of the Content; and (4) Your name, address, telephone number, and
          email address, a statement that you consent to the jurisdiction of the federal court in
          Austin, Texas, and a statement that you will accept service of process from the person who
          provided notification of the alleged infringement. If a counter-notice is received by the
          Copyright Agent, the Company may send a copy of the counter-notice to the original
          complaining party informing that person that it may replace the removed Content or cease
          disabling it in 10 business days. Unless the copyright owner files an action seeking a
          court order against the Content provider, member or user, the removed Content may be
          replaced, or access to it restored, in 10 to 14 business days or more after receipt of the
          counter-notice, at the Company's sole discretion.</p>
        13. Inappropriate Content. When accessing the Site, any Applications, or using UpLaw's
        Services, you agree not to upload, download, display, perform, transmit or otherwise
        distribute any content that: (i) is libelous, defamatory, obscene, pornographic, abusive or
        threatening; (b) advocates or encourages conduct that could constitute a criminal offense,
        give rise to civil liability or otherwise violate any applicable local, state, national or
        foreign law or regulation; or (c) advertises or otherwise solicits funds or is a
        solicitation for goods or services. UpLaw reserves the right to terminate or delete such
        material from its servers. UpLaw will cooperate fully with any law enforcement officials or
        agencies in the investigation of any violation of these Terms of Use or of any applicable
        laws.

        14. Compliance with Export Restrictions. You may not access, download, use or export the
        Site, Applications, or the Materials in violation of United States export laws or
        regulations or in violation of any other applicable laws or regulations. You agree to comply
        with all export laws and restrictions and regulations of any United States or foreign agency
        or authority and to assume sole responsibility for obtaining licenses to export or re-export
        as may be required. You acknowledge and agree that the Materials are subject to the United
        States Export Administration Laws and Regulations and agree that none of the Materials or
        any direct product therefrom is being or will be acquired for, shipped, transferred or
        re-exported, directly or indirectly, to proscribed or embargoed countries or their nationals
        or used for any prohibited purpose.

        15. Personal Use. The site is made available for your personal use on your own behalf.

        16. Children. Minors are not eligible to use the Site or Applications and we ask that they
        do not submit any personal information to us.

        17. Non-English-Speaking Customers. Certain materials on the UpLaw site, including but not
        limited to questionnaires, documents, instructions, and filings, are only available in
        English. Non-English translations of these Terms, as well as other terms, conditions, and
        policies, are provided for convenience only. In the event of any ambiguity or conflict
        between translations, the English version is authoritative and controls.

        18. Customers Needing Extra Assistance. UpLaw aims to provide full access to its website and
        product offerings regardless of disability. If you are unable to read any part of the UpLaw
        website, or otherwise have difficulties using the UpLaw website, please call (800) 773-0888
        and our customer care team will assist you.

        19. Governing Law; Venue. Any legal action or proceeding relating to your access to or use
        of the Site, an Application, or Materials is governed by the Arbitration Agreement contained
        in paragraph 6 of these Terms of Use. These Terms of Use expressly exclude and disclaim the
        terms of the U.N. Convention on Contracts for the International Sale of Goods, which shall
        not apply to any transaction conducted through or otherwise involving this Site or an
        Application.

        20. Copyrights. All Site design, text, graphics, the selection and arrangement thereof,
        Copyright ©, UpLaw.com, Inc. ALL RIGHTS RESERVED.

        21. Trademarks. UpLaw, UpLaw.com, LegalZip, the bi-colored "flying document" logo, all
        images and text, and all page headers, custom graphics and button icons are service marks,
        trademarks and/or trade dress of UpLaw. All other trademarks, product names and company
        names or logos cited herein are the property of their respective owners.

        22. Attorney Access Services; Use of Term "Experience." The term "experience" or
        "experienced," as used on the Site, Applications, and in other communications in reference
        to third party attorneys participating in UpLaw's legal plans or other attorney access
        services means that the legal plan primary handling partner of each law firm fulfills the
        following: (a) possesses a minimum of five years' experience practicing law, (b) maintains
        errors and omissions insurance policies consistent with industry standards, (c) is in good
        standing with the state bar in each jurisdiction in which the attorney is licensed to
        practice, (d) has no pending malpractice lawsuit, as of the date of joining one of UpLaw's
        legal plans, and (e) has no public record of discipline by a state bar within the last five
        years. The term "experience" or "experienced" is not intended to be a comparison to any
        other attorney's services or qualifications.

        23. Use of Testimonials and Media Endorsements. The media hosts on the Site endorse UpLaw as
        paid spokespeople in our advertising campaigns.

        24. Inquiries. BY USING UPLAW'S SERVICES OR ACCESSING THE UPLAW SITE OR APPLICATIONS, YOU
        ACKNOWLEDGE AND ACCEPT THAT SUBMITTING YOUR TELEPHONE NUMBER TO UPLAW VIA THE UPLAW SITE OR
        APPLICATIONS CONSTITUTES AN INQUIRY TO UPLAW, AND THAT UPLAW MAY CONTACT YOU AT THE NUMBER
        SUBMITTED EVEN IF SUCH NUMBER APPEARS ON ANY STATE OR FEDERAL DO NOT CALL LISTS (TAKING INTO
        ACCOUNT INQUIRY EXCEPTION TIME FRAMES AS APPROPRIATE).

        25. Right to Refuse. You acknowledge that UpLaw reserves the right to refuse service to
        anyone and to cancel user access at any time.

        26. Acknowledgement. BY USING UPLAW'S SERVICES OR ACCESSING THE UPLAW SITE OR APPLICATIONS,
        YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF USE AND AGREE TO BE BOUND BY THEM. UpLaw
        is located at 1800 U Street, Washington, D.C, District of Columbia 20001.

        Updated: July 26, 2019
      </div>
    </div>
  </div>
</div>
{% endblock %}