{{ wtf.form_field(form.EMPLOYER_NAME) }}
{{ wtf.form_field(form.DEPARTMENT_NAME) }}
{{ wtf.form_field(form.POSITION) }}
{{ wtf.form_field(form.recognize_employees_may_seek_outside_employment) }}
<div id="require_written_approval_or_notice">
  {{ wtf.form_field(form.require_written_approval_or_notice) }}
  {{ wtf.form_field(form.written_approval_or_notice) }}
</div>
{% include 'docx/forms/common/labor_and_employment_footer.html' %}
<script>
  $("#recognize_employees_may_seek_outside_employment").change(function () {
    if ($(this).val() == 'yes') {
      $('#require_written_approval_or_notice').show();
    } else {
      $('#require_written_approval_or_notice').hide();
    }
  });
  $("#recognize_employees_may_seek_outside_employment").trigger("change")

</script>