<!-- BEGIN: CONTENT/STEPS/STEPS-2 -->
<div class="c-content-box c-size-lg c-bg-parallax"
     style="background-image: url(
                 {{ url_for('static', filename='assets/base/img/content/backgrounds/bg-37.jpg') }})">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="c-content-title-1 c-margin-b-60">
                    <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
                        How it Works?
                    </h3>
                    <p class="c-center c-font-uppercase c-font-17  c-font-white">
                        Answer a few questions and we take care of the paperwork for you.
                    </p>
                    <div class="c-line-center"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="c-content-step-1 c-opt-1">
                    <div class="c-icon">
						<span class="c-hr c-hr-first c-theme-border-after c-theme-border-before">
							<span class="c-content-business-line-icon c-business-icon-34"></span>
						</span>
                    </div>
                    <div class="c-title c-font-20 c-font-bold c-font-white c-font-uppercase">1. Build Your Document
                    </div>
                    <div class="c-description c-font-17 c-font-white">Answer a few a few simple questions to build your
                        document in minutes.
                    </div>
                    <a href="{{ url_for('main.services')}}"
                       class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Learn
                        More
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="c-content-step-1 c-opt-1">
                    <div class="c-icon"><span class="c-hr c-theme-border-after c-theme-border-before"><span
                            class="c-content-business-line-icon c-business-icon-1"></span></span></div>
                    <div class="c-title c-font-20 c-font-bold c-font-white c-font-uppercase">2. Save, Print & Download
                    </div>
                    <div class="c-description c-font-17 c-font-white">Save progress and update your document any time.
                        Download your document in .docx, .pdf and print it from anywhere.
                    </div>
                    <a href="{{ url_for('main.services')}}"
                       class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="c-content-step-1 c-opt-1">
                    <div class="c-icon"><span
                            class="c-hr c-hr-last c-theme-border-after c-theme-border-before"><span
                            class="c-content-business-line-icon c-business-icon-24"></span></span></div>
                    <div class="c-title c-font-20 c-font-bold c-font-white c-font-uppercase"> 3. Make it Legal</div>
                    <div class="c-description c-font-17 c-font-white">Sign your document and make it legal. We'll make
                        sure it stays updated with the law.
                    </div>
                    <a href="{{ url_for('main.services')}}"
                       class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/STEPS/STEPS-2 -->