

{% extends "layout-light.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
  {% include 'include/breadcrumbs-light.html' %}

  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: BLOG LISTING -->
  <div class="c-content-box c-size-md">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="c-content-blog-post-1-list">
            {% for article in articles%}

            <div class="c-content-blog-post-1">
              <div class="c-title c-font-bold c-font-uppercase">
                <a href="{{url_for('main.document', slug=article.slug)}}">{{article.title}}</a>
              </div>

              <div class="c-desc">
                {{article.summary}}
                <a href="{{url_for('main.document', slug=article.slug)}}">read more...</a>
              </div>

              <div class="c-panel">
                <div class="c-author"><a href="#">By <span class="c-font-uppercase">{{article.user_email}}</span></a></div>
                <div class="c-date">on <span class="c-font-uppercase">{{ article.timestamp }}</span></div>
                <ul class="c-tags c-theme-ul-bg">
                  {% set cats = article.category.split(',') %}
                  {% for cat in cats %}
                  <li>{{ cat }}</li>
                  {% endfor %}

                </ul>
                <div class="c-comments"><a href="#"><i class="icon-speech"></i> 30 comments</a></div>
              </div>
            </div>
            {% endfor %}

            {% if request.args.page %}{% set page = request.args.page | int()%}{% endif %}
            <div class="c-pagination">
              <ul class="c-content-pagination c-theme">
                <li class="c-prev{% if not prev_url %} disabled{% endif %}"><a href="{{ prev_url or '#' }}#"><i class="fa fa-angle-left"></i></a></li>
                <li class="{% if page ==1 %}c-active{% endif %}"><a href="{{ url_for('main.blog', page=1)}}">1</a></li>
                <li class="{% if page ==2 %}c-active{% endif %}"><a href="{{ url_for('main.blog', page=2)}}">2</a></li>
                <li class="{% if page ==3 %}c-active{% endif %}"><a href="{{ url_for('main.blog', page=3)}}">3</a></li>
                <li class="{% if page ==4 %}c-active{% endif %}"><a href="{{ url_for('main.blog', page=4)}}">4</a></li>
                <li class="{% if page ==5 %}c-active{% endif %}"><a href="{{ url_for('main.blog', page=5)}}">5</a></li>
                <li class="c-next{% if not next_url %} disabled{% endif %}"><a href="{{ next_url or '#' }}"><i class="fa fa-angle-right"></i></a></li>

              </ul>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          {% include 'include/blog-sidebar.html' %}
        </div>
      </div>
    </div>
  </div>
  <!-- END: BLOG LISTING  -->

  <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
{% endblock %}