{% extends "layout-light.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
<!-- BEGIN: PAGE CONTENT -->
  <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
      <div class="c-shop-order-complete-1 c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
        <div class="c-content-title-1">
          <h3 class="c-center c-font-uppercase c-font-bold">Order Complete</h3>
          <div class="c-line-center c-theme-bg"></div>
        </div>
        <div class="c-theme-bg">
          <p class="c-message c-center c-font-white c-font-20 c-font-sbold">
            <i class="fa fa-check"></i>Thank you! Your order has been received.

          </p>
          <p class="c-message c-center c-font-white c-font-16 ">Most orders take 3-5 days to complete. Once your document is ready, you may access your document from your <a href="{{url_for('main.account')}}">account dashboard</a>. An UpLaw representative will contact you shortly to collect the information necessary to complete your order.

          </p>
        </div>
        <!-- BEGIN: ORDER SUMMARY -->
        <div class="row c-order-summary c-center">
          <ul class="c-list-inline list-inline">
            <li>
              <h3>Order Id.</h3>
              <p>{{order.id}}</p>
            </li>
            <li>
              <h3>Date Purchased</h3>
              <p>{{order.date_created[0,10]}}</p>
            </li>
            <li>
              <h3>Total</h3>
              <p>${{order.total}}</p>
            </li>
            <li>
              <h3>Payment Method</h3>
              <p>Credit Card</p>
            </li>
          </ul>
        </div>
        <!-- END: ORDER SUMMARY -->
        <!-- BEGIN: BANK DETAILS -->
        <!--<div class="c-bank-details c-margin-t-30 c-margin-b-30">
            <p class="c-margin-b-20">Your service is now accessible in your <a href="{{url_for('main.account')}}">user account</a></p> where you may access, update, and download all of your current services.

            <h3 class="c-margin-t-40 c-margin-b-20 c-font-uppercase c-font-22 c-font-bold">OUR BANK DETAILS</h3>
            <h3 class="c-border-bottom">Account Name : &nbsp;<span class="c-font-thin">Themehats</span></h3>
            <ul class="c-list-inline list-inline">
                <li>
                    <h3>Account Number</h3>
                    <p>12345678901234567</p>
                </li>
                <li>
                    <h3>Sort Code</h3>
                    <p>123</p>
                </li>
                <li>
                    <h3>Bank</h3>
                    <p>Bank Name</p>
                </li>
                <li>
                    <h3>BIC</h3>
                    <p>12345</p>
                </li>
            </ul>
        </div>-->
        <!-- END: BANK DETAILS -->
        <!-- BEGIN: ORDER DETAILS -->
        <div class="c-order-details">
          <div class="c-border-bottom hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">Service</h3>
              </div>
              <div class="col-md-5">
                <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">Description</h3>
              </div>
              <div class="col-md-2">
                <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">Total</h3>
              </div>
              <div class="col-md-2">
                <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">Download</h3>
              </div>
            </div>
          </div>
          <!-- BEGIN: PRODUCT ITEM ROW -->

          <div class="c-border-bottom c-row-item">
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <p class="c-font-sbold c-font-18"><a href="{{url_for('main.orders')}}">{{product.title}}</a>
              </div>
              <!--<div class="col-md-3 col-sm-12 c-image">
                  <div class="c-content-overlay">
                      <div class="c-overlay-wrapper">
                          <div class="c-overlay-content">
                              <a href="{{url_for('main.orders')}}"
                                 class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Download</a>
                          </div>
                      </div>
                      <div class="c-bg-img-top-center c-overlay-object" data-height="height">
                          <img width="100%" class="img-responsive"
                               src="{{ url_for('static', filename='assets/images/uplaw_service_picture_default.png')}}">
                      </div>
                  </div>
              </div>-->
              <div class="col-md-5 col-sm-8">
                <ul class="c-list list-unstyled">

                  <li class="c-margin-b-10"> {{product.description}}</li>
                <li class="c-margin-b-10">Jurisdiction: {{product.jurisdiction}}</li>

                  <li>Quantity: 1</li>
                </ul>
              </div>
              <div class="col-md-2 col-sm-2">
                <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">Total</p>
                <p class="c-font-sbold c-font-uppercase c-font-18">${{order.total}}</p>

              </div>
              <div class="col-md-2 col-sm-2">
                <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">Download</p>
                <a class="c-content-events-1-link btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase"
                   href="{{url_for('main.orders')}}">Download</a>
              </div>

            </div>
          </div>

          <!-- END: PRODUCT ITEM ROW -->

        </div>
        <!-- END: ORDER DETAILS -->
        <!-- BEGIN: CUSTOMER DETAILS -->
        <div class="c-customer-details row" data-auto-height="true">
          <div class="col-md-6 col-sm-6 c-margin-t-20">
            <div data-height="height">
              <h3 class=" c-margin-b-20 c-font-uppercase c-font-22 c-font-bold">Contact Details</h3>
              <ul class="list-unstyled">
                <li>Name: {{order.billing_first_name}} {{order.billing_last_name}}</li>
                <li>Phone: {{order.billing_phone}}</li>
                <li>Email: {{order.billing_email}}<a href="mailto:{{order.billing_email}}"
                                                     class="c-theme-color"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 c-margin-t-20">
            <div data-height="height">
              <h3 class=" c-margin-b-20 c-font-uppercase c-font-22 c-font-bold">Billing Address</h3>
              <ul class="list-unstyled">
                <li>{{order.billing_street_address_1}}</li>
                {% if order.billing_street_address_2 %}
                <li>{{order.billing_street_address_2}}</li>
                {% endif %}
                <li>{{order.billing_city}}, {{order.billing_state}} {{order.billing_zip}}</li>

              </ul>
            </div>
          </div>
        </div>
        <!-- END: CUSTOMER DETAILS -->
      </div>
    </div>
  </div>
  <!-- END: PAGE CONTENT -->
</div>
{% endblock %}