{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}



    <div class="cart_section checkout_section cmn_gap">
        <div class="cart_container container">
            <div class="cmn_header">
                <h2>Checkout</h2>
            </div>
            <form action="{{url_for('main.checkout_complete')}}"
                  method="post">
            <div class="row cart_row">
                <div class="col-lg-8 col-12 cart_col_left">
                    <div class="p_delts_left">



                            <div class="billing_details_dv">
                                <div class="checkout_form_header">
                                    <h4>Billing details</h4>
                                </div>
                                <div class="row checkout_form_row">
                                    <div class="col-lg-6 col-12 checkout_form_col">
                                        <div class="form_group">

                                            {{order_form.billing_first_name.label}}
                                            {{order_form.billing_first_name(class="form-control c-square c-theme")}}
                                        </div>
                                    </div>
    
                                    <div class="col-lg-6 col-12 checkout_form_col">
                                        <div class="form_group">
                                            <input type="text" placeholder="Last Name">
                                        </div>
                                    </div>
    
                                    <div class="col-12 checkout_form_col">
                                        <div class="form_group">
                                            {{order_form.billing_last_name.label}}
                                            {{order_form.billing_last_name(class="form-control c-square c-theme")}}
                                        </div>
                                    </div>
    
                                    <div class="col-12 checkout_form_col">
                                        <div class="form_group">
                                            {{order_form.billing_street_address_1.label}}
                                            {{order_form.billing_street_address_1(class="form-control c-square c-theme")}}
                                        </div>
                                    </div>
                                    <div class="col-12 checkout_form_col">
                                        <div class="form_group">
                                            {{order_form.billing_street_address_2(class="form-control c-square c-theme")}}

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-12 checkout_form_col">
                                        <div class="form_group">
                                            {{order_form.billing_city.label}}
                                            {{order_form.billing_city(class="form-control c-square c-theme")}}
                                        </div>
                                    </div>
    
                                    <div class="col-lg-4 col-12 checkout_form_col">
                                        <div class="form_group">
                                            {{order_form.billing_state.label}}
                                            {{order_form.billing_state(class="form-control c-square c-theme")}}
                                        </div>
                                    </div>
    
                                    <div class="col-lg-4 col-12 checkout_form_col">
                                        <div class="form_group">
                                            {{order_form.billing_zip.label}}
                                            {{order_form.billing_zip(class="form-control c-square c-theme")}}
                                        </div>
                                        <input type="hidden" name="price" value="{{product.price}}">
                                        <input type="hidden" name="fees" value="{{fees}}">
                                        <input type="hidden" name="total" value="{{total}}">
                                    </div>
                                    <div class="col-lg-4 col-12 checkout_form_col">
                                        <div class="form_group">
                                            {{order_form.billing_phone.label}}
                                            {{order_form.billing_phone(class="form-control c-square c-theme")}}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-12 checkout_form_col">
                                        <div class="form_group">
                                            {{order_form.billing_email.label}}
                                            {{order_form.billing_email(class="form-control c-square c-theme")}}
                                        </div>
                                    </div>
                                </div>
                                </br>
                                </br>
                                {% if not current_user.is_authenticated %}
                                <div class="row checkout_form_row">

                                    <div class="steps_div steps_div_11">
                                        <h3>Create an account to save your document</h3>
                                        <p>Your document will be stored securely so you can access it anytime, from any device.</p>
                                        <div class="form-card">
                                            <div class="row form-card-row">
                                                <div class="col-12 form-card-col">
                                                    <div class="form_group">
                                                        <label for="email">Email</label>
                                                        <input type="email" placeholder="example@email.com" id="email" name="email">
                                                    </div>
                                                </div>
                                                <div class="col-12 form-card-col">
                                                    <div class="form_group">
                                                        <label for="password">Password <small>at least 6 characters including 1 number</small></label>
                                                        <input name="password" type="password" placeholder="Type..." id="password">
                                                    </div>
                                                </div>

                                                <div class="col-12 form-card-col">
                                                    <div class="form_group">
                                                        <p class="already_member">Already a member? <a href="#" class="view_more_btn light_btn">Sign in</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {% endif %}
                            </div>



                            <!--
                            <div class="payment_method_dv">
                                <div class="checkout_form_header">
                                    <h4>Payment Method</h4>
                                </div>
                                <div class="row checkout_form_row">
                                    <div class="col-12 checkout_form_col">
                                        <div class="form_group form_input_radio">
                                            <label>
                                                <input type="radio" name="name">
                                                <span>Credit Card</span>
                                                <img src="assets/images/payment.svg" alt="">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-12 checkout_form_col">
                                        <div class="form_group form_group_card_number">
                                            <label>Card Number*</label>
                                            <input type="text" placeholder="0000-0000-0000-0000">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12 checkout_form_col">
                                        <div class="form_group ">
                                            <label>Expiration Date*</label>
                                            <div class="form_select_group">
                                                <select>
                                                    <option>Month</option>
                                                    <option>JAN</option>
                                                    <option>FEB</option>
                                                    <option>Mar</option>
                                                    <option>Apr</option>
                                                    <option>May</option>
                                                    <option>Jun</option>
                                                    <option>Jul</option>
                                                    <option>Aug</option>
                                                    <option>Sep</option>
                                                    <option>Oct</option>
                                                    <option>Nov</option>
                                                    <option>Dec</option>
                                                </select>
                                                <select>
                                                    <option>Year</option>
                                                    <option>1990</option>
                                                    <option>1991</option>
                                                    <option>1992</option>
                                                    <option>1993</option>
                                                    <option>1994</option>
                                                    <option>1995</option>
                                                    <option>1996</option>
                                                    <option>1997</option>
                                                    <option>1998</option>
                                                    <option>1999</option>
                                                    <option>2000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12 checkout_form_col">
                                        <div class="form_group ">
                                            <label>Security Code</label>
                                            <div class="form_group_sequrity">
                                                <input type="text" placeholder="***">
                                                <a href="#" ><img src="assets/images/sequrity-icon.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            -->

                            <div class="paypal_dv">
                                <div class="row checkout_form_row">
                                   <!-- <div class="col-12 checkout_form_col">
                                        <div class="form_group form_input_radio">
                                            <label>
                                                <input type="radio" name="name">
                                                <span>Paypal</span>
                                                <img src="assets/images/paypal.svg" alt="">
                                            </label>
                                        </div>
                                    </div>-->

                                    <div class="col-12 checkout_form_col">

                                    </div>


                                   <!-- <div class="form-group col-md-12" role="group">

                                    </div>-->
                                </div>
                            </div>

                    </div>
                </div>
                <div class="col-lg-4 col-12 cart_col_right">
                    <div class="order_summary_box_wrap">
                        <div class="order_summary_box">
                            <h5>Order Summary</h5>

                            <div class="order_summary_table">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>{{ product.title }}</th>
                                            <td>${{ product.price }}</td>
                                        </tr>
                                        <tr>
                                            <th>Subtotal:</th>
                                            <td>${{ product.price }}</td>
                                        </tr>
                                        <tr>
                                            <th>Estimated Charges & Fees:</th>
                                            <td>${{fees}}</td>
                                            {% if trademark_classes %}
                                            <td>Classes ($350 USPTO fee each):
                                                {% for class in trademark_classes%}

                                                {{class |string|replace('_',' ')|title()}},
                                            {% endfor %}
                                            </td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th><strong>Estimated Total:</strong></th>
                                            <td><strong>${{ total }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="form_group form_input_check">
                                <div class="c-checkbox">

                                    <input name="billing_terms_and_conditions_accepted" type="checkbox"
                                           id="checkbox1-11" class="c-check" required>
                                    <label for="checkbox1-11">

                                        By purchasing this product and clicking this checkbox, I read, understand, agree, and accept MC Law's <a href="/legal/terms-of-use">Terms of Use</a>, <a href="/legal/terms-of-service">Terms of Service</a>, and <a href="/legal/limited-scope-representation-agreement">Limited Scope Representation Agreement</a>
                                    </label>
                                </div>
                            </div>




                                <script
                                    src="https://checkout.stripe.com/checkout.js"
                                    class="stripe-button"
                                    data-key="{{ stripe_api_key }}"
                                    data-description="MC Law"
                                    data-user_email="{{user.email}}"
                                    data-amount="{{ total *100}}"
                                    data-locale="auto">
                                </script>
                            <script>
                                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                            </script>
                                <!--<button type="submit"
                                    class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                Submit
                            </button>
                            <a href="#" type="submit"
                               class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</a>-->
                            <button type="submit" class="cmn_btn dark_btn checkout_btn">
                                <input type="hidden" name="user_product_form_data_id" value="{{user_product_form_data_id}}">Checkout
                            </button>



                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>



{% include 'components/footer.html' %}
{% endblock %}
