{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<div class="banner inner_page_banner">
    <div class="banner_wrapper">
        <div class="container">
            <div class="banner_inner">
                <h1>Confirmation</h1>
            </div>
        </div>
    </div>
</div>

<div class="confirmation_section cmn_gap">
    <div class="container">
        <div>

            <p>You are almost done. Please confirm the accuracy of your data below and continue to checkout.</p>
        </div>
    </div>
    <div class="container">
        <div class="row confirmation_row">
            <div class="col-lg-6 col-12 confirmation_col">
                <div class="confirmation_left">
                    <div>
                        <div class="row">
                            <h3>{{product.title}}</h3>
                            <h4>{{ upfdid }}</h4>
                            <h4>{{ current_user.id }}</h4>
                            <div class="col-md-12">

                            <p>Please confirm the accuracy of information below and continue to proceed with your order.</p>
                            {% for field in form %}
                            {% if (field.name != 'submit') and (field.name != 'csrf_token') and (field.name != 'date_modified')   %}
                            <p><b>{{field.label}}</b>: {{ field.data }}</p>
                            {% endif %}
                            {% endfor %}
                                <div>

                                    <a style="width:35%" href="{{url_for('main.consultation', slug=product.slug, upfdid=upfdid)}}" class="cmn_btn ">Back</a>
                                    <a style="width:35%" href="{{url_for('main.checkout', upfdid=upfdid)}}" class="cmn_btn dark_btn">Checkout Now</a>
                                </div>
                            </div>


                            <!--<div class="col-md-12">
                        <form method="post" action="{{url_for('main.confirmation')}}">
                            {{ form.csrf_token }}
                            {% if form.csrf_token.errors %}
                            <div class="warning">You have submitted an invalid CSRF token</div>
                            {% endif %}
                            {{ form.hidden_tag() }}
                        <p>
                            <div class="col-lg-12 c-font-16">
                                {% if product['automated']==True %}
                                {% include 'docx/forms/'+product['slug']+'.html' %}
                            <input type="hidden" name="upfdid" value="{{upfdid}}">
                                {% endif %}
                                </br>
                        </div>
                          &lt;!&ndash;  <input id="email" type="hidden" name="email" value="{{current_user.email}}" required/>
                            <input type="hidden" name="step" value="first">
                            <input type="hidden" name="upfdid" value="{{upfdid}}">
                            </div>
                            <input type="button" class="previous action-button-previous" value="Back"/>

                            <input type="button" class="next action-button" value="Continue"/>&ndash;&gt;
                        </p>

                        <input id="submit" style="width:35%;background-color:#ed7014" name="submit" type="submit" class="cmn_btn" value="Update Data" />
                        <a style="width:35%" href="{{url_for('main.checkout', upfdid=upfdid)}}" class="cmn_btn dark_btn">Checkout Now</a>
                        </form>
                            </div>-->
                            </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <div class="col-lg-6 col-12 confirmation_col">
                <div class="confirmation_right">
                        <!--<img src="static/mclawassets/images/product_images/mclaw-product-image-default.png" alt="">-->
                        <iframe src="{{product_pdf_preview_url}}" height="1200" width="500"></iframe>

                    <!--<div class="pdf_viewr">
                        <h2>PDF <br>  PREVIEW</br>All Rights Reserved.</h2>
                    </div>-->

                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="attorney_section attorney_section_for_conf bg_pink cmn_gap">

    <div class="cmn_header">
        <h2>product package offering</h2>
    </div>
    <div class="container">
        <div class="row attorney_row">
            <div class="col-lg-4 col-12 attorney_col">
                <div class="attorney_item">
                    <div class="attorney_content_top">
                        <div class="catg_wrapper">
                            <span class="catg_tag">Basic</span>
                        </div>
                        <span class="lg_span"><i><img src="assets/images/tick-2.svg" alt=""></i> LegalZoom Guarantee</span>
                        <p class="price_p"><span>$199</span> federal Charge</p>
                        <a href="#" class="cmn_btn dark_btn">GET STARTED</a>
                    </div>
                    <div class="attorney_content_bottom">
                        <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.†</p>

                        <ul class="list td_ul">
                            <li><span class="lg_span"><i><img src="assets/images/tick-2.svg" alt=""></i> LegalZoom Guarantee</span><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></li>
                            <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span></li>
                            <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-12 attorney_col">
                <div class="attorney_item">
                    <div class="attorney_content_top">
                        <div class="catg_wrapper">
                            <span class="catg_tag">Pro</span>
                        </div>
                        <span class="lg_span"><i><img src="assets/images/tick-2.svg" alt=""></i> LegalZoom Guarantee</span>
                        <p class="price_p"><span>$499</span> federal Charge</p>
                        <a href="#" class="cmn_btn dark_btn">GET STARTED</a>
                    </div>
                    <div class="attorney_content_bottom">
                        <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.†</p>

                        <ul class="list td_ul">
                            <li><span class="lg_span"><i><img src="assets/images/tick-2.svg" alt=""></i> LegalZoom Guarantee</span><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></li>
                            <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span></li>
                            <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-12 attorney_col">
                <div class="attorney_item">
                    <div class="attorney_content_top">
                        <div class="catg_wrapper">
                            <span class="catg_tag">Premium</span>
                        </div>
                        <span class="lg_span"><i><img src="assets/images/tick-2.svg" alt=""></i> LegalZoom Guarantee</span>
                        <p class="price_p"><span>$299</span> federal Charge</p>
                        <a href="#" class="cmn_btn dark_btn">GET STARTED</a>
                    </div>
                    <div class="attorney_content_bottom">
                        <p>Set up your mark for success. With attorney help,  you have a 94% chance of registering a trademark.†</p>

                        <ul class="list td_ul">
                            <li><span class="lg_span"><i><img src="assets/images/tick-2.svg" alt=""></i> LegalZoom Guarantee</span><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></li>
                            <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span></li>
                            <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>-->


{% include 'components/footer.html' %}
{% endblock %}
