
{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='mclawassets/js/conditional-field.js') }}"
        type="text/javascript"></script>
{% endblock %}

<div class="cnslt-sec1" xmlns="http://www.w3.org/1999/html">
    <div class="step_form_top_div">
        <ul class="list step_form_top_ul">
            <li class="active"><a href="#">Consultation</a></li>
            <li><a href="#">Finish & Sign</a></li>
        </ul>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-11">
                <div class="cnslt-sec1-frm">


                    <form id="msform" action="{{ url_for('main.consultation', slug=product.slug, upfdid=upfdid) }}" method="POST">
                        <div class="step_form_header">
                            <h4>{{ product.title }} </h4>
                            <span>Saved</span>
                        </div>
                        <div class="progress-outer">
                            <div class="progress-outer-top">
                                <span class="progress-outer-title"> PROGRESS</span>
                                <span class="progress-digit"></span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="step_form_main">
                            {{ form.csrf_token }}
                            {% if form.csrf_token.errors %}
                            <div class="warning">You have submitted an invalid CSRF token</div>
                            {% endif %}
                            {{ form.hidden_tag() }}


                        <!--<fieldset>
                                <p>We need to gather some information from you to complete your {{ product.title }}. If you are unsure how to answer any question, simply skip it and we will contact you to further discuss your issues. </p>
                                <label for="email" size="50">Enter your email so that we can save your document:</label>
                                <input id="email" type="email" name="email" value="{{current_user.email}}" required/>
                                <input type="hidden" name="step" value="first">
                                <input type="hidden" name="upfdid" value="{{upfdid}}">
                                <input type="button" class="previous action-button-previous" value="Back"/>

                                <input type="button" class="next action-button" value="Continue"/>
                            </fieldset>-->



                                       <fieldset>
                                            <div class="col-lg-12 c-font-16">
                                                {% if product['automated']==True %}
                                                {% include 'docx/forms/'+product['slug']+'.html' %}
                                                {% else %}
                                                {{ wtf.quick_form(form) }}
                                                <input type="hidden" name="upfdid" value="{{upfdid}}">
                                                {% endif %}
                                                </br>

                                            </div>
                                            <input type="button" class="previous action-button-previous" value="Back"/>
<!--
                                           <input type="hidden" name="upfdid" value="{{upfdid}}">
-->
                                            <input type="submit" class="next action-button" value="Continue"/>
                                        </fieldset>




                            <!--<div class="row">
                                <div class="col-md-8">
                                    {{ wtf.quick_form(form) }}
                                </div>
                                <input type="hidden" name="upfdid" value="{{upfdid}}">

                            </div>-->

                           <!--<fieldset>
                                </br>
                               <h4>Consultation Complete</h4>
                                <p>Congratulations. You are finished with the consultation process. After you checkout, our legal professional will contact you to confirm the accuracy of your information and to further discuss your legal issues. Continue to purchase your {{ product.title }}.</p>


                               <input type="hidden" name="step" value="last">
                                <input type="button" class="previous action-button-previous" value="Back" />
                                <input type="submit" class="next action-button" value="Continue" />


                            </fieldset>
-->

                            <!-- step 9 end -->


                        </div>


                    </form>


                </div>
            </div>
            <div class="col-lg-5 col-11">
                <div class="consultation_right_box">
                    <!--<figure class="prof_img">
                        <img src="{{url_for('static', filename='mclawassets/images/professionals_profile_images/casey-scott-mckay.jpg')}}" alt="">
                    </figure>
                    <div class="prof_content">
                        <h6>Stuck? Unsure? Prefer to talk to a human? </h6>
                        <p><a href="{{url_for('main.checkout', upfdid=upfdid)}}">Checkout now</a> and we will contact you to further discuss your issues.</p>
                       <p><a class="cmn_btn dark_btn" href="{{url_for('main.checkout', upfdid=upfdid)}}">Checkout Now!</a></p>
                        <p>Or send questions to an On Call network attorney. Have an answer in 1 business day.</p>
                    </div>

                    <div class="prof_form">
                        <form >
                            <div class="form_group">
                                <textarea placeholder="Don't worry, you can edit your question before it's sent."></textarea>
                            </div>
                            <div class="form_group form_group_submit">
                                <input type="submit" value="ASk">
                                <a href="#" class="view_more_btn light_btn">How does this work?</a>
                            </div>
                        </form>
                    </div>-->

                    <iframe src="{{product_pdf_preview_url}}" height="800" width="400"></iframe>
                </div>


            </div>

        </div>
    </div>
</div>



{% include 'components/footer.html' %}

{% endblock %}
