
{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<section class="banner inner_page_banner">
    <div class="banner_wrapper">
        <div class="container">
            <div class="banner_inner">
                <h1>CONTACT US</h1>
            </div>
        </div>
    </div>
</section>

<section class="contact_section cmn_gap">
    <div class="container">
        <div class="row contact_row">
            <div class="col-lg-7 col-12 contact_col contact_col_left">
                <div class="contact_item">
                    <div class="cmn_header cmn_header_aleft">
                        <h2>NEED TO KNOW MORE?</h2>
                        <p>Try visiting our <a href="#">FAQ</a> page to learn more about our greatest ever expanding theme, <a href="#">MC Law.</a></p>
                        <a href="#" class="cmn_btn dark_btn">Learn More</a>
                    </div>

                    <div class="questions_dv">
                        <div class="row">
                            <div class="col-lg-5 col-12 ">
                                <h4>HAVE A QUESTION?</h4>
                            </div>
                            <div class="col-lg-7 col-12">
                                <p>Ask your questions away and let our dedicated customer service help you look through our FAQs to get your questions answered!</p>

                                <div class="question_form">
                                    <form>
                                        <div class="form_group">
                                            <input type="text" placeholder="Ask a question">
                                            <input type="submit" value="Go">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 contact_col contact_col_right">
                <div class="contact_item">
                    <div class="contact_item_dtls_content">
                        <h2>MC LAW</h2>
                        <div class="contact_dtsl_box">
                            <h6>Address:</h6>
                            <p>1441 U St. NW</br>Washington, DC, D.C. 20009</p>
                        </div>
                        <div class="contact_dtsl_box">
                            <h6>Phone:</h6>
                            <a href="tel:2027431972">+1 202.743.1972</a>
                        </div>
                        <div class="contact_dtsl_box">
                            <h6>Email:</h6>
                            <a href="mailto:info@mclaw.com">info@mclaw.com</a>
                        </div>
                        <div class="contact_dtsl_box">
                            <h6>SOCIAL:</h6>
                            <ul class="list social_ul">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-weixin"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get_in_touch_section cmn_gap" id="getouch">
    <div class="container">
        <div class="row get_row">
            <div class="col-lg-6 col-12 get_col">
                <div class="get_left_box">
                    <div class="cmn_header cmn_header_aleft">
                        <h6>Get in Touch</h6>
                        <h2>Ready to work <br> together? Let's go!</h2>
                    </div>

                    <div class="get_left_txt">
                        <p>Send us an email with a brief summary of your issues and we will get back to you as soon as we can.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 get_col">
                <div class="get_right_box">
                    {% include 'forms/contact_form.html' %}
                </div>
            </div>
        </div>
    </div>
</section>



{% include 'components/footer.html' %}
{% endblock %}
