
{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="banner inner_page_banner pub_single_banner">
    <div class="banner_wrapper">

        <div class="container">
            <div class="pub_single_banner_inner">

                <div class="pub_single_banner_content">
                    <h4>Documents <span>{{document.document_type | title()}}</span> </h4>
                </div>

                <div class="prof_top_ul_wrap">
                    <ul class="list prof_profile_ul">
                        <li>
                            <a href="#"><i class="fas fa-file-pdf"></i><span>View PDF</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-share-alt"></i><span>Share</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="pub_single_section cmn_gap">
    <div class="container">
        <div class="profetionals_profile_inner">
            <div class="cmn_header cmn_header_aleft">
                <h2>{{document.title}}</h2>
            </div>

            <div class="profetionals_profile_inner_content">
                <h5>Summary of Key Takeaways:</h5>
                <ul class="list dotted_ul dotted_ul_sm_gap">
                   <li><span>{{document.summary}}</span></li>
                    <li><span>{{ document.category }}, {{ document.subcategory }} {{ document.tags }}</span></li>
                    <li><span>{{ document.date_modified }}</span></li>
                </ul>
            </div>


        </div>
    </div>
</div>

<div class="overview_section cmn_gap">
    <div class="container">
        <div class="profetionals_profile_inner">
            <div class="overview_inner">
                <div class="cmn_header cmn_header_aleft">
                    {{document.html | safe }}

                </div>



            </div>


        </div>

    </div>
</div>


<div class="key_takeways_section">
    <div class="container">
        <div class="profetionals_profile_inner">
            <div class="overview_inner_content">
                <div class="cmn_header">
                    <h4>SUMMARY OF KEY POINTS</h4>
                </div>







                <p>Ironically, as discussed in our <a href="#" class="view_more_btn light_btn">2021 alert</a>, market studies have found that  <sup><a href="#1">1</a></sup></p>

                <div class="tag_div">
                    <ul class="list nub_list">





                        <li><a name="1">[1]</a> See, e.g., 133 Harv. L. Rev. 1215 (<a href="#" class="view_more_btn light_btn">https://harvardlawreview.org/2020/02/go-shops-revisited/</a> ).</li>
                    </ul>

                </div>

                <div class="author_div">

                    <h5>Author(s)</h5>
                    <ul class="list author_name_ul">
                        <li><a href="#">{{document.author}}</a></li>
                        <li><a href="#">MC Law</a></li>

                    </ul>
                </div>

            </div>

        </div>

    </div>
</div>


<div class="pub_single_section cmn_gap">
    <div class="container">
        <div class="profetionals_profile_inner">
            <div class="cmn_header cmn_header_aleft">
                <h4>YOU MAY ALSO BE INTERESTED IN</h4>
            </div>

            <div class="row interest_row">
                {% for document in documents[:3] %}
                <div class="col-lg-3 col-md-6 col-12 interest_col">
                    <div class="pb_item">
                        <div class="pb_content">
                            <p class="pb_tag"><span>{{document.document_type | title()}}</span></p>
                            <h5><a href="{{url_for('main.documents')}}/{{document.slug}}" class="pb_title">
                                {{document.title}}
                            </a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>{{document.date_created}}[:10]</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}



                <div class="col-lg-3 col-md-6 col-12 interest_col">
                    <div class="pb_item pb_item_bg_dark">

                        <div class="interest_top_dv">
                            <p>Stay Connected</p>
                            <ul class="list social_ul">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-weixin"></i></a></li>
                            </ul>
                        </div>
                        <div class="pb_content">
                            <h5>Subscribe to MC Law Updates Updates:</h5>
                        </div>
                        <div class="pb_content_bttm">
                            <ul class="list dotted_ul dotted_ul_sm_gap">
                                <li>Industry Alerts</li>
                                <li>Blog Digests</li>
                                <li>Firm Announcements</li>
                                <li>Events + Webinars</li>
                            </ul>

                            <a href="#" class="cmn_btn dark_btn">Sign Up for MC Law Updates</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="profetionals_bottom_section profetionals_bottom_section_pub_single cmn_gap">
    <div class="container">
        <div class="profetionals_profile_inner">

            <div class="row profetionals_row">
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profile_pictures/casey-scott-mckay.jpg') }}" alt="">
                            </figure>
                            <a href="{{ url_for('main.professionals') }}/casey-scott-mckay" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Casey Scott McKay</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 202 743 1972</a>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Washington DC</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}
