
{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="banner inner_page_banner">
    <div class="banner_wrapper">
        <div class="container">
            <div class="banner_inner">
                <h1>SEARCH</h1>
                <div class="banner_form">

                    <form method="post" action="/documents">
                        <div class="form_group">
                            <input
                                type="search" name="q" id="q"
                                placeholder="Please Enter Your Search Here"
                            />
                        </div>
                        <div class="form_group">
                            <ul class="list radio_ul">
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="document_type_filter" value="all" checked />
                                            <span>All</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="document_type_filter" value="articles" />
                                            <span>Articles</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="document_type_filter" value="news" />
                                            <span>News</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio"  name="name" />
                                            <span>Services</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>Products</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>Trademarks</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>Events</span>
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profetionals_section cmn_gap">
    <div class="container">
        <div class="sec_title">
            <h6>Narrow By</h6>
        </div>
        <div class="search-filters-content">
            <div class="search-filters-mobile-toggles">
                <button class="search-filters-mobile-toggle" data-href="#narrow">
                    Narrow By
                </button>
                <button
                    class="search-filters-mobile-toggle search-filters-mobile-toggle-short"
                    data-href="#short"
                >
                    Sort By
                </button>
            </div>
            <div class="search-filters-control" id="narrow">
                <div class="grouped-filters-tabs">
                    <div class="grouped-filter-tabs">
                        <button class="grouped-filters-button" data-href="#type">
                            Type
                        </button>
                        <button class="grouped-filters-button" data-href="#industry">
                            Industry - Practice
                        </button>
                        <div class="date-pic-wpr">
                            <div class="datepicker" id="datepicker"></div>
                            <button
                                class="grouped-filters-button"
                                id="dateButton"
                                onclick="toggle_dp();"
                            >
                                Date From
                            </button>
                        </div>
                        <div class="date-pic-wpr">
                            <div class="datepicker" id="datepicker_1"></div>
                            <button
                                class="grouped-filters-button"
                                id="dateBtn"
                                onclick="toggle_dpt();"
                            >
                                Date To
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grouped-filter" id="type">
                    <button class="grouped-filter-tab-btn">Type</button>
                    <div class="grouped-filter-container">
                        <ul class="grouped-filter-options">
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Alert">
                                    <input type="checkbox" id="Alert" />
                                    <span class="grouped-filter-option-name">Alert</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Attorney Articles"
                                >
                                    <input type="checkbox" id="Attorney Articles" />
                                    <span class="grouped-filter-option-name"
                                    >Attorney Articles</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Business Litigation Reporter"
                                >
                                    <input
                                        type="checkbox"
                                        id="Business Litigation Reporter"
                                    />
                                    <span class="grouped-filter-option-name"
                                    >Business Litigation Reporter</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Diversity">
                                    <input type="checkbox" id="Diversity" />
                                    <span class="grouped-filter-option-name">Diversity</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Fintech Flash"
                                >
                                    <input type="checkbox" id="Fintech Flash" />
                                    <span class="grouped-filter-option-name"
                                    >Fintech Flash</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Goodwin Insights"
                                >
                                    <input type="checkbox" id="Goodwin Insights" />
                                    <span class="grouped-filter-option-name"
                                    >Goodwin Insights</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Hospitality + Leisure Trend Watch"
                                >
                                    <input
                                        type="checkbox"
                                        id="Hospitality + Leisure Trend Watch"
                                    />
                                    <span class="grouped-filter-option-name"
                                    >Hospitality + Leisure Trend Watch</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Podcast">
                                    <input type="checkbox" id="Podcast" />
                                    <span class="grouped-filter-option-name">Podcast</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Probono">
                                    <input type="checkbox" id="Probono" />
                                    <span class="grouped-filter-option-name">Probono</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Proptech Pulse"
                                >
                                    <input type="checkbox" id="Proptech Pulse" />
                                    <span class="grouped-filter-option-name"
                                    >Proptech Pulse</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Securities Snapshot"
                                >
                                    <input type="checkbox" id="Securities Snapshot" />
                                    <span class="grouped-filter-option-name"
                                    >Securities Snapshot</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Video">
                                    <input type="checkbox" id="Video" />
                                    <span class="grouped-filter-option-name">Video</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Weekly RoundUp"
                                >
                                    <input type="checkbox" id="Weekly RoundUp" />
                                    <span class="grouped-filter-option-name"
                                    >Weekly RoundUp</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="White Collar Spotlight"
                                >
                                    <input type="checkbox" id="White Collar Spotlight" />
                                    <span class="grouped-filter-option-name"
                                    >White Collar Spotlight</span
                                    >
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grouped-filter" id="industry">
                    <button class="grouped-filter-tab-btn">Type</button>
                    <div class="grouped-filter-container">
                        <div class="services-filter">
                            <button class="services-filter-button">
                                <span>Industry - Practice</span>
                            </button>
                            <div class="services-filter-list">
                                <button class="services-filter-list-btn">
                                    <span>Agribusiness</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Antitrust + Competition</span>
                                </button>
                                <button class="services-filter-list-btn">
                      <span
                      >Antitrust Services for Life Sciences Companies</span
                      >
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Appellate and Supreme Court Litigation</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Artificial Intelligence + Machine Learning</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Banking</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Business + Commercial Litigation</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Buyouts + Acquisitions</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-filters-control-short" id="short">
                <div class="sort-dropdown">
                    <button class="sort-dropdown-toggle">
                        <span>Grid View</span>
                    </button>
                    <div class="sort-dropdown-list">
                        <button class="sort-dropdown-option">
                            <span>Grid View</span>
                        </button>
                        <button class="sort-dropdown-option">
                            <span>List View</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

     <div class="result_dv">
          <p>
            We found <span>{{documents|length}}</span> results in
            <span class="txt_bold">Documents</span>
          </p>
        </div>
    </div>
</div>


<div class="profetionals_bottom_section cmn_gap">
    <div class="container">
        <div class="products-search-row prof_row uploads-row">
            {% for document in documents %}
            <div class="product_sc_wpr pro_list">
                <a href="{{url_for('main.documents')}}/{{document.slug}}"></a>
                <div class="product_sc_wpr_left">
                    <div class="pro_sc_cat"><span>{{document.category}} | {{document.subcategory}}</span></div>
                    <div class="pro_sc_name"><h4>{{document.title}}</h4></div>
                    <div>
                        <p>{{ document.summary }}</p>
                    </div>
                </div>
                <div class="product_sc_wpr_right">
                    <div class="pro_sc_price"><span>{{document.document_type}}</span></div>
                    <div class="pro_sc_btn"><span>View</span></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination_dv">
            <nav aria-label="navigation example">
                <ul class="pagination">
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="profetionals_bottom_section cmn_gap">
    <div class="container">


    </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}
