{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<main id="main-content">
    <div class="side_nav">
        <button class="side_nav_bar_toggle">
                <span class="side_nav_bar_toggle_wpr">
                    <span class="arrow_down"><img src="{{ url_for('static', filename='mclawassets/images/chevron-down.svg') }}" alt="" class="arrow_down"></span>
                    <span class="close_icon"><img src="{{ url_for('static', filename='mclawassets/images/close_22.svg') }}" alt="" class="close_icon">
                    </span>
                </span>
        </button>
        <ul>
            <li class="current-menu-item"><a href="#welcome">Welcome<br> to MC Law</a></li>
            <li><a href="#practice">Practice Area</a></li>
            <li><a href="#story">Story of MC Law</a></li>
            <li><a href="#virtual">Virtual Legal Services</a></li>
            <li><a href="#insights">Insights & <br>Recent News</a></li>
            <li><a href="#getouch">Get In Touch</a></li>
        </ul>
        <span class="sliding-arrow"><span></span></span>
    </div>
    <div class="page_body">
        <section class="SecView" id="welcome">

            <div class="banner" style="background: url({{ url_for('static', filename='mclawassets/images/banner_2.jpg') }}) no-repeat center center;">
                <div class="banner_wrapper">
                    <div class="container">
                        <div class="banner_inner">

                            <h6 class="small_banner_hdng" style="color: black">WELCOME TO MC Law</h6>
                            <h1 style="color: black">Leading a Culture of Innovation</h1>
                            <h5 class="mid_banner_hdng" style="color: black">Innovative Thinkers | Client Service Leaders</h5>

                            <p class="banner_para" style="color: black">MC Law is a premier global firm widely recognized for its expertise in handling intellectual property and technology issues. We represent a large number of local and international companies across a broad range of industries including information technology, artificial intelligence, ecommerce, telecommunications, mining, medical devices, pharmaceuticals, biotechnology, and consumer products. Each of our practice areas is highly regarded, and our professionals are recognized around the world for their commitment to the representation of our clients’ interests. Throughout our history, we have played a central role in developing how law is practiced, how professionals are trained and how business risk is managed.  MC Law advises businesses in the technology, life sciences, and entertainment sectors, as well as the private equity and venture capital investors that finance them.</p>

                            <a href="{{ url_for('main.contact') }}" class="cmn_btn">Contact Us Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our_practices_section SecView cmn_gap" id="practice" >
            <div class="container " >
                <div class="cmn_header">
                    <h6>Our Practices</h6>
                    <h2>Diligence is the Hallmark of Our Services</h2>
                </div>
                <div class="row practice_row">
                    <div class="col-lg-4 col-md-6 col-12 practice_col">
                        <div class="practice_item">
                            <figure class="practive_icon">
                                <img src="{{ url_for('static', filename='mclawassets/images/our-services-iocn1.svg') }}" alt="">
                            </figure>
                            <div class="prtactice_content">
                                <h4><a href="{{ url_for('main.services')}}/copyright">Copyright</a></h4>
                                <ul class="list check_ul">
                                    <li><a href="{{ url_for('main.services')}}/copyright">Digital Millennium Copyright Act</a></li>
                                    <li><a href="{{ url_for('main.services')}}/copyright">Strategic Counseling, Registration, and Opinions</a></li>
                                    <li><a href="{{ url_for('main.services')}}/copyright">Infringement Litigation</a></li>
                                    <li><a href="{{ url_for('main.services')}}/copyright">Transactions and Agreements</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 practice_col">
                        <div class="practice_item">
                            <figure class="practive_icon">
                                <img src="{{ url_for('static', filename='mclawassets/images/our-services-iocn2.svg') }}" alt="">
                            </figure>
                            <div class="prtactice_content">
                                <h4><a href="{{ url_for('main.services')}}/patents">Patents</a></h4>

                                <ul class="list check_ul">
                                    <a href="{{ url_for('main.services')}}/patents">
                                    <li>Opinions and Strategic Counseling</li>
                                    <li>Acquisition and Due Diligence</li>
                                    <li>Startup and Early-Stage Companies</li>
                                    <li>Infringement and Litigation</li>
                                        <li>Portfolio Management</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 practice_col">
                        <div class="practice_item">
                            <figure class="practive_icon">
                                <img src="{{ url_for('static', filename='mclawassets/images/our-services-iocn3.svg') }}" alt="">
                            </figure>
                            <div class="prtactice_content">
                                <h4><a href="{{ url_for('main.services')}}/trademarks">Trademarks</a></h4>
                                <ul class="list check_ul">
                                    <a href="{{ url_for('main.services')}}/trademarks">
                                    <li>Counseling and Prosecution</li>
                                    <li>Domain Names and Internet</li>
                                    <li>Advertising and Marketing</li>
                                    <li>TTAB Oppositions and Cancellations</li>
                                    <li>Infringement</li>
                                    <li>WIPO</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 practice_col">
                        <div class="practice_item">
                            <figure class="practive_icon">
                                <img src="{{ url_for('static', filename='mclawassets/images/our-services-iocn4.svg') }}" alt="">
                            </figure>
                            <div class="prtactice_content">
                                <h4><a href="{{ url_for('main.services')}}/privacy_and_data_security">Privacy & Data Security</a></h4>

                                <ul class="list check_ul">
                                    <a href="{{ url_for('main.services')}}/privacy_and_data_security">
                                    <li>GDPR</li>
                                    <li>Data Breaches</li>
                                    <li>Internal Audits</li>
                                    <li>Website Policies</li>
                                    <li>HIPPA/HITECH</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 practice_col">
                        <div class="practice_item">
                            <figure class="practive_icon">
                                <img src="{{ url_for('static', filename='mclawassets/images/our-services-iocn5.svg') }}" alt="">
                            </figure>
                            <div class="prtactice_content">
                                <h4><a href="{{ url_for('main.services')}}/internet">Internet</a></h4>

                                <ul class="list check_ul">
                                    <a href="{{ url_for('main.services')}}/internet">
                                    <li>E-commerce</li>
                                    <li>Search</li>
                                    <li>Advertising</li>
                                    <li>Security</li>
                                    <li>VoIP</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 practice_col">
                        <div class="practice_item">
                            <figure class="practive_icon">
                                <img src="{{ url_for('static', filename='mclawassets/images/our-services-iocn6.svg') }}" alt="">
                            </figure>
                            <div class="prtactice_content">
                                <h4><a href="{{ url_for('main.services')}}/litigation">Litigation</a></h4>

                                <ul class="list check_ul">
                                    <a href="{{ url_for('main.services')}}/litigation">
                                    <li>Copyright Infringement</li>
                                    <li>Trademark Infringement</li>
                                    <li>Patent Infringement </li>
                                    <li>Trade Secrets</li>
                                    <li>Product Liability and Mass Torts</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="about_section SecView cmn_gap" id="story">
            <div class="container">

                <div class="row about_row">
                    <div class="col-lg-6 col-12 about_col about_col_left">
                        <div class="about_item">
                            <figure class="about_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/about-img.png') }}" alt="">
                                <span class="half_circle"><img src="{{ url_for('static', filename='mclawassets/images/about-img-half-circle.svg') }}" alt=""></span>
                                <span class="about_shape"><img src="{{ url_for('static', filename='mclawassets/images/about-img-shape.svg') }}" alt=""></span>
                                <div class="successful_dv">
                                    <h2>96.2%</h2>
                                    <p>Successful</p>
                                </div>
                                <div class="global_insights_dv">
                                    <i><img src="{{ url_for('static', filename='mclawassets/images/global-icon.svg') }}" alt=""></i>
                                    <div class="gb_content">
                                        <p>Global Insights</p>
                                        <div class="progress_outer">
                                            <div class="progress_percentage"></div>
                                        </div>
                                    </div>
                                </div>

                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 about_col about_col_right">
                        <div class="about_item">
                            <div class="cmn_header cmn_header_aleft">
                                <h6>ABOUT MC LAW</h6>
                                <h2>Pillar of Law and Mediation Services For You</h2>
                            </div>
                            <div class="about_content">
                                <p>MC Law was founded on a handshake in 2016 as a small firm whose attorneys were dedicated to providing advice and expertise at the highest levels. We have achieved extraordinary results following the distinctive vision
                                    of our founders--a cohesive team of lawyers intensely focused on solving our clients' most important problems.</p>
                            </div>

                            <div class="tabs_container">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Our Mission</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Company Vision</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p>At our law firm, our mission is to provide our clients with exceptional legal services and counsel in the areas of intellectual property, technology, and corporate law. We understand that our clients' success often hinges on their ability to protect their intellectual property, leverage technology, and navigate complex corporate legal issues, and we are committed to helping them achieve their goals. And we believe that the success of our clients is our success; we are committed to providing the best possible legal representation and counsel.

                                            Our team of experienced attorneys combines legal expertise with a deep understanding of our clients' industries to provide tailored solutions that meet their unique needs. We have experience in the fields of intellectual property and technology, including copyright, trademarks, patents, trade secrets, internet, data, information security, and privacy. We are prepared to handle large, complex, and demanding issues in the United States and around the world. We are dedicated to building lasting relationships with our clients and providing them with top-quality legal services that are cost-effective and efficient.

                                            We counsel both public and private entities. We also handle USPTO proceedings, TTAB proceedings, trademark litigation, patent litigation, copyright litigation, and trademark prosecution proceedings. We have a track record of original and groundbreaking solutions and innovations that have had a dramatic impact on business and law. We are thought leaders.

                                            Whether our clients are seeking to protect their valuable intellectual property, structure a complex technology transaction, or navigate the legal complexities of corporate governance, we are here to help. We are passionate about our work, and we take pride in delivering high-quality legal services that help our clients achieve their business objectives.

                                             </p>

                                        <ul class="list tick_ul">
                                            <li>INNOVATIVE THINKERS</li>
                                            <li>CLIENT SERVICE LEADERS</li>
                                            <li>CHAMPIONS OF INCLUSION</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <p>Collaborations among our attorneys in various disciplines produce innovative legal solutions for our clients. We work together across offices and practice areas as integrated, multidisciplinary teams to provide the capabilities necessary to generate great results for our clients.</p>

                                        <ul class="list tick_ul">
                                            <li>INNOVATIVE THINKERS</li>
                                            <li>CLIENT SERVICE LEADERS</li>
                                            <li>CHAMPIONS OF INCLUSION</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="section_btn">
                                <a href="{{ url_for('main.services') }}" class="cmn_btn dark_btn">Explore Now</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="legal_service_section SecView cmn_gap" id="virtual">
            <div class="container">
                <div class="slider_bg">
                    <div class="row slider_bg_row">
                        <div class="col-lg-3 slider_bg_col">

                        </div>
                        <div class="col-lg-3 slider_bg_col">

                        </div>
                        <div class="col-lg-3 slider_bg_col">

                        </div>
                        <div class="col-lg-3 slider_bg_col">

                        </div>
                    </div>

                </div>
                <div class="legal_slider_wrapper">
                    <div class="header_top_outer">
                        <div class="cmn_header cmn_header_aleft cmn_header_white">
                            <h6>Virtual Legal Services</h6>
                            <h2>Clever Legal Solutions</h2>
                        </div>

                        <div class="legal_btn_dv">
                            <a href="{{ url_for('main.products') }}" class="cmn_btn dark_btn">Explore Now</a>
                        </div>

                    </div>

                    <div class="legal_slider">

                        {% for product in featured_products %}
                        <div class="legal_slider_item">
                            <h4>{{ product.title }}</h4>
                            <p class="l_price">${{ product.price }}</p>
                            <p class="l_txt">{{ product.description }}</p>

                            <a href="{{url_for('main.products')}}/{{ product.slug }}" class="cmn_btn">Order Now</a>
                        </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
        </section>

        <section id="insights" class="SecView">
            <div class="video_section cmn_gap pb-0">
                <div class="container">
                    <div class="about_inner">
                        <figure class="video_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/lycs-architecture-U2BI3GMnSSE-unsplash.jpg') }}" alt="">
                        </figure>
                        <div class="video_content">
                            <div class="video_content_header">
                                <h2>Our commitment to understanding every detail of your business and helping you achieve results starts here. Please enter as much information as you wish so that we can route your inquiry appropriately..</h2>

                            </div>

                            <a class="video_icon_dv" data-fancybox="" href="https://youtu.be/9xwazD5SyVg">
                                <i class="video_icon"><img src="{{ url_for('static', filename='mclawassets/images/play-icon.svg') }}" alt=""></i>
                                <span class="video_txt">How We Work With People.</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% if articles%}
            <div class="recent_news_section cmn_gap" style="background: url({{ url_for('static', filename='mclawassets/images/recent-news-img.png') }}) no-repeat center center;">
                <div class="container">
                    <div class="header_top_outer">
                        <div class="cmn_header cmn_header_aleft">
                            <h6>Recent News</h6>
                            <h2>Read our expertly written Recent News</h2>
                        </div>

                        <div class="legal_btn_dv">
                            <a href="#" class="cmn_btn dark_btn">Explore Now</a>
                        </div>

                    </div>

                    <div class="row news_row">
                        {% for article in articles[0:4] %}
                        <div class="col-lg-4 col-sm-6 col-12 news_col">
                            <div class="news_item">
                                <h2 class="news_date">18 jun</h2>
                                <p class="news_date_small"><i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>{{article.date_modified}}</p>

                                <h5 class="news_title"><a href="/documents/{{article.slug}}">{{article.title}}</a></h5>
                                <p class="client_txt">{{ article.summary[0:99]}}...</p>

                                <a href="{{ url_for('main.documents') }}/{{ article.slug }}" class="read_more_btn">Read More<i><img src="{{ url_for('static', filename='mclawassets/images/read-more-arrow.svg') }}" alt=""></i></a>
                            </div>
                        </div>
                        {% endfor%}


                    </div>
                </div>
            </div>
            {% endif %}
            {% if articles%}
            <div class="blog_section">
                <div class="blog_section_in  cmn_gap">
                    <div class="container">
                        <div class="header_top_outer">
                            <div class="cmn_header cmn_header_aleft cmn_header_white">
                                <h6>Our Insights </h6>
                                <h2>Insight, Story & Blog</h2>
                            </div>

                            <div class="legal_btn_dv">
                                <a href="#" class="cmn_btn dark_btn">Explore Now</a>
                            </div>

                        </div>
                        <div class="blog_dv">

                            {% for article in articles[5:10] %}
                            <div class="blog_item">
                                <h2><a href="#blog_details_{{article.slug}}">{{article.title}}</a></h2>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="blog_item_details">
                            {% for article in articles[5:10] %}
                            {% set article_insight_image_path = url_for('static', filename='mclawassets/images/document_images/insights/'+article.slug+'.jpg') %}


                            <div class="each_details" id="blog_details_{{article.slug}}" style="background-image: url({{ url_for('static', filename='mclawassets/images/document_images/insights/'+article.slug+'.jpg') }});">
                                <span class="details_close"><img src="{{ url_for('static', filename='mclawassets/images/close.svg') }}" alt=""></span>
                                <div class="each_details_in">
                                    <h2>{{article.title}}</h2>
                                    <p>{{ article.summary }}</p>
                                    <a href="{{ url_for('main.documents') }}/{{ article.slug }}" class="cmn_btn">Read More</a>
                                </div>
                            </div>
                            {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </section>

        <section class="get_in_touch_section SecView cmn_gap" id="getouch">
            <div class="container">
                <div class="row get_row">
                    <div class="col-md-6 col-12 get_col">
                        <div class="get_left_box">
                            <div class="cmn_header cmn_header_aleft">
                                <h6>Get in Touch</h6>
                                <h2>Ready to work <br> together? Let's go!</h2>
                            </div>

                            <div class="get_left_txt">
                                <p>MC Law loves hearing from you. Send us a message to inquire how we can solve your legal issues.</p>
                                <p><strong>Phone: </strong>202.743.1972</p>
                                <p><strong>Email: </strong>info@mclaw.io</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 get_col">
                        <div class="get_right_box">

                            {% include 'forms/contact_form.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="number_section SecView">
            <div class="container">
                <div class="number_row_outer">
                    <div class="row number_row">
                        <div class="col-sm-6 col-12 number_col number_col_left">
                            <div class="number_box">
                                <span class="num_top_txt"></span>
                                <h2 class="number"></h2>
                                <h5 class="num_heading">Professionals</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 number_col number_col_right">
                            <div class="number_box">
                                <span class="num_top_txt">Located in</span>
                                <h2 class="number"></h2>
                                <h5 class="num_heading">OFFICES</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="number_bottom_section SecView">
            <div class="container">
                <div class="number_bottom_section_inner">
                    <div class="number_bottom_box">
                        <div class="row num_bttm_row">
                            <div class="col-sm-6 col-12 num_bttm_col">
                                <div class="num_bttm_item">
                                    <h6>Contact By Office</h6>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12 num_bttm_col">
                                <div class="num_bttm_item">
                                    <ul class="list all_tag_ul">
                                        <li class="active"><a href="#">ALL</a></li>
                                        <li><a href="#">WASHINGTON, DC</a></li>
                                        <li><a href="#">NASHVILLE, TN</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bttm_number_row_wrapper">
                        <div class="row number_row">
                            <div class="col-sm-6 col-12 number_col number_col_left">
                                <div class="number_box">
                                    <h2 class="number"></h2>
                                    <h5 class="num_heading">PROFESSIONALS</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12 number_col number_col_right">
                                <div class="number_box">
                                    <h2 class="number"></h2>
                                    <h5 class="num_heading">OFFICES</h5>
                                </div>
                            </div>
                        </div>

                        <figure class="world_map">
                            <img src="{{ url_for('static', filename='mclawassets/images/world-map.png') }}" alt="">
                        </figure>

                    </div>
                </div>
            </div>
        </section>
            {% include 'components/footer.html' %}


        </div>
    </main>
{% endblock %}