{% block content %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MC LAW</title>

    <!-- fabicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='mclawassets/images/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='mclawassets/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='mclawassets/images/favicon-32x32.png') }}">
    <!-- All CSS -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mclawassets/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mclawassets/css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mclawassets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mclawassets/css/regular.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mclawassets/css/solid.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='mclawassets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mclawassets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mclawassets/css/style.css') }}">
    <!-- <link rel="stylesheet" href="css/stylesheet.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">



</head>

<body class="home">
<header class="main_header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='mclawassets/images/mc-law-logo.svg') }}" alt=""></a>
            <div class="nav_menu_wpr">
                <ul class="navbar-nav">
                    <li><a href="{{ url_for('main.professionals') }}">Professionals</a></li>
                    <li><a href="{{ url_for('main.services') }}">Practices</a></li>
                    <li><a href="{{ url_for('main.documents') }}">Publications</a></li>
                    <li><a href="{{ url_for('main.products') }}">Products</a></li>
                    <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
                </ul>
            </div>
            <div class="header_btn_group ms-lg-auto">
                <div class="search">
                    <button class="search_open_btn"><img src="{{ url_for('static', filename='mclawassets/images/search.svg') }}" alt=""></button>
                    <div class="search_wpr">
                        <form>
                            <input type="text" placeholder="Search..." class="search_fld">
                            <input type="submit" class="search_btn">
                        </form>
                    </div>
                </div>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.account') }}" class="login"><img src="{{ url_for('static', filename='mclawassets/images/user.svg') }}" alt=""><span>Account</span></a>
                {% else %}
                <a href="/auth/login" class="login"><img src="{{ url_for('static', filename='mclawassets/images/user.svg') }}" alt=""><span>Login</span></a>
                {% endif %}
                <button class="menu_btn" type="button">
                    <span class="menu_btn_text">Menu</span>
                    <span class="menu_btn_icon"><img src="{{ url_for('static', filename='mclawassets/images/menu.svg') }}" alt=""></span>
                </button>
            </div>
        </nav>
    </div>
</header>
<div class="mega-menu">
    <div class="mega-menu-main">
        <div class="wrapper">
            <ul>
                <li class="menu-item-has-children">
                    <a href="{{url_for('main.professionals')}}">
                        <span class="primary-menu-label">Professionals</span>
                        <span class="primary-menu-tagline">Meet Us</span>
                    </a>
                    <!--<div class="sub-menu wrapper">
                        <ul>
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                            <li><a href="#">Item 4</a></li>
                            <li class="menu-item-has-children"><a href="#">Item 5</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 6</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 7</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item 8</a></li>
                            <li class="menu-item-has-children"><a href="#">Item 9</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                </li>
                <li class="menu-item-has-children">
                    <a href="{{ url_for('main.products') }}">
                        <span class="primary-menu-label">Products</span>
                        <span class="primary-menu-tagline">Explore our Products</span>
                    </a>
                    <!--<div class="sub-menu wrapper">
                        <ul>
                            <li class="menu-item-has-children"><a href="#">Item 1</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 2</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 3</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item 4</a></li>
                            <li class="menu-item-has-children"><a href="#">Item 5</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 6</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 7</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item 8</a></li>
                            <li class="menu-item-has-children"><a href="#">Item 9</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            &lt;!&ndash; 2 &ndash;&gt;
                            <li class="menu-item-has-children"><a href="#">Item 1</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 2</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 3</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item 4</a></li>
                            <li class="menu-item-has-children"><a href="#">Item 5</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 6</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 7</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item 8</a></li>
                            <li class="menu-item-has-children"><a href="#">Item 9</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            &lt;!&ndash; 3 &ndash;&gt;
                            <li class="menu-item-has-children"><a href="#">Item 1</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 2</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 3</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item 4</a></li>
                            <li class="menu-item-has-children"><a href="#">Item 5</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 6</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Item 7</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item 8</a></li>
                            <li class="menu-item-has-children"><a href="#">Item 9</a>
                                <div class="sub-menu wrapper">
                                    <ul>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 2</a></li>
                                        <li><a href="#">Item 3</a></li>
                                        <li><a href="#">Item 4</a></li>
                                        <li><a href="#">Item 5</a></li>
                                        <li><a href="#">Item 6</a></li>
                                        <li><a href="#">Item 7</a></li>
                                        <li><a href="#">Item 8</a></li>
                                        <li><a href="#">Item 9</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                </li>
                <li class="menu-item-has-children">
                    <a href="{{ url_for('main.services') }}">
                        <span class="primary-menu-label">Practices</span>
                        <span class="primary-menu-tagline">Explore our Services</span>
                    </a>
                    <!--<div class="sub-menu wrapper">
                        <ul>
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                            <li><a href="#">Item 4</a></li>
                            <li><a href="#">Item 5</a></li>
                            <li><a href="#">Item 6</a></li>
                            <li><a href="#">Item 7</a></li>
                            <li><a href="#">Item 8</a></li>
                            <li><a href="#">Item 9</a></li>
                        </ul>
                    </div>-->
                </li>
                <li class="menu-item-has-children">
                    <a href="{{ url_for('main.documents') }}">
                        <span class="primary-menu-label">Publications</span>
                        <span class="primary-menu-tagline">Insights, News, and More</span>
                    </a>
                    <!--<div class="sub-menu wrapper">
                        <ul>
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                            <li><a href="#">Item 4</a></li>
                            <li><a href="#">Item 5</a></li>
                            <li><a href="#">Item 6</a></li>
                            <li><a href="#">Item 7</a></li>
                            <li><a href="#">Item 8</a></li>
                            <li><a href="#">Item 9</a></li>
                        </ul>
                    </div>-->
                </li>
                <li>
                    <a href="{{ url_for('main.contact') }}">
                        <span class="primary-menu-label">Contact</span>
                        <span class="primary-menu-tagline">Need to Know More?</span>
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.logout') }}">
                        <span class="primary-menu-label">Logout</span>
                    </a>
                </li>
                {% elif current_user.is_anonymous %}
                <li>
                    <a href="{{ url_for('auth.login') }}">
                        <span class="primary-menu-label">Login</span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>


<!--END: HEAD-->


{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

{% block app_content %}

{% endblock %}



<!-- 

Welcome to MC Law
-->
<!-- Jquery-->

<script src="{{ url_for('static', filename='mclawassets/js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='mclawassets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='mclawassets/js/slick.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
<script src="{{ url_for('static', filename='mclawassets/js/in-view.min.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="{{ url_for('static', filename='mclawassets/js/multistepform.js') }}"></script>
<script src="{{ url_for('static', filename='mclawassets/js/common.js') }}"></script>

</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-211620286-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-211620286-1');
</script>

</html>

{% endblock %}