
{% block content %}
{% include 'include/header-light.html' %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
{% block app_content %}

{% endblock %}
{% include 'include/footer.html' %}
{% endblock %}