
{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}



<div class="banner inner_page_banner">
    <div class="banner_wrapper">
        <div class="container">
            <div class="banner_inner">
                <h1>Virtual Legal Services</h1>
                <div class="banner_form">
                    <form>
                        <div class="form_group">
                            <input type="search" placeholder="Please Enter Your Search Here">
                        </div>
                        <div class="form_group">
                            <ul class="list radio_ul">
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" checked="" name="name">
                                            <span>Intellectual Property and Technology</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio"  name="name">
                                            <span>Litigation</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio"  name="name">
                                            <span>Labor and Employment</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio"  name="name">
                                            <span>Most Popular</span>
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products_section  cmn_gap">
    <div class="container">
        <div class="legal_slider_wrapper">
            <div class="header_top_outer">
                <div class="cmn_header cmn_header_aleft">
                    <h6>Most Popular</h6>
                    <h2>Virtual Legal Services</h2>
                </div>

                <div class="legal_btn_dv">
                    <a href="#" class="cmn_btn dark_btn">Explore Now</a>
                </div>

            </div>

            <div class="row legal_row">
                {% for product in featured_products %}
                <div class="col-xl-4 col-lg-6 col-sm-6 legal_col">
                    <div class="legal_slider_item">
                        <h4>{{ product.title }}</h4>
                        <p style="color:#808080">{{product.category}} | {{product.subcategory }}</p>
                        <p class="l_price">${{ product.price }}</p>
                        <p class="l_txt">{{ product.description }}</p>

                        <a href="{{ url_for('main.products')}}{{product.slug}}" class="cmn_btn dark_btn">Order Now</a>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
    </div>
</div>


<div class="attorney_section">

    <div class="cmn_header">
        <h2>Let an experienced attorney take the lead</h2>
    </div>
    <div class="attorney_row_wrapper bg_pink">
        <div class="container">
            <div class="row attorney_row">
                <div class="col-lg-4 col-12 attorney_col">
                    <div class="attorney_item">
                        <div class="attorney_content_top">
                            <h5>Trademark Registration</h5>
                            <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span>
                            <p class="price_p"><span>$599</span> + federal fees (charged upon filing)**</p>
                            <a href="#" class="cmn_btn dark_btn">START Now</a>
                        </div>
                        <div class="attorney_content_bottom">
                            <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

                            <ul class="list td_ul">
                                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span><span>If your first mark gets rejected, we'll cover our $599 fee to register a different mark<small>‡</small></span></li>
                                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-12 attorney_col">
                    <div class="attorney_item">
                        <div class="attorney_content_top">
                            <h5>Trademark Registration</h5>
                            <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span>
                            <p class="price_p"><span>$599</span> + federal fees (charged upon filing)**</p>
                            <a href="#" class="cmn_btn dark_btn">START Now</a>
                        </div>
                        <div class="attorney_content_bottom">
                            <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

                            <ul class="list td_ul">
                                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span><span>If your first mark gets rejected, we'll cover our $599 fee to register a different mark<small>‡</small></span> </li>
                                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-12 attorney_col">
                    <div class="attorney_item">
                        <div class="attorney_content_top">
                            <h5>Trademark Registration</h5>
                            <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span>
                            <p class="price_p"><span>$599</span> + federal fees (charged upon filing)**</p>
                            <a href="#" class="cmn_btn dark_btn">START Now</a>
                        </div>
                        <div class="attorney_content_bottom">
                            <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

                            <ul class="list td_ul">
                                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span><span>If your first mark gets rejected, we'll cover our $599 fee to register a different mark<small>‡</small></span></li>
                                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products_section  cmn_gap">
    <div class="container">
        <div class="legal_slider_wrapper">
            <div class="header_top_outer">
                <div class="cmn_header cmn_header_aleft">
                    <h6></h6>
                    <h2>Virtual Legal Services</h2>
                </div>

                <div class="legal_btn_dv">
                    <a href="#" class="cmn_btn dark_btn">Explore Now</a>
                </div>

            </div>

            <div class="row legal_row">



                {% for product in products %}
                <div class="col-xl-4 col-lg-6 col-sm-6 legal_col">
                    <div class="legal_slider_item">
                        <h4>{{ product.title }}</h4>
                        <p style="color:DarkSlateGray">{{product.category}}</p>
                        <p class="l_price">${{ product.price }}</p>
                        <p class="l_txt">{{ product.description }}</p>

                        <a href="{{ url_for('main.products')}}{{product.slug}}" class="cmn_btn dark_btn">Order Now</a>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
    </div>
</div>




{% include 'components/footer.html' %}
{% endblock %}
