{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="banner inner_page_banner">
    <div class="banner_wrapper">
        <div class="container">
            <div class="banner_inner">
                <h1>{{ product.title}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="product_details_section cmn_gap">
    <div class="container">
        <div class="row product_details_row">
            <div class="col-lg-5 col-11 product_details_col_left">
                <div class="p_delts_left">
                    <div class="slider slider-for">
                                <!--<img src="{{ url_for('static', filename=product.image_url) }}" alt="">-->
                                <iframe src="{{product_pdf_preview_url}}" height="800" width="300"></iframe>

<!--
                        <div class="slider-for-item">
                            <figure class="product-img">
                                <img src="{{ url_for('static', filename=product.url) }}" alt="">
                            </figure>
                        </div>
                        <div class="slider-for-item">
                            <figure class="product-img">
                                <img src="{{ url_for('static', filename=product.url) }}" alt="">
                            </figure>
                        </div>
                        <div class="slider-for-item">
                            <figure class="product-img">
                                <img src="{{ url_for('static', filename=product.url) }}" alt="">
                            </figure>
                        </div>
                        <div class="slider-for-item">
                            <figure class="product-img">
                                <img src="{{ url_for('static', filename=product.url) }}" alt="">
                            </figure>
                        </div>
                        <div class="slider-for-item">
                            <figure class="product-img">
                                <img src="{{ url_for('static', filename=product.url) }}" alt="">
                            </figure>
                        </div>
                        <div class="slider-for-item">
                            <figure class="product-img">
                                <img src="{{ url_for('static', filename=product.url) }}" alt="">
                            </figure>
                        </div>
-->
                    </div>
                    <!--<div class="slider slider-nav">
                        <div class="slider-nav-item">
                            <img src="{{ url_for('static', filename=product.url) }}" alt="">
                        </div>
                        <div class="slider-nav-item">
                            <img src="{{ url_for('static', filename=product.url) }}" alt="">
                        </div>
                        <div class="slider-nav-item">
                            <img src="{{ url_for('static', filename=product.url) }}" alt="">
                        </div>
                        <div class="slider-nav-item" >
                            <img src="{{ url_for('static', filename=product.url) }}" alt="">
                        </div>
                        <div class="slider-nav-item">
                            <img src="{{ url_for('static', filename=product.url) }}" alt="">
                        </div>
                        <div class="slider-nav-item">
                            <img src="{{ url_for('static', filename=product.url) }}" alt="">
                        </div>
                        <div class="slider-nav-item">
                            <img src="{{ url_for('static', filename=product.url) }}" alt="">
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-6 col-12 product_details_col_right">
                <div class="p_delts_right">
                    <div class="cmn_header cmn_header_aleft">
                        <h2>{{ product.title }}</h2>
                    </div>

                    <div class="rating_wrapper">
                        <div class="rating_div">
                            <ul class="list rating_ul">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                        </div>
                        <div class="rating_btn_div">
                            <a href="#" class="review_btn">Write a review</a>
                        </div>
                    </div>

                    <div class="p_delts_content">
                        <h5>Overview</h5>
                        <p>{{ product.category }} | {{ product.subcategory }}</p>
                        <p>{{ product.description }}</p>
                    </div>

                    <div class="p_delts_content_bttm">
                        <p class="product_price">Price: <span> ${{product.price}}</span></p>
                        <a href="{{ url_for('main.consultation', slug=product.slug) }}" class="cmn_btn dark_btn">Order Now</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% if product.slug == 'trademark-registration' %}
<div class="why_is_important">
    <div class="container">
        <div class="cmn_header cmn_header_aleft">
            <h2>Why it's important</h2>
        </div>

        <div class="row wi_row">
            <div class="col-md-4 col-12 wi_col">
                <div class="wi_item">
                    <figure class="wi_img">
                        <img src="{{ url_for('static', filename='mclawassets/images/hand-icon.svg') }}" alt="">
                    </figure>
                    <div class="wi_content">
                        <h5>Stop copycats</h5>
                        <p>Own the exclusive rights to your brand names, slogans, and logos.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 wi_col">
                <div class="wi_item">
                    <figure class="wi_img">
                        <img src="{{ url_for('static', filename='mclawassets/images/r-icon.svg') }}" alt="">
                    </figure>
                    <div class="wi_content">
                        <h5>Bulletproof your brand</h5>
                        <p>Build a powerful brand with the ® symbol.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 wi_col">
                <div class="wi_item">
                    <figure class="wi_img">
                        <img src="{{ url_for('static', filename='mclawassets/images/weight-icon.svg') }}" alt="">
                    </figure>
                    <div class="wi_content">
                        <h5>Defend and enforce your rights</h5>
                        <p>Make it easier to sue those who steal your mark.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="tredmark_section cmn_gap">
    <div class="container">
        <div class="cmn_header cmn_header_aleft">
            <h2>What you can and can't trademark</h2>
        </div>

        <div class="row treadmark_header_row">
            <div class="col-md-6 col-12 treadmark_header_col">
                <div class="treadmark_item">
                    <div class="treadmark_header">
                        <h5>What to trademark</h5>
                    </div>
                    <div class="treadmark_content">
                        <ul class="list wtodo_list">
                            <li>A name like Nike</li>
                            <li>A logo like the swoosh logo</li>
                            <li>A slogan like "Just do it"</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-12 treadmark_header_col">
                <div class="treadmark_item">
                    <div class="treadmark_header">
                        <h5>What not to trademark</h5>
                    </div>
                    <div class="treadmark_content">
                        <ul class="list wnottodo_list">
                            <li>A song, book, film, or other original creative work. <a href="#">Get a copyright instead.</a></li>
                            <li>An invention like a technical process, machine, manufactured good, or chemical formula. <a href="#">Look into a patent.</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endif %}
<div class="faq_section">
    <div class="container">
        <div class="cmn_hedaer cmn_header_aleft">
            <h2>Frequently asked questions</h2>
        </div>


        <div class="acc_container">
            <div class="accordion" id="accordionExample">

                {% for faq in product.faqs %}

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{loop.index}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                            {{ faq.question }}
                        </button>
                    </h2>
                    <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>{{ faq.answer }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<div class="tredmarjk_registration_section cmn_gap">
    <div class="container">
        <div class="row tdreg_row">
            <div class="col-lg-6 col-12 tdreg_col">
                <div class="tdreg_item">
                    <div class="cmn_header cmn_header_aleft">
                        <h2>How to start your {{ product.title }}</h2>
                    </div>
                    <div class="tdreg_content">
                        <ol class="list">
                            <li>Tell us about your legal issues.</li>
                            <li>We'll research your issues and report back</li>
                            <li>We'll draft your documents and submit any paperwork.</li>
                        </ol>
                        <p>When you give us the green light, we'll have our legal experts start working on your {{ product.title}} and will return your completed {{product.slug}} within five to seven business days.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tdreg_col">
                <figure class="tdreg_img">
                    <img src="{{ url_for('static', filename='mclawassets/images/tredmark-registration-img.png') }}" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="attorney_section">

    <div class="cmn_header">
        <h2>Let an experienced attorney take the lead</h2>
    </div>

    <!--<div class="attorney_row_wrapper bg_pink">
        <div class="container">
            <div class="row attorney_row">
                <div class="col-lg-4 col-12 attorney_col">
                    <div class="attorney_item">
                        <div class="attorney_content_top">
                            <h5>Trademark Registration</h5>
                            <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span>
                            <p class="price_p"><span>$599</span> + federal fees (charged upon filing)**</p>
                            <a href="#" class="cmn_btn dark_btn">START Now</a>
                        </div>
                        <div class="attorney_content_bottom">
                            <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

                            <ul class="list td_ul">
                                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span><span>If your first mark gets rejected, we'll cover our $599 fee to register a different mark<small>‡</small></span></li>
                                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-12 attorney_col">
                    <div class="attorney_item">
                        <div class="attorney_content_top">
                            <h5>Trademark Registration</h5>
                            <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span>
                            <p class="price_p"><span>$599</span> + federal fees (charged upon filing)**</p>
                            <a href="#" class="cmn_btn dark_btn">START Now</a>
                        </div>
                        <div class="attorney_content_bottom">
                            <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

                            <ul class="list td_ul">
                                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span><span>If your first mark gets rejected, we'll cover our $599 fee to register a different mark<small>‡</small></span> </li>
                                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-12 attorney_col">
                    <div class="attorney_item">
                        <div class="attorney_content_top">
                            <h5>Trademark Registration</h5>
                            <span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span>
                            <p class="price_p"><span>$299</span> + federal fees (charged upon filing)**</p>
                            <a href="#" class="cmn_btn dark_btn">START Now</a>
                        </div>
                        <div class="attorney_content_bottom">
                            <p>Set up your mark for success. With attorney help, you have a 94% chance of registering a trademark.<small>†</small></p>

                            <ul class="list td_ul">
                                <li><span class="lg_span"><i><img src="{{ url_for('static', filename='mclawassets/images/tick-2.svg') }}" alt=""></i> MC Law Guarantee</span><span>If your first mark gets rejected, we'll cover our $299 fee to register a different mark<small>‡</small></span></li>
                                <li><span>Have peace of mind knowing your attorney will research your mark, file for you, and deal with minor roadblocks</span></li>
                                <li><span>Get a free trademark search for a second mark if your attorney thinks there's an issue with your first choice</span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>

<section class="how_it_works_section cmn_gap">
    <div class="container">
        <div class="cmn_header">
            <h2>HOW IT WORKS?</h2>
            <p>Answer a few questions and we take care of the paperwork for you.</p>
        </div>
        <div class="row hiw_row">
            <div class="col-md-4 col-12 hiw_col">
                <div class="hiw_item">
                    <figure class="hiw_icon">
                        <img src="{{ url_for('static', filename='mclawassets/images/hiw-icon1.svg') }}" alt="">
                    </figure>
                    <div class="hiw_content">
                        <h6>BUILD YOUR DOCUMENT</h6>
                        <p>Answer a few simple questions to build your document in minutes.</p>
                    </div>
                    <div class="hiw_btn_dv">
                        <a href="#" class="view_more_btn">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 hiw_col">
                <div class="hiw_item">
                    <figure class="hiw_icon">
                        <img src="{{ url_for('static', filename='mclawassets/images/hiw-icon2.svg') }}" alt="">
                    </figure>
                    <div class="hiw_content">
                        <h6>SAVE, PRINT & DOWNLOAD</h6>
                        <p>Save progress and update your document any time. Download your document in .docx, .pdf and print it from anywhere.</p>
                    </div>
                    <div class="hiw_btn_dv">
                        <a href="#" class="view_more_btn">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 hiw_col">
                <div class="hiw_item">
                    <figure class="hiw_icon">
                        <img src="{{ url_for('static', filename='mclawassets/images/hiw-icon3.svg') }}" alt="">
                    </figure>
                    <div class="hiw_content">
                        <h6>MAKE IT LEGAL</h6>
                        <p>Sign your document and make it legal. We'll make sure it stays updated with the law.</p>
                    </div>
                    <div class="hiw_btn_dv">
                        <a href="#" class="view_more_btn">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="most_popular_section cmn_gap">
    <div class="container">
        <div class="cmn_header">
            <h6>Popular Services</h6>
            <h2>MOST POPULAR</h2>
        </div>
        <div class="slider uplaw_slider">
            {% for product in featured_products %}
            <div class="uplaw_slider_item">
                <!--<a href="#" class="uplaw_slider_img">
                    <img src="{{ url_for('static', filename=product.image_url) }}" alt="">
                </a>-->
                <div class="uplaw_slider_content">
                    <h6><a href="{{ url_for('main.products')}}{{product.slug}}" class="pb_title">{{ product.title }}</a></h6>
                    <p class="product_price">${{ product.price }}</p>
                    <p>{{ product.description }}</p>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>
</section>

{% include 'components/footer.html' %}
{% endblock %}
