{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}



<div class="banner inner_page_banner">
    <div class="banner_wrapper">
        <div class="container">
            <div class="banner_inner">
                <h1>OUR professionals</h1>
                <div class="banner_form">
                    <form>
                        <div class="form_group">
                            <input
                                type="search"
                                placeholder="Please Enter Your Search Here"
                            />
                        </div>
                        <div class="form_group">
                            <ul class="list radio_ul">
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>All</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" checked="" name="name" />
                                            <span>People</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>Services</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>Publications</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>Blogs</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>News</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>Events</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name" />
                                            <span>More</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profetionals_section cmn_gap">
    <div class="container">
        <div class="sec_title">
            <h6>Narrow By</h6>
        </div>
        <div class="search-filters-content">
            <div class="search-filters-mobile-toggles">
                <button class="search-filters-mobile-toggle" data-href="#narrow">
                    Narrow By
                </button>
                <button
                    class="search-filters-mobile-toggle search-filters-mobile-toggle-short"
                    data-href="#short"
                >
                    Sort By
                </button>
            </div>
            <div class="search-filters-control" id="narrow">
                <div class="grouped-filters-tabs">
                    <div class="grouped-filter-tabs">
                        <button class="grouped-filters-button" data-href="#Locations">
                            Locations
                        </button>
                        <button class="grouped-filters-button" data-href="#industry">
                            Industry - Practice
                        </button>
                        <button class="grouped-filters-button" data-href="#Position">
                            Position
                        </button>
                    </div>
                </div>
                <div class="grouped-filter" id="Locations">
                    <button class="grouped-filter-tab-btn">Locations</button>
                    <div class="grouped-filter-container">
                        <ul class="grouped-filter-options">
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Alert">
                                    <input type="checkbox" id="Alert" />
                                    <span class="grouped-filter-option-name">Alert</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Attorney Articles"
                                >
                                    <input type="checkbox" id="Attorney Articles" />
                                    <span class="grouped-filter-option-name"
                                    >Attorney Articles</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Business Litigation Reporter"
                                >
                                    <input
                                        type="checkbox"
                                        id="Business Litigation Reporter"
                                    />
                                    <span class="grouped-filter-option-name"
                                    >Business Litigation Reporter</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Diversity">
                                    <input type="checkbox" id="Diversity" />
                                    <span class="grouped-filter-option-name">Diversity</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Fintech Flash"
                                >
                                    <input type="checkbox" id="Fintech Flash" />
                                    <span class="grouped-filter-option-name"
                                    >Fintech Flash</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for=" MCLaw Insights"
                                >
                                    <input type="checkbox" id="MCLaw Insights" />
                                    <span class="grouped-filter-option-name"
                                    > MCLaw Insights</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Hospitality + Leisure Trend Watch"
                                >
                                    <input
                                        type="checkbox"
                                        id="Hospitality + Leisure Trend Watch"
                                    />
                                    <span class="grouped-filter-option-name"
                                    >Hospitality + Leisure Trend Watch</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Podcast">
                                    <input type="checkbox" id="Podcast" />
                                    <span class="grouped-filter-option-name">Podcast</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Probono">
                                    <input type="checkbox" id="Probono" />
                                    <span class="grouped-filter-option-name">Probono</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Proptech Pulse"
                                >
                                    <input type="checkbox" id="Proptech Pulse" />
                                    <span class="grouped-filter-option-name"
                                    >Proptech Pulse</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Securities Snapshot"
                                >
                                    <input type="checkbox" id="Securities Snapshot" />
                                    <span class="grouped-filter-option-name"
                                    >Securities Snapshot</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Video">
                                    <input type="checkbox" id="Video" />
                                    <span class="grouped-filter-option-name">Video</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Weekly RoundUp"
                                >
                                    <input type="checkbox" id="Weekly RoundUp" />
                                    <span class="grouped-filter-option-name"
                                    >Weekly RoundUp</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="White Collar Spotlight"
                                >
                                    <input type="checkbox" id="White Collar Spotlight" />
                                    <span class="grouped-filter-option-name"
                                    >White Collar Spotlight</span
                                    >
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grouped-filter" id="industry">
                    <button class="grouped-filter-tab-btn">
                        Industry - Practice
                    </button>
                    <div class="grouped-filter-container">
                        <div class="services-filter">
                            <button class="services-filter-button">
                                <span>Industry - Practice</span>
                            </button>
                            <div class="services-filter-list">
                                <button class="services-filter-list-btn">
                                    <span>Agribusiness</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Antitrust + Competition</span>
                                </button>
                                <button class="services-filter-list-btn">
                      <span
                      >Antitrust Services for Life Sciences Companies</span
                      >
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Appellate and Supreme Court Litigation</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Artificial Intelligence + Machine Learning</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Banking</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Business + Commercial Litigation</span>
                                </button>
                                <button class="services-filter-list-btn">
                                    <span>Buyouts + Acquisitions</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grouped-filter" id="Position">
                    <button class="grouped-filter-tab-btn">Position</button>
                    <div class="grouped-filter-container">
                        <ul class="grouped-filter-options">
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Alert">
                                    <input type="checkbox" id="Alert" />
                                    <span class="grouped-filter-option-name">Alert</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Attorney Articles"
                                >
                                    <input type="checkbox" id="Attorney Articles" />
                                    <span class="grouped-filter-option-name"
                                    >Attorney Articles</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Business Litigation Reporter"
                                >
                                    <input
                                        type="checkbox"
                                        id="Business Litigation Reporter"
                                    />
                                    <span class="grouped-filter-option-name"
                                    >Business Litigation Reporter</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Diversity">
                                    <input type="checkbox" id="Diversity" />
                                    <span class="grouped-filter-option-name">Diversity</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Fintech Flash"
                                >
                                    <input type="checkbox" id="Fintech Flash" />
                                    <span class="grouped-filter-option-name"
                                    >Fintech Flash</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for=" MCLaw Insights"
                                >
                                    <input type="checkbox" id=" MCLaw Insights" />
                                    <span class="grouped-filter-option-name"
                                    > MCLaw Insights</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Hospitality + Leisure Trend Watch"
                                >
                                    <input
                                        type="checkbox"
                                        id="Hospitality + Leisure Trend Watch"
                                    />
                                    <span class="grouped-filter-option-name"
                                    >Hospitality + Leisure Trend Watch</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Podcast">
                                    <input type="checkbox" id="Podcast" />
                                    <span class="grouped-filter-option-name">Podcast</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Probono">
                                    <input type="checkbox" id="Probono" />
                                    <span class="grouped-filter-option-name">Probono</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Proptech Pulse"
                                >
                                    <input type="checkbox" id="Proptech Pulse" />
                                    <span class="grouped-filter-option-name"
                                    >Proptech Pulse</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Securities Snapshot"
                                >
                                    <input type="checkbox" id="Securities Snapshot" />
                                    <span class="grouped-filter-option-name"
                                    >Securities Snapshot</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label class="grouped-filter-option-label" for="Video">
                                    <input type="checkbox" id="Video" />
                                    <span class="grouped-filter-option-name">Video</span>
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="Weekly RoundUp"
                                >
                                    <input type="checkbox" id="Weekly RoundUp" />
                                    <span class="grouped-filter-option-name"
                                    >Weekly RoundUp</span
                                    >
                                </label>
                            </li>
                            <li class="grouped-filter-option">
                                <label
                                    class="grouped-filter-option-label"
                                    for="White Collar Spotlight"
                                >
                                    <input type="checkbox" id="White Collar Spotlight" />
                                    <span class="grouped-filter-option-name"
                                    >White Collar Spotlight</span
                                    >
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-filters-control-short" id="short">
                <div class="sort-dropdown">
                    <button class="sort-dropdown-toggle">
                        <span>Title A-Z</span>
                    </button>
                    <div class="sort-dropdown-list">
                        <button class="sort-dropdown-option">
                            <span>Title A-Z</span>
                        </button>
                        <button class="sort-dropdown-option">
                            <span>Title Z-A</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="letter_dv">
            <ul class="list letter_list">
                <li><a href="#">A</a></li>
                <li><a href="#">B</a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">D</a></li>
                <li><a href="#">E</a></li>
                <li><a href="#">F</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">H</a></li>
                <li><a href="#">I</a></li>
                <li><a href="#">J</a></li>
                <li><a href="#">K</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">N</a></li>
                <li><a href="#">O</a></li>
                <li><a href="#">P</a></li>
                <li><a href="#">Q</a></li>
                <li><a href="#">R</a></li>
                <li><a href="#">S</a></li>
                <li><a href="#">T</a></li>
                <li><a href="#">U</a></li>
                <li><a href="#">V</a></li>
                <li><a href="#">W</a></li>
                <li><a href="#">X</a></li>
                <li><a href="#">Y</a></li>
                <li><a href="#">Z</a></li>
            </ul>
        </div>

        <div class="result_dv">
            <p>
                We found <span>2</span> results in
                <span class="txt_bold">People</span>
            </p>
        </div>
    </div>
</div>

<div class="profetionals_bottom_section cmn_gap">
    <div class="container">
        <div class="row profetionals_row">
            {% for professional in professionals %}
            <div class="col-lg-6 col-12 profetionals_col">
                <div class="profetionals_item">
                    <div class="profetionals_item_left">
                        <figure class="profetionals_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/professionals_profile_images/'+professional.slug+'.jpg') }}" alt="" />
                        </figure>
                        <a href="{{ url_for('main.professionals', slug=professional.slug) }}" class="view_bio_btn">View Bio</a>
                    </div>
                    <div class="profetionals_item_right">
                        <h5>{{ professional.full_name }}</h5>

                        <div class="row contact_dtls_row">
                            <div class="col-12 contact_dtls_col">
                                <div class="contact_dtls_item">
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:casey@mclaw.io">casey@mclaw.io</a>
                                </div>
                            </div>

                            <div class="col-md-6 col-12 contact_dtls_col">
                                <div class="contact_dtls_item">
                                    <i class="fas fa-phone-alt"></i>
                                    <a href="#">+1 202 743 1972</a>
                                </div>
                            </div>

                            <div class="col-md-6 col-12 contact_dtls_col">
                                <div class="contact_dtls_item">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <a href="#">Washington DC</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>

        <div class="pagination_dv">
            <nav aria-label="navigation example">
                <ul class="pagination">
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}