{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<div class="banner inner_page_banner profetionals_profile_banner">
    <div class="banner_wrapper">
        <div class="profetionals_profile_box">
            <figure class="profetionals_profile_banner_img">
                <img src="{{ url_for('static', filename='mclawassets/images/professionals_profile_images/'+professional.slug+'.jpg') }}" alt="">
            </figure>
            <div class="profetionals_profile_banner_content">
                <h1>{{ professional.full_name}} <br></h1>
            </div>

            <div class="prof_top_ul_wrap">
                <ul class="list prof_profile_ul">
                    <li>
                        <a href="#"><i class="fas fa-file-pdf"></i><span>View PDF</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-share-alt"></i><span>Share</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="banner_bttm">
            <ul class="list prof_profile_ul">
                <li>
                    <a href="mailto:{{ professional.email}}"><i class="fas fa-envelope"></i><span>Email: casey@mclaw.io</span></a>
                </li>
                <li>
                    <a href="tel:202.743.1972"><i class="fas fa-phone-alt"></i><span>Phone: 202.743.1972</span></a>
                </li>
                <li>
                    <a href="https://csmckay.us/cv"><i class="fas fa-address-card"></i><span>CV</span></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/casey-scott-mckay-09614756/"><i class="fab fa-linkedin"></i><span>LinkedIn</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="publication_wrap publication_up">
    <div class="publication_section_top_outer">
        <div class="publication_section_top">
            <div class="container">
                <div class="publication_tabs">
                    <ul class="list publication_tabs_ul">
                        <li><a href="#experience" class="active">EXPERIENCE</a></li>
                        <li><a href="#publication">PUBLICATIONS</a></li>
                        <li><a href="#in-the-news">IN THE NEWS</a></li>
                        <li><a href="#credential">CREDENTIALS</a></li>
                        <li><a href="#get-in-touch">GET IN TOUCH</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="profetionals_profile_section">
            <!-- <div class="container"> -->
            <div class="profetionals_profile_inner">

                <div class="profetionals_profile_content">
                    <div class="container">
                        <div class="prof_text">
                            <p>Casey, a former software engineer turned attorney, provides invaluable counsel and support to a diverse range of clients all across the globe on intellectual property and technology matters. He focuses his practice on advising technology and science companies of all sizes, including their investors, in corporate and especially intellectual property and technology matters throughout the business life cycle, including new company formation, IP protection, fundraising, strategic transactions, and exits. In his spare time, he enjoys playing soccer, rock climbing, treks, and traveling. Casey is licensed to practice law by the state of Tennessee (Attorney License No. 034028) in both federal and state courts as well as USPTO proceedings. Casey is a partner at MC Law (casey@mclaw.io).</p>



                        </div>
                        <div class="moretext">
                            <p> Casey is licensed to practice law by the state of Tennessee (Attorney License No. 034028) in both federal and state courts as well as USPTO proceedings. Casey is a partner at MC Law (casey@mclaw.io).</p>


                        </div>
                        <a href="javascript:void(0)" class="read_more_btn">Read More</a>
                    </div>
                </div>

                <div class="area_parctice_box">
                    <div class="container">
                        <div class="row area_parctice_row">
                            <div class="col-lg-4 co-12 area_parctice_col">
                                <div class="cmn_header">
                                    <h4>AREAS OF PRACTICE</h4>
                                </div>
                            </div>
                            <div class="col-lg-8 co-12 area_parctice_col">
                                <ul class="list area_practice_ul">
                                    <li><a href="#">Technical Experience</a></li>
                                    <li><a href="#">Patent Litigation</a></li>
                                    <li><a href="#">Trademark Litigation</a></li>
                                    <li><a href="#">Strategic Technology Transactions and Licensing</a></li>
                                    <li><a href="#">Higher Education</a></li>
                                    <li><a href="#">Fintech</a></li>
                                    <li><a href="#">Appellate and Supreme Court Litigation</a></li>
                                    <li><a href="#">Trademark Trial + Appeal Board</a></li>
                                    <li><a href="#">Complex Litigation + Dispute Resolution</a></li>
                                    <li><a href="#">Intellectual Property</a></li>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">Trademark Prosecution + Counseling</a></li>
                                    <li><a href="#">Artificial Intelligence + Machine Learning</a></li>
                                    <li><a href="#">Data Privacy</a></li>
                                    <li><a href="#">Internet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="experience_box" id="experience">
                    <div class="container">
                        <div class="cmn_header cmn_header_aleft">
                            <h2>EXPERIENCE</h2>
                        </div>
                        <p>Mr. McKay's experience includes the following: </p>

                        <div class="prof_text">
                            <ul class="list dotted_ul">
                                <li>Represented companies in complex IP disputes, including trademark, copyright, and patent litigation.</li>
                                <li>Represented companies in WIPO domain name disputes.</li>
                                <li>Defending ecommerce companies in copyright infringement litigation.</li>
                                <li>Maintaining hundreds of policies, procedures, and agreements for tech companies.</li>
                                <li>Judicial Intern for Chief Federal Judge Jon Phipps McCalla for the U.S. District Court—Western District of Tennessee.</li>
                                <li>Judicial intern for Federal Magistrate Judge Mike Parker for the U.S. District Court—Southern District of Mississippi.  </li>
                            </ul>
                        </div>
                        <div class="moretext">
                            <ul class="list dotted_ul">
                                <li>Representing a designer lighting company in a case involving trademark infringement, unfair competition, false designation of origin, and dilution and tarnishment.</li>
                                <li>Successfully defending multiple WIPO domain name disputes for both Complainants and Respondents.</li>
                                <li>Securing settlements favorable to clients..</li>

                            </ul>
                        </div>

                        <a href="javascript:void(0)" class="read_more_btn">Read More</a>
                    </div>
                </div>

                <div class="representative_box">
                    <div class="container">
                        <div class="cmn_header cmn_header_aleft">
                            <h4>REPRESENTATIVE MATTERS</h4>
                        </div>
                        <div class="acc_container">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Trademark Disputes
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Mr. McKay has experience in trademark litigation, both in federal court and before the Trademark Trial & Appeal Board, patent, copyright, trade secret and false advertising litigation. His recent experience includes representing:</p>
                                            <ul>
                                                <li>Multiple ecommerce businesses in defense of false advertising class actions</li>
                                                <li>Multiple software companies in enforcing and defending copyright claims</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            BUSINESS DISPUTES
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Mr. McKay has experience in a broad range of business litigation and arbitration, with a particular focus on disputes for technology and life sciences companies arising under licenses, joint development agreements, and supply, manufacturing and quality agreements. His recent experience includes representing:</p>
                                            <ul>
                                                <li>Multiple blockchain companies in assessing whether a token will be considered a security or commodity.</li>
                                                <li>Multiple software companies in enforcing and defending copyright claims</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            COPYRIGHT DISPUTES
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Mr. McKay has experience in copyright litigation, both in federal court and state court. His recent experience includes representing:</p>
                                            <ul>
                                                <li>Multiple ecommerce businesses in filing actions against foreign companies infringing copyrights.</li>
                                                <li>Multiple software companies in enforcing and defending copyright claims</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            COMPETITOR LITIGATION
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, et, voluptates voluptatum placeat facere architecto aspernatur molestiae, quisquam ad non illo iusto voluptas sunt id magnam obcaecati deleniti nam. Voluptatibus ipsa, mollitia esse, consequuntur commodi illum officia praesentium saepe quas fuga perferendis nemo numquam consequatur deserunt eum vitae? Maiores dignissimos illum autem iste possimus iusto incidunt ut deleniti fuga numquam!</p>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            TRADEMARK TRIAL AND APPEAL BOARD
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Mr. McKay has experience before the Trademark Trial and Appeal Board representing companies on both sides of trademark disputes.
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            AMICUS BRIEFS
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, et, voluptates voluptatum placeat facere architecto aspernatur molestiae, quisquam ad non illo iusto voluptas sunt id magnam obcaecati deleniti nam. Voluptatibus ipsa, mollitia esse, consequuntur commodi illum officia praesentium saepe quas fuga perferendis nemo numquam consequatur deserunt eum vitae? Maiores dignissimos illum autem iste possimus iusto incidunt ut deleniti fuga numquam!</p>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profetional_activities_box">
                    <div class="container">
                        <div class="cmn_header cmn_header_aleft">
                            <h4>PROFESSIONAL ACTIVITIES</h4>
                            <p>In his previous career, Mr. McKay worked for multiple technology companies as a backend software engineer.</p>
                        </div>
                    </div>
                </div>

                <!--<div class="recognition_box">
                    <div class="container">
                        <div class="cmn_header cmn_header_aleft">
                            <h2>RECOGNITION</h2>
                            <p>Usce pulvinar, neque posuere cursus fermentum, sapien enim laoreet sem, at porttitor sem lectus ac nisl. Vestibulum lacus orci, laoreet at vehicula quis, vulputate in risus. Integer aliquet ex eget enim tempus ullamcorper. Praesent id gravida velit. Curabitur lorem eros, pulvinar vel sem vitae, eleifend commodo felis. Sed condimentum purus elit, quis placerat urna elementum et. Duis facilisis, libero quis pharetra tristique, justo nisi tristique metus, ac molestie sem lacus quis velit. Quisque malesuada metus nibh, sed iaculis dolor accumsan nec. Nunc cursus dolor justo, ut lacinia turpis pretium sed. Maecenas dapibus leo eu aliquet facilisis. In lacinia, nibh vel porta consequat, massa elit viverra nibh, pulvinar faucibus ipsum quam sit amet augue. Praesent venenatis ut elit et pretium. In accumsan velit metus, ut malesuada neque tempus eget. Vivamus interdum magna et odio facilisis, iaculis finibus magna mattis. Suspendisse potenti.</p>
                        </div>

                        <div class="bradnd_slider_wrapper">
                            <div class="slide brand_slider" >
                                <div class="brand_slider_item">
                                    <div class="item">
                                        <figure>
                                            <img src="{{ url_for('static', filename='mclawassets/images/brand-img1.png') }}" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="brand_slider_item">
                                    <div class="item">
                                        <figure>
                                            <img src="{{ url_for('static', filename='mclawassets/images/brand-img2.png') }}" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="brand_slider_item">
                                    <div class="item">
                                        <figure>
                                            <img src="{{ url_for('static', filename='mclawassets/images/brand-img3.png') }}" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="brand_slider_item">
                                    <div class="item">
                                        <figure>
                                            <img src="{{ url_for('static', filename='mclawassets/images/brand-img1.png') }}" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="brand_slider_item">
                                    <div class="item">
                                        <figure>
                                            <img src="{{ url_for('static', filename='mclawassets/images/brand-img2.png') }}" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="brand_slider_item">
                                    <div class="item">
                                        <figure>
                                            <img src="{{ url_for('static', filename='mclawassets/images/brand-img3.png') }}" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="publications_box" id="publication">
                    <div class="container">
                        <div class="cmn_header cmn_header_aleft">
                            <h2>PUBLICATIONS</h2>
                        </div>
                        <ul class="list dotted_ul dotted_ul_sm_gap">
                            <li>Casey Scott McKay, Note, Constitutional Law—The Plea-Bargaining Process—<i>Mr. Counsel, Please Bargain Effectively for Your Client’s Sixth Amendment Rights, Otherwise the Trial Court Will be Forced to Reoffer the Plea Deal and Then Exercise Discretion in Resentencing</i>, 82 Miss. L.J. 731 (April 2013)</li>
                            <li>Casey Scott McKay, <i></i>Tactics, Strategies & Battles—Oh My!: Perseverance of the Perpetual Problem Pertaining to Preaching to Public School Pupils & Why it Persists</i>, 8 U. MASS. L. REV. 442 (2013)</li>
                            <li>Casey Scott McKay, <i>Fishin’ with Fisher: Determining the Depth of Deference Does Not Demand Dealing Deference a Deathly Decker</i>, 83 Miss. L.J. 949 (May 2014) </li>
                            <li>Casey Scott McKay and Luc Boruta, <i>Legal Citation Analysis with CourtListener and Cobaltmetrics</i> (2019) </li>
                            <li> Presenter—CLE, Trademark Law & Unfair Competition, eLearn Law (2015) </li>

                        </ul>

                        <ul class="list radio_ul">
                            <li>
                                <div class="form_input_radio">
                                    <label>
                                        <input type="radio" name="name">
                                        <span>New and Noteworthy</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form_input_radio">
                                    <label>
                                        <input type="radio" name="name">
                                        <span>All Publications</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form_input_radio">
                                    <label>
                                        <input type="radio" name="name">
                                        <span>Speaking Engagements - 17</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form_input_radio">
                                    <label>
                                        <input type="radio" name="name">
                                        <span>Attorney Articles - 5</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form_input_radio">
                                    <label>
                                        <input type="radio" checked="" name="name">
                                        <span>MC Law Insights</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form_input_radio">
                                    <label>
                                        <input type="radio" name="name">
                                        <span>Video - 1</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form_input_radio">
                                    <label>
                                        <input type="radio" name="name">
                                        <span>Events - 14</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form_input_radio">
                                    <label>
                                        <input type="radio" name="name">
                                        <span>Alert - 1</span>
                                    </label>
                                </div>
                            </li>

                        </ul>

                        <div class="row pb_news_row">
                            {% if articles %}
                            {% for article in articles[0:6] %}

                            <div class="col-lg-4 col-md-6 col-12 pb_news_col">
                                <div class="pb_item">
                                    <div class="pb_content">
                                        <p class="pb_tag"><span>MC Law Insights</span></p>
                                        <h5><a href="#" class="pb_title">{{article.title}}</a></h5>
                                    </div>
                                    <div class="pb_content_bttm">
                                        <p class="pb_date">
                                            <i><img src="{{ url_for('main.documents', slug=article.slug) }}" alt=""></i>
                                            {% set article_date = article.date_created | string%}
                                            <span>{{article_date[0:10]}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>

                        <div class="pb_bttm_btn">
                            <a href="{{url_for('main.documents')}}" class="cmn_btn dark_btn">View More</a>
                        </div>
                    </div>

                </div>

                <div class="in_the_news_box" id="in-the-news">
                    <div class="container">
                        <div class="cmn_header cmn_header_aleft">
                            <h2>IN THE NEWS</h2>
                        </div>

                        <ul class="list itn_ul">
                            {% if articles %}
                            {% for article in articles[6:10]%}
                            <li>
                                <div class="news_li_box">
                                    <h5><a href="#" class="pb_title">{{article.title}}</a></h5>

                                    <p class="pb_date">
                                        <i><img src="{{ url_for('main.documents', slug=article.slug) }}" alt=""></i>
                                        {% set article_date = article.date_created | string%}
                                        <span> {{article_date[0:10]}}</span>
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>

                        <div class="in_the_news_box_btn">
                            <a href="{{url_for('main.documents')}}" class="view_more_btn">View More</a>
                        </div>

                    </div>
                </div>

                <div class="credential_box" id="credential">
                    <div class="container">
                        <div class="cmn_header cmn_header_aleft">
                            <h2>CREDENTIALS</h2>
                        </div>

                        <div class="row cred_row">
                            <div class="col-lg-6 col-12 cred_col">
                                <div class="cred_item">
                                    <figure class="cred_icon">
                                        <img src="{{ url_for('static', filename='mclawassets/images/cap-icon.svg') }}" alt="">
                                    </figure>
                                    <div class="cred_item_content">
                                        <div class="cmn_header">
                                            <h4>EDUCATION</h4>
                                        </div>
                                        <div class="cred_content_box">
                                            <h6>Juris Doctor</h6>
                                            <p>University of Mississippi School of Law </p>
                                            <ul>
                                                <li><i>Magna Cum Laude</i></li>
                                                <li>Mississippi Law Journal, Executive Board</li>
                                            </ul>
                                        </div>
                                        <div class="cred_content_box">
                                            <h6>B.S., Computer Science</h6>
                                            <p>University of Mississippi</p>
                                            <ul>
                                                <li>100+ hours complete (initially pursuing masters program, but started a job)</li>

                                            </ul>
                                        </div>
                                        <div class="cred_content_box">
                                            <h6>B.A., Anthropology</h6>
                                            <p>Mississippi State University</p>
                                            <ul>
                                                <li><i>Magna Cum Laude</i></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="cred_item">
                                    <figure class="cred_icon">
                                        <img src="{{ url_for('static', filename='mclawassets/images/pencil-icon.svg') }}" alt="">
                                    </figure>
                                    <div class="cred_item_content">
                                        <div class="cmn_header">
                                            <h4>Judicial Internships</h4>
                                        </div>
                                        <div class="cred_content_box">
                                            <p>U.S. District Court—Western District of Tennessee </br> Judicial Intern for Chief Federal Judge Jon Phipps McCalla</p>
                                            </br>
                                            <p>
                                                U.S. District Court—Southern District of Mississippi</br>Judicial Intern for Federal Magistrate Judge Mike Parker
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12 cred_col">
                                <div class="cred_item">
                                    <figure class="cred_icon">
                                        <img src="{{ url_for('static', filename='mclawassets/images/circle-tick-icon.svg') }}" alt="">
                                    </figure>
                                    <div class="cred_item_content">
                                        <div class="cmn_header">
                                            <h4>ADMISSIONS</h4>
                                        </div>
                                        <div class="cred_content_box">
                                            <h6>Bar</h6>
                                            <ul class="list cred_ul">
                                                <li><a href="#">Tennessee</a></li>

                                            </ul>
                                        </div>
                                        <div class="cred_content_box">
                                            <h6>Courts</h6>
                                            <ul class="list cred_ul">

                                                <li><a href="#">U.S. District Court for the Western District of Tennessee</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

            <div class="banner inner_page_banner profetionals_profile_banner prof_get_in_touch_section pt-0" id="get-in-touch">
                <div class="banner_wrapper">
                    <div class="profetionals_profile_box">
                        <figure class="profetionals_profile_banner_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/profile_pictures/'+professional.slug+'.jpg') }}" alt="">
                        </figure>
                        <div class="profetionals_profile_banner_content">
                            <h2>GET IN TOUCH</h2>
                            <p>Our clients rely on us for world-class advisory services, counsel on complex transactional work and high-stakes litigation. Specializing in matters involving the technology, financial, life sciences, private equity, real estate, and technology industries, we use a collaborative, cross-disciplinary approach to resolve our clients’ most challenging issues. To find out more, please contact us.</p>
                        </div>
                    </div>

                    <div class="container">
                        <div class="banner_bttm">
                            <ul class="list prof_profile_ul">
                                <li>
                                    <a href="mailto:{{ professional.email}}"><i class="fas fa-envelope"></i><span>Email: casey@mclaw.io</span></a>
                                </li>
                                <li>
                                    <a href="tel:202.743.1972"><i class="fas fa-phone-alt"></i><span>Phone: 202.743.1972</span></a>
                                </li>
                                <li>
                                    <a href="https://csmckay.us/cv"><i class="fas fa-address-card"></i><span>CV</span></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/casey-scott-mckay-09614756/"><i class="fab fa-linkedin"></i><span>LinkedIn</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profetionals_profile_inner">
                <div class="search_lawyers_box">
                    <div class="container">
                        <div class="row area_parctice_row">
                            <div class="col-lg-4 co-12 area_parctice_col">
                                <div class="cmn_header">
                                    <h4>SEARCH OTHER LAWYERS</h4>
                                </div>
                            </div>
                            <div class="col-lg-8 co-12 area_parctice_col">
                                <ul class="list area_practice_ul">

                                    <li><a href="#">Technical Experience</a></li>
                                    <li><a href="#">Patent Litigation</a></li>
                                    <li><a href="#">ITC 337 Proceedings</a></li>
                                    <li><a href="#">Strategic Technology Transactions and Licensing</a></li>
                                    <li><a href="#">Higher Education</a></li>
                                    <li><a href="#">Fintech</a></li>
                                    <li><a href="#">Appellate and Supreme Court Litigation</a></li>
                                    <li><a href="#">Patent Trial + Appeal Board</a></li>
                                    <li><a href="#">Complex Litigation + Dispute Resolution</a></li>
                                    <li><a href="#">Intellectual Property</a></li>
                                    <li><a href="#">Pharmaceuticals</a></li>
                                    <li><a href="#">Patent Prosecution + Counseling</a></li>
                                    <li><a href="#">Artificial Intelligence + Machine Learning</a></li>
                                    <li><a href="#">Litigation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- </div> -->
        </section>
    </div>
</div>




{% include 'components/footer.html' %}

{% endblock %}