{% extends "layout-light.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    {% include 'include/breadcrumbs-light.html' %}

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
        <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-sbold">{{ service.title|safe}}</h3>
                    <h4 class="">{{ service.categories[0]}}</h4>
                </div>
                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li><a href="{{ url_for('main.services', slug=service.slug)}}">{{ service.title}}</a>
                    </li>
                    <li>/</li>
                    <li class="c-state_active">Registration</li>
                </ul>
            </div>
        </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
        <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
            <div class="container">
                <div class="c-shop-product-details-2">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="c-product-meta">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">{{ service.title}}</h3>
                                    <div class="c-line-left"></div>
                                </div>
                                <div class="c-product-badge">
                                    <!--<div class="c-product-sale">Sale</div>
                                    <div class="c-product-new">New</div>-->
                                </div>
                                <div class="c-product-review">
                                    <!--<div class="c-product-rating">
                                        <i class="fa fa-star c-font-red"></i>
                                        <i class="fa fa-star c-font-red"></i>
                                        <i class="fa fa-star c-font-red"></i>
                                        <i class="fa fa-star c-font-red"></i>
                                        <i class="fa fa-star-half-o c-font-red"></i>
                                    </div>
                                    <div class="c-product-write-review">
                                        <a class="c-font-red" href="#">Write a review</a>
                                    </div>-->
                                </div>
                                <div class="c-product-short-desc">
                                    {% if service.featured %}
                                    <p class="c-font-lowercase">We need some information from you before we can complete
                                        your document. Don't worry if you are not sure of an answer--you may update your
                                        document from your account dashboard anytime you need to change or update your
                                        information.</p>

                                    {% elif not service.featured %}

                                    <p>Because your {{ service.featured }} is complex, it will take 3-7 business days to complete. An UpLaw representative will contact you within 24 hours to complete the consultation process and collect the information needed to complete your {{ service.featured }}. Most documents are finished and available within 2-3 days.</p>
                                    {% endif %}
                                </div>
                                <div>

                                        {{ wtf.quick_form(form) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <object height="800" width="700" data="{{ service_pdf_path }}" type="application/pdf">
                                <embed src="{{ service_pdf_path }}" type="application/pdf"/>
                            </object>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
    </div>
    <!-- END: CONTENT/SHOPS/SHOP-2-2 -->
    <!-- END: PAGE CONTENT -->
    </div>
    <!-- END: PAGE CONTAINER -->
{% endblock %}