
{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="banner inner_page_banner">
    <div class="banner_wrapper">
        <div class="container">
            <div class="banner_inner">
                <h1>SEARCH</h1>
                <div class="banner_form">
                    <form>
                        <div class="form_group">
                            <input type="search" placeholder="Please Enter Your Search Here">
                        </div>
                        <div class="form_group">
                            <ul class="list radio_ul">
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name">
                                            <span>All</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name">
                                            <span>People</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name">
                                            <span>Services</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" checked="" name="name">
                                            <span>Publications</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name">
                                            <span>Blogs</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name">
                                            <span>News</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name">
                                            <span>Events</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form_input_radio">
                                        <label>
                                            <input type="radio" name="name">
                                            <span>More</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profetionals_section cmn_gap">
    <div class="container">
        <div class="sec_title">
            <h6>Narrow By</h6>
        </div>
        <div class="filter_dv">
            <div class="filter_left">
                <form>
                    <ul class="list filter_select_ul">
                        <li>
                            <select>
                                <option>Locations</option>
                                <option>Locations</option>
                                <option>Locations</option>
                                <option>Locations</option>
                            </select>
                        </li>
                        <li>
                            <select>
                                <option>Industry - Practice</option>
                                <option>Industry - Practice</option>
                                <option>Industry - Practice</option>
                                <option>Industry - Practice</option>
                            </select>
                        </li>
                        <li>
                            <select>
                                <option>Position</option>
                                <option>Position</option>
                                <option>Position</option>
                                <option>Position</option>
                            </select>
                        </li>
                    </ul>

                </form>
            </div>
            <div class="filter_right">
                <form>
                    <select>
                        <option>Title A-Z</option>
                        <option>Title A-Z</option>
                        <option>Title A-Z</option>
                        <option>Title A-Z</option>
                    </select>
                </form>
            </div>
        </div>

        <!-- <div class="letter_dv">
            <ul class="list letter_list">
                <li class="active"><a href="#">A</a></li>
                <li><a href="#">B</a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">D</a></li>
                <li><a href="#">E</a></li>
                <li><a href="#">F</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">H</a></li>
                <li><a href="#">I</a></li>
                <li><a href="#">J</a></li>
                <li><a href="#">K</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">N</a></li>
                <li><a href="#">O</a></li>
                <li><a href="#">P</a></li>
                <li><a href="#">Q</a></li>
                <li><a href="#">R</a></li>
                <li><a href="#">S</a></li>
                <li><a href="#">T</a></li>
                <li><a href="#">U</a></li>
                <li><a href="#">V</a></li>
                <li><a href="#">W</a></li>
                <li><a href="#">X</a></li>
                <li><a href="#">Y</a></li>
                <li><a href="#">Z</a></li>
            </ul>
        </div> -->

        <div class="result_dv">
            <p>We found <span>2085</span> results in <span class="txt_bold">People</span></p>
        </div>
    </div>
</div>

<div class="profetionals_bottom_section cmn_gap">
    <div class="container">

        <!-- <div class="search_block our_profetionals_block">
            <div class="row profetionals_row">
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profetionals-img1.jpg') }}" alt="">
                            </figure>
                            <a href="#" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Ann Chovey</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 212 459 7031</a>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Silicon Valley</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profetionals-img1.jpg') }}" alt="">
                            </figure>
                            <a href="#" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Alexander Cameron</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 212 459 7031</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Silicon Valley</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profetionals-img1.jpg') }}" alt="">
                            </figure>
                            <a href="#" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Adam Butler</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 212 459 7031</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Silicon Valley</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profetionals-img1.jpg') }}" alt="">
                            </figure>
                            <a href="#" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Andrew Lyne</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 212 459 7031</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Silicon Valley</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profetionals-img1.jpg') }}" alt="">
                            </figure>
                            <a href="#" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Austin Smith</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 212 459 7031</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Silicon Valley</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profetionals-img1.jpg') }}" alt="">
                            </figure>
                            <a href="#" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Anthony Brown</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 212 459 7031</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Silicon Valley</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profetionals-img1.jpg') }}" alt="">
                            </figure>
                            <a href="#" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Alan Campbell</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 212 459 7031</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Silicon Valley</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 profetionals_col">
                    <div class="profetionals_item">
                        <div class="profetionals_item_left">
                            <figure class="profetionals_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/profetionals-img1.jpg') }}" alt="">
                            </figure>
                            <a href="#" class="view_bio_btn">View Bio</a>
                        </div>
                        <div class="profetionals_item_right">
                            <h5>Adrian Black</h5>

                            <div class="row contact_dtls_row">
                                <div class="col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#">Email</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-phone-alt"></i>
                                        <a href="#">+1 212 459 7031</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 contact_dtls_col">
                                    <div class="contact_dtls_item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#">Silicon Valley</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->

        <!-- <div class="search_block services_block">
            <div class="cmn_header cmn_header_aleft">
                <h3>For additional help, reach out to us</h3>
            </div>

            <div class="row search_services_row">
                <div class="col-lg-4 col-12 search_services_col">
                    <div class="search_services_item">
                        <h5>Get In Touch</h5>
                        <ul class="list search_ul">
                            <li><a href="#">Boston</a></li>
                            <li><a href="#">Cambridge</a></li>
                            <li><a href="#">Frankfurt</a></li>
                            <li><a href="#">Hong Kong</a></li>
                            <li><a href="#">London</a></li>
                            <li><a href="#">Los Angeles</a></li>
                            <li><a href="#">Luxembourg</a></li>
                            <li><a href="#">Munich</a></li>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">Paris</a></li>
                            <li><a href="#">San Francisco</a></li>
                            <li><a href="#">Santa Monica</a></li>
                            <li><a href="#">Silicon Valley</a></li>
                            <li><a href="#">Washington, DC</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-12 search_services_col">
                    <div class="search_services_item">
                        <h5>Media Contact</h5>
                        <p>For media inquiries, please contact <a href="#" class="view_more_btn light_btn">Konstantin Shishkin</a> , Managing Director, Marketing + Communications at +1 212 459 7176 or <a href="mailto:kshishkin@goodwinlaw.com" class="view_more_btn light_btn">kshishkin@goodwinlaw.com.</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-12 search_services_col">
                    <div class="search_services_item">
                        <h5>Join Our Team</h5>
                        <ul class="list dotted_ul dotted_ul_sm_gap">
                            <li><a href="#">Learn more about careers at Goodwin</a></li>
                            <li><a href="#">Search job openings</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div> -->

        <div class="search_block publication_block">

            <div class="row search_services_row">
                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img1.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img2.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img3.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img4.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img6.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img7.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img8.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img9.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img10.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img11.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img12.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img13.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img14.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img1.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img2.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img3.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img4.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 search_services_col">
                    <div class="pb_item">
                        <a href="#" class="pb_img">
                            <img src="{{ url_for('static', filename='mclawassets/images/publication-img6.jpg') }}" alt="">
                        </a>
                        <div class="pb_content">
                            <p class="pb_tag"><span>MC Law Insights</span></p>
                            <h5><a href="#" class="pb_title"> COPYRIGHT VS. TRADEMARK VS. PATENT</a></h5>
                        </div>
                        <div class="pb_content_bttm">
                            <p class="pb_date">
                                <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                                <span>May 03, 2022</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="search_block blog_block">
            <ul class="list itn_ul">
                <li>
                    <div class="news_li_box">
                        <h5><a href="#" class="pb_title">Curabitur lorem eros, pulvinar vel sem vitae, eleifend commodo felis condimentum purus elit quis placerat urna.</a></h5>

                        <p class="pb_date">
                            <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                            <span>May 03, 2022</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="news_li_box">
                        <h5><a href="#" class="pb_title">Curabitur lorem eros, pulvinar vel sem vitae, eleifend commodo felis condimentum purus elit quis placerat urna.</a></h5>

                        <p class="pb_date">
                            <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                            <span>May 03, 2022</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="news_li_box">
                        <h5><a href="#" class="pb_title">Curabitur lorem eros, pulvinar vel sem vitae, eleifend commodo felis condimentum purus elit quis placerat urna.</a></h5>

                        <p class="pb_date">
                            <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                            <span>May 03, 2022</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="news_li_box">
                        <h5><a href="#" class="pb_title">Curabitur lorem eros, pulvinar vel sem vitae, eleifend commodo felis condimentum purus elit quis placerat urna.</a></h5>

                        <p class="pb_date">
                            <i><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""></i>
                            <span>May 03, 2022</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div> -->


        <div class="pagination_dv">
            <nav aria-label="navigation example">
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% include 'components/footer.html' %}
{% endblock %}
