
{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<main id="main-content">
    <div class="side_nav_bar">
        <button class="side_nav_bar_toggle">
                <span class="side_nav_bar_toggle_wpr">
                    <span class="arrow_down"><img src="{{ url_for('static', filename='mclawassets/images/chevron-down.svg') }}" alt="" class="arrow_down"></span>
                    <span class="close_icon"><img src="{{ url_for('static', filename='mclawassets/images/close_22.svg') }}" alt="" class="close_icon"></span>
                </span>
        </button>


        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item current-menu-item" role="presentation">
                <a href="#" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#industries" type="button" role="tab" aria-controls="home" aria-selected="true">Industries</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#practices" type="button" role="tab" aria-controls="profile" aria-selected="false">Practices</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#most_popular" type="button" role="tab" aria-controls="profile" aria-selected="false">Most Popular</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#all_services" type="button" role="tab" aria-controls="profile" aria-selected="false">All Services</a>
            </li>
        </ul>
        <span class="sliding-side-arrow"><span></span></span>
    </div>
    <div class="page_body">

        <div class="tab_wrapper">
            <div class="tabs_container">
                <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="#" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Industries</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Practices</a>
                    </li>
                </ul> -->
                <!-- <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>Collaborations among our attorneys in various disciplines produce innovative legal solutions for our clients. We work together across offices and practice areas as integrated, multidisciplinary teams to provide
                            the capabilities necessary to generate great results for our clients.</p>

                        <ul class="list tick_ul">
                            <li>INNOVATIVE THINKERS</li>
                            <li>CLIENT SERVICE LEADERS</li>
                            <li>CHAMPIONS OF INCLUSION</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p>Collaborations among our attorneys in various disciplines produce innovative legal solutions for our clients. We work together across offices and practice areas as integrated, multidisciplinary teams to provide
                            the capabilities necessary to generate great results for our clients.</p>

                        <ul class="list tick_ul">
                            <li>INNOVATIVE THINKERS</li>
                            <li>CLIENT SERVICE LEADERS</li>
                            <li>CHAMPIONS OF INCLUSION</li>
                        </ul>
                    </div>
                </div> -->
            </div>



            <div class="tab_content_all_div tab-content" id="myTabContent">
                <div class="tab-pane fade show active seservices_block" id="industries" role="tabpanel" aria-labelledby="home-tab">
                    <section class="services_section cmn_gap padding_top" id="services">
                        <div class="container">
                            <div class="service_form">
                                <form>
                                    <div class="form_group">
                                        <input type="text" placeholder="Search Our Services">
                                    </div>
                                </form>
                            </div>

                            <div class="cmn_header cmn_header_aleft">
                                <h6>Industries</h6>
                                <h2>Our Industries</h2>
                            </div>

                            <div class="row service_row">
                                {% for industry in industries %}


                                <div class="col-lg-4 col-sm-6 col-12 service_col">
                                    <div class="service_item">
                                        <a href="#" class="service_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/industry_images/'+industry.slug+'.jpg') }}" alt="">
                                        </a>
                                        <div class="service_content">
                                            <h6><a href="/industries/{{industry.slug}}">{{ industry.title }} </a></h6>
                                        </div>
                                    </div>
                                </div>
                                {%endfor %}



                                <div class="col-lg-4 col-sm-6 col-12 service_col">
                                    <div class="service_item">
                                        <div class="service_content">
                                            <h6><a href="#">Propsci</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-6 col-12 service_col">
                                    <div class="service_item">
                                        <div class="service_content">
                                            <h6><a href="#">Proptech</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-6 col-12 service_col">
                                    <div class="service_item">
                                        <div class="service_content">
                                            <h6><a href="#">Women's Health + Wellness</a></h6>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>

                    <section class="trending_section cmn_gap">
                        <div class="container">
                            <div class="cmn_header cmn_header_aleft">
                                <h2>Trending Topics</h2>
                            </div>
                            <div class="row trending_row">
                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img1.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img2.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img3.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img4.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img5.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                </div>

                <div class="tab-pane fade services_block" id="practices" role="tabpanel" aria-labelledby="profile-tab">

                    <section class="services_section2 cmn_gap padding_top" id="services">
                        <div class="container">
                            <div class="service_form">
                                <form>
                                    <div class="form_group">
                                        <input type="text" placeholder="Search Our Services">
                                    </div>
                                </form>
                            </div>

                            <div class="cmn_header cmn_header_aleft">
                                <h6>Our Practices</h6>
                                <h2>Diligence is the Hallmark of Our Services</h2>
                            </div>

                            <div class="acc_container">
                                <div class="accordion" id="accordionExample">
                                    {% for practice in practices %}
                                    {% if practice.subcategories | length >1%}

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading{{practice.slug}}">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{practice.slug}}" aria-expanded="true" aria-controls="collapse{{practice.slug}}">
                                                {{ practice.title }}

                                            </button>
                                        </h2>
                                        <div id="collapse{{practice.slug}}" class="accordion-collapse collapse" aria-labelledby="heading{{practice.slug}}" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="letter_dtls_item">
                                                    <div class="row letter_row">

                                                        {% set services= practice.subcategories %}


                                                        <div class="col-md-4 letter_col">
                                                            <div class="letter_item">
                                                                <ul class="list letter_dtls_ul">
                                                                    {% for element in services[0:6]%}
                                                                    <li><a href="{{ url_for('main.services')}}/{{element['slug']}}">{{ element['title'] }}</a></li>
                                                                    {%endfor %}

                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 letter_col">
                                                            <div class="letter_item">
                                                                <ul class="list letter_dtls_ul">
                                                                    {% for element in services[6:] %}
                                                                    <li><a href="{{ url_for('main.services')}}/{{element['slug']}}">{{ element['title'] }}</a></li>
                                                                    {%endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="trending_section cmn_gap">
                        <div class="container">
                            <div class="cmn_header cmn_header_aleft">
                                <h2>Trending Topics</h2>
                            </div>
                            <div class="row trending_row">
                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img1.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img2.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img3.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img4.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12 trending_col">
                                    <div class="trending_item">
                                        <a href="#" class="trending_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/trending-img5.jpg') }}" alt="">
                                        </a>
                                        <div class="trending_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>

                <div class="tab-pane fade services_block" id="most_popular" role="tabpanel" aria-labelledby="home-tab">
                    <section class="services_section3 z_index3 cmn_gap padding_top" id="services">
                        <div class="container">
                            <div class="service_form">
                                <form>
                                    <div class="form_group">
                                        <input type="text" placeholder="Search Our Services">
                                    </div>
                                </form>
                            </div>

                            <div class="cmn_header cmn_header_aleft">
                                <h6>Popular</h6>
                                <h2>trending topics</h2>
                            </div>

                            <div class="row service_row">
                                <div class="col-lg-4 col-md-6 col-12 service_col">
                                    <div class="service_item">
                                        <a href="#" class="service_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/service-img1.jpg') }}" alt="">
                                        </a>
                                        <div class="service_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 service_col">
                                    <div class="service_item">
                                        <a href="#" class="service_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/service-img1.jpg') }}" alt="">
                                        </a>
                                        <div class="service_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 service_col">
                                    <div class="service_item">
                                        <a href="#" class="service_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/service-img1.jpg') }}" alt="">
                                        </a>
                                        <div class="service_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 service_col">
                                    <div class="service_item">
                                        <a href="#" class="service_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/service-img1.jpg') }}" alt="">
                                        </a>
                                        <div class="service_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 service_col">
                                    <div class="service_item">
                                        <a href="#" class="service_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/service-img1.jpg') }}" alt="">
                                        </a>
                                        <div class="service_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 service_col">
                                    <div class="service_item">
                                        <a href="#" class="service_img">
                                            <img src="{{ url_for('static', filename='mclawassets/images/service-img1.jpg') }}" alt="">
                                        </a>
                                        <div class="service_content">
                                            <h6><a href="#">SOFTWARE DEVELOPMENT MASTER AGREEMENT (PRO-CUSTOMER)</a></h6>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>
                </div>
                {% if services %}
                <div class="tab-pane fade services_block" id="all_services" role="tabpanel" aria-labelledby="home-tab">
                    <section class="services_section4 cmn_gap padding_top" id="services">
                        <div class="container">
                            <div class="service_form">
                                <form>
                                    <div class="form_group">
                                        <input type="text" placeholder="Search Our Services">
                                    </div>
                                </form>
                            </div>

                            <div class="letter_dv">
                                <ul class="list letter_list">
                                    <li><a href="#A">A</a></li>
                                    <li><a href="#B">B</a></li>
                                    <li><a href="#C">C</a></li>
                                    <li><a href="#D">D</a></li>
                                    <li><a href="#E">E</a></li>
                                    <li><a href="#F">F</a></li>
                                    <li><a href="#G">G</a></li>
                                    <li><a href="#H">H</a></li>
                                    <li><a href="#I">I</a></li>
                                    <li><a href="#J">J</a></li>
                                    <li><a href="#K">K</a></li>
                                    <li><a href="#L">L</a></li>
                                    <li><a href="#M">M</a></li>
                                    <li><a href="#N">N</a></li>
                                    <li><a href="#O">O</a></li>
                                    <li><a href="#P">P</a></li>
                                    <li><a href="#Q">Q</a></li>
                                    <li><a href="#R">R</a></li>
                                    <li><a href="#S">S</a></li>
                                    <li><a href="#T">T</a></li>
                                    <li><a href="#U">U</a></li>
                                    <li><a href="#V">V</a></li>
                                    <li><a href="#W">W</a></li>
                                    <li><a href="#X">X</a></li>
                                    <li><a href="#Y">Y</a></li>
                                    <li><a href="#Z">Z</a></li>
                                </ul>
                            </div>
                            <div class="letter_dtls_dv">
                                <div class="letter_dtls_item" id='#A'>
                                    <div class="letter_dtls_item_top">
                                        <h5>A</h5>
                                    </div>


                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'agribusiness')}}">Agribusiness</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'antitrust_and_competition')}}">Antitrust + Competition</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">

                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'antitrust_services_for_life_sciences_companies')}}">Antitrust Services for Life Sciences Companies</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'appellate_and_supreme_court litigation')}}">Appellate and Supreme Court Litigation</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">

                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'artificial_intelligence_and_machine_learning')}}">Artificial Intelligence + Machine Learning</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#B'>
                                    <div class="letter_dtls_item_top">
                                        <h5>B</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'banking')}}">Banking</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'business_and_commercial_litigation')}}">Business + Commercial Litigation</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'buyouts_and_acquisitions')}}">Buyouts + Acquisitions</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#C'>
                                    <div class="letter_dtls_item_top">
                                        <h5>C</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'cannabis')}}">Cannabis</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'capital_markets')}}">Capital Markets</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'china')}}">China</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'class_actions')}}">Class Actions</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'cleantech')}}">CleanTech</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'complex_litigation_and_dispute_resolution')}}">Complex Litigation + Dispute Resolution</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'consumer_financial_services')}}">Consumer Financial Services</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'consumer_financial_services enforcement_and_government_investigations')}}">Consumer Financial Services Enforcement + Government Investigations</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'consumer_financial_services_litigation')}}">Consumer Financial Services Litigation</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'copyrights')}}">Copyrights</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'crowdfunding')}}">Crowdfunding</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#D'>
                                    <div class="letter_dtls_item_top">
                                        <h5>D</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'data_and_privacy_and_cybersecurity')}}">Data + Privacy + Cybersecurity</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'debt_capital_markets')}}">Debt Capital Markets</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'debt_finance')}}">Debt Finance</a></li>
                                                </ul>
                                            </div>


                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'derivatives')}}">Derivatives</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'digital_currency_and_blockchain')}}">Digital Currency + Blockchain</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'digital_health')}}">Digital Health</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'direct_listings')}}">Direct Listings</a></li>
                                                    <li><a href="{{url_for('main.services', slug = ' distressed_real_estate')}}"> Distressed Real Estate</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#E'>
                                    <div class="letter_dtls_item_top">
                                        <h5>E</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'employment_law')}}">Employment Law</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'environmental_law')}}">Environmental Law</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'erisa_and_executive_compensation')}}">ERISA + Executive Compensation</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'erisa_litigation')}}">ERISA Litigation</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'esg_and_impact')}}">ESG + Impact</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'europe')}}">Europe</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#F'>
                                    <div class="letter_dtls_item_top">
                                        <h5>F</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'fair_and_responsible_lending')}}">Fair + Responsible Lending</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'false_claims_act')}}"> False Claims Act</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'fda')}}">FDA</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'fda_litigation')}}">FDA Litigation</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'financial_industry ')}}">Financial Industry </a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'financial_industry_advisory_services')}}">Financial Industry Advisory Services</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'financial_industry_litigation')}}">Financial Industry Litigation</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'financial_industry_transactional_services')}}">Financial Industry Transactional Services</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'financial_restructuring')}}">Financial Restructuring</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'fintech')}}">Fintech</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'food_and_healthy_living')}}">Food + Healthy Living</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'foreign_corrupt_practices_act')}}">Foreign Corrupt Practices Act</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="letter_dtls_item" id='#G'>
                                    <div class="letter_dtls_item_top">
                                        <h5>G</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'gaming_and_gambling ')}}">Gaming + Gambling </a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'global_trade')}}">Global Trade</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'government_investigations_and_enforcement')}}">Government Investigations + Enforcement</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'growth_equity')}}">Growth Equity</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#H'>
                                    <div class="letter_dtls_item_top">
                                        <h5>H</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'hatch_waxman_biologics_and_biosimilars_litigation')}}">Hatch-Waxman, Biologics and Biosimilars Litigation</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'healthcare')}}">Healthcare</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'healthcare_disputes_and__investigations')}}">Healthcare Disputes + Investigations</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'healthcare_it')}}">Healthcare IT</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'healthcare_regulatory')}}">Healthcare Regulatory</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'healthcare_services')}}">Healthcare Services</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'hedge_funds')}}">Hedge Funds</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'higher_education')}}">Higher Education</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'hospitality_and_leisure')}}">Hospitality + Leisure</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#I'>
                                    <div class="letter_dtls_item_top">
                                        <h5>I</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'india')}}">India</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'insurance')}}">Insurance</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'intellectual_property')}}">Intellectual Property</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'investment_management')}}">Investment Management</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'investment_management_litigation')}}">Investment Management Litigation</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'israel')}}">Israel</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'itc_337_proceedings')}}">ITC 337 Proceedings</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#L'>
                                    <div class="letter_dtls_item_top">
                                        <h5>L</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'late_stage_drug_development')}}">Late Stage Drug Development</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'leasing')}}">Leasing</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences')}}">Life Sciences</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences_asia')}}">Life Sciences Asia</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences_collaborations_and_licensing')}}">Life Sciences Collaborations + Licensing</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences_emerging companies')}}">Life Sciences Emerging Companies</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences_europe')}}">Life Sciences Europe</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences_ipos_and_capital_markets')}}">Life Sciences IPOs + Capital Markets</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences_m_and_a')}}">Life Sciences M + A</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences_patent_prosecution_and_counseling')}}">Life Sciences Patent Prosecution + Counseling</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'life_sciences_securities litigation_and_healthcare fraud')}}">Life Sciences Securities Litigation + Healthcare Fraud</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'litigation')}}">Litigation</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id="#M">
                                    <div class="letter_dtls_item_top">
                                        <h5>M</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'medtech')}}">Medtech</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'mergers_and_acquisitions')}}">Mergers + Acquisitions</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div  class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'mining')}}">Mining</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'mortgage_banking')}}">Mortgage Banking</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#N'>
                                    <div class="letter_dtls_item_top">
                                        <h5>N</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'new_company_formation')}}">New Company Formation</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#O'>
                                    <div class="letter_dtls_item_top">
                                        <h5>O</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'opinions_and_counseling')}}">Opinions + Counseling</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#P'>
                                    <div class="letter_dtls_item_top">
                                        <h5>P</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'patent_litigation')}}">Patent Litigation</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'patent_prosecution_and_counseling')}}">Patent Prosecution + Counseling</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'patent_trial_and_appeal_board')}}">Patent Trial + Appeal Board</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'pharmaceuticals')}}">Pharmaceuticals</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'private_equity')}}">Private Equity</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'private equity asia')}}">Private Equity Asia</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'private equity france')}}">Private Equity France</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'private equity germany')}}">Private Equity Germany</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'private equity uk')}}">Private Equity UK</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'private equity us east coast')}}">Private Equity US East Coast</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'private equity us west coast')}}">Private Equity US West Coast</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'private investment funds')}}">Private Investment Funds</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'products litigation and counseling')}}">Products Litigation and Counseling</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'proposition_65_and_food_labeling_litigation')}}">Proposition 65 + Food Labeling Litigation</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'propsci')}}">Propsci</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'proptech')}}">Proptech</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'public_company_advisory')}}">Public Company Advisory</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#R'>
                                    <div class="letter_dtls_item_top">
                                        <h5>R</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'real estate acquisitions_and_dispositions')}}">Real Estate Acquisitions + Dispositions</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'real_estate_design_and_construction')}}">Real Estate Design + Construction</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'real_estate_development_and_permitting')}}">Real Estate Development + Permitting</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'real estate dispute resolution')}}">Real Estate Dispute Resolution</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'real_estate_finance_and_restructurings')}}">Real Estate Finance + Restructurings</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'real estate industry')}}">Real Estate Industry</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'real estate investment funds')}}">Real Estate Investment Funds</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'real estate joint ventures')}}">Real Estate Joint Ventures</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'real estate tax')}}">Real Estate Tax</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'reits_and_real_estate_and_m_and_a')}}">REITs and Real Estate M+A</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'risk_management_and__insurance')}}">Risk Management + Insurance</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#S'>
                                    <div class="letter_dtls_item_top">
                                        <h5>S</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'search_funds')}}">Search Funds</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'secondaries')}}">Secondaries</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'securities_and_shareholder_litigation')}}">Securities + Shareholder Litigation</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'shareholder_activism')}}">Shareholder Activism</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'special purpose acquisition companies (spacs)')}}">Special Purpose Acquisition Companies (SPACs)</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'state attorneys general')}}">State Attorneys General</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'strategic technology transactions and licensing')}}">Strategic Technology Transactions and Licensing</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#T'>
                                    <div class="letter_dtls_item_top">
                                        <h5>T</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'tax')}}">Tax</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'tax-exempt organizations')}}">Tax-Exempt Organizations</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'technology')}}">Technology</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'technology_europe')}}">Technology Europe</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'technology_m_and_a')}}">Technology M+A</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'trade secrets_employee_mobility_and_non-competes')}}">Trade Secrets, Employee Mobility + Non-Competes</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'trademarks')}}">Trademarks</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'transportation')}}">Transportation</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">

                                                    <li><a href="{{url_for('main.services', slug = 'trusts_and_estate_court_practice')}}">Trusts + Estate Court Practice</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'trusts_and_estate_planning')}}">Trusts + Estate Planning</a></li>
                                                    <li><a href="{{url_for('main.services', slug = 'trusts_and_estate_planning_advisory_services')}}">Trusts + Estate Planning Advisory Services</a></li>
                                                </ul>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#U'>
                                    <div class="letter_dtls_item_top">
                                        <h5>U</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'united_states')}}">United States</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="letter_dtls_item" id='#V'>
                                    <div class="letter_dtls_item_top">
                                        <h5>V</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'venture_capital')}}">Venture Capital</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'venture_capital_and_private_equity_funds')}}">Venture Capital + Private Equity Funds</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="letter_dtls_item" id='#W'>
                                    <div class="letter_dtls_item_top">
                                        <h5>W</h5>
                                    </div>

                                    <div class="row letter_row">
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'white_collar_defense')}}">White Collar Defense</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 letter_col">
                                            <div class="letter_item">
                                                <ul class="list letter_dtls_ul">
                                                    <li><a href="{{url_for('main.services', slug = 'womens_health_and_wellness')}}">Women's Health + Wellness</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>
                </div>
                {% endif %}
            </div>


        </div>









        <section class="get_in_touch_section cmn_gap" id="getouch">
            <div class="container">
                <div class="row get_row">
                    <div class="col-md-6 col-12 get_col">
                        <div class="get_left_box">
                            <div class="cmn_header cmn_header_aleft">
                                <h6>Get in Touch</h6>
                                <h2>Ready to work <br> together? Let's go!</h2>
                            </div>

                            <div class="get_left_txt">
                                <p>We love hearing from our clients. Send us a message and a legal representative from MC Law, PLLC will soon contact you to discuss your legal issues.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 get_col">
                        <div class="get_right_box">
                            {% include 'forms/contact_form.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

            {% include 'components/footer.html' %}
        </div>
    </main>

{% endblock %}
