{% extends "layout.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<div class="banner inner_page_banner publication_banner">
    <div class="banner_wrapper">
        <div class="container">
            <div class="banner_inner">
                <h1>{{service.title}}</h1>
                <div class="banner_form">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="publication_wrap">
    <!--
      <div class="publication_section_top">
          <button class="side_nav_bar_toggle">
              <span class="side_nav_bar_toggle_wpr">
                  <span class="arrow_down"><img src="{{ url_for('static', filename='mclawassets/images/chevron-down.svg') }}" alt="" class="arrow_down"></span>
                  <span class="close_icon"><img src="{{ url_for('static', filename='mclawassets/images/close_22.svg') }}" alt="" class="close_icon">
              </span>
          </button>

          <div class="publication_tabs">
              <div class="container">
                  <ul class="list publication_tabs_ul">
                      <li><a href="#highlights" class="active">HIGHLIGHTS</a></li>
                      <li><a href="#alerts-insigts">ALERTS & INSIGHTS</a></li>
                      <li><a href="#blogs">BLOGS</a></li>
                      <li><a href="#series-podcast">SERIES & PODCASTS</a></li>
                      <li><a href="#resources">RESOURCES</a></li>
                      <li><a href="#news-events">NEWS & EVENTS</a></li>
                      <li><a href="#">CASE STUDIES</a></li>
                  </ul>

              </div>
          </div>
      </div> -->

    <div class="publication_section_top_outer">
        <div class="publication_section_top">
            <!-- <div class="container"> -->

            <button class="side_nav_bar_toggle">
            <span class="side_nav_bar_toggle_wpr">
              <span class="arrow_down"
              ><img
                      src="{{ url_for('static', filename='mclawassets/images/chevron-down.svg') }}"
                      alt=""
                      class="arrow_down"
              /></span>
              <span class="close_icon"
              ><img
                      src="{{ url_for('static', filename='mclawassets/images/close_22.svg') }}"
                      alt=""
                      class="close_icon"
              /></span>
            </span>
            </button>

            <div class="publication_tabs">
                <div class="container">
                    <ul class="list publication_tabs_ul">
                        <li><a href="#highlights" class="active">HIGHLIGHTS</a></li>
                        <li><a href="#alerts-insigts">ALERTS & INSIGHTS</a></li>
                        <li><a href="#blogs">BLOGS</a></li>
                        <li><a href="#series-podcast">SERIES & PODCASTS</a></li>
                        <li><a href="#resources">RESOURCES</a></li>
                        <li><a href="#news-events">NEWS & EVENTS</a></li>
                        <li><a href="#">CASE STUDIES</a></li>
                    </ul>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <section class="profetionals_profile_section">
        <!-- <div class="container"> -->
        <div class="profetionals_profile_inner">

            <div class="profetionals_profile_content">
                <div class="container">
                    <div class="prof_text">
                        <p>{{service.overview | safe }}</p>



                    </div>
                    <div class="moretext">
                        <p> </p>


                    </div>
                    <a href="javascript:void(0)" class="read_more_btn">Read More</a>
                </div>
            </div>

            <div class="area_parctice_box">
                <div class="container">
                    <div class="row area_parctice_row">
                        <div class="col-lg-4 co-12 area_parctice_col">
                            <div class="cmn_header">
                                <h4>RELATED PRACTICES</h4>
                            </div>
                        </div>
                        <div class="col-lg-8 co-12 area_parctice_col">
                            <ul class="list area_practice_ul">
                                <li><a href="#">Technical Experience</a></li>
                                <li><a href="#">Patent Litigation</a></li>
                                <li><a href="#">Trademark Litigation</a></li>
                                <li><a href="#">Strategic Technology Transactions and Licensing</a></li>
                                <li><a href="#">Higher Education</a></li>
                                <li><a href="#">Fintech</a></li>
                                <li><a href="#">Appellate and Supreme Court Litigation</a></li>
                                <li><a href="#">Trademark Trial + Appeal Board</a></li>
                                <li><a href="#">Complex Litigation + Dispute Resolution</a></li>
                                <li><a href="#">Intellectual Property</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Trademark Prosecution + Counseling</a></li>
                                <li><a href="#">Artificial Intelligence + Machine Learning</a></li>
                                <li><a href="#">Data Privacy</a></li>
                                <li><a href="#">Internet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="experience_box" id="experience">
                <div class="container">
                    <div class="cmn_header cmn_header_aleft">
                        <h2>EXPERIENCE</h2>
                    </div>
                    <p>Mr. McKay's experience includes the following: </p>

                    <div class="prof_text">
                        <ul class="list dotted_ul">
                            <li>Represented companies in complex IP disputes, including trademark, copyright, and patent litigation.</li>
                            <li>Defending ecommerce companies in copyright infringement litigation.</li>
                            <li>Judicial Intern for Chief Federal Judge Jon Phipps McCalla for the U.S. District Court—Western District of Tennessee.</li>
                            <li>Judicial intern for Federal Magistrate Judge Mike Parker for the U.S. District Court—Southern District of Mississippi.  </li>
                        </ul>
                    </div>
                    <div class="moretext">
                        <ul class="list dotted_ul">
                            <li>Representing a designer lighting company in a case involving trademark infringement, unfair competition, false designation of origin, and dilution and tarnishment.</li>

                        </ul>
                    </div>

                    <a href="javascript:void(0)" class="read_more_btn">Read More</a>
                </div>
            </div>-->

            <div class="representative_box">
                <div class="container">
                    <div class="cmn_header cmn_header_aleft">
                        <h4>REPRESENTATIVE MATTERS</h4>
                    </div>
                    <div class="acc_container">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Trademark Disputes
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Mr. McKay has experience in trademark litigation, both in federal court and before the Trademark Trial & Appeal Board, patent, copyright, trade secret and false advertising litigation. His recent experience includes representing:</p>
                                        <ul>
                                            <li>Multiple ecommerce businesses in defense of false advertising class actions</li>
                                            <li>Multiple software companies in enforcing and defending copyright claims</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        BUSINESS DISPUTES
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Mr. McKay has experience in a broad range of business litigation and arbitration, with a particular focus on disputes for technology and life sciences companies arising under licenses, joint development agreements, and supply, manufacturing and quality agreements. His recent experience includes representing:</p>
                                        <ul>
                                            <li>Multiple blockchain companies in assessing whether a token will be considered a security or commodity.</li>
                                            <li>Multiple software companies in enforcing and defending copyright claims</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        COPYRIGHT DISPUTES
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Mr. McKay has experience in copyright litigation, both in federal court and state court. His recent experience includes representing:</p>
                                        <ul>
                                            <li>Multiple ecommerce businesses in filing actions against foreign companies infringing copyrights.</li>
                                            <li>Multiple software companies in enforcing and defending copyright claims</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        COMPETITOR LITIGATION
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, et, voluptates voluptatum placeat facere architecto aspernatur molestiae, quisquam ad non illo iusto voluptas sunt id magnam obcaecati deleniti nam. Voluptatibus ipsa, mollitia esse, consequuntur commodi illum officia praesentium saepe quas fuga perferendis nemo numquam consequatur deserunt eum vitae? Maiores dignissimos illum autem iste possimus iusto incidunt ut deleniti fuga numquam!</p>
                                    </div>
                                </div>
                            </div>-->

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        TRADEMARK TRIAL AND APPEAL BOARD
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Mr. McKay has experience in trademark litigation, both in federal court and before the Trademark Trial. His recent experience includes representing:</p>
                                        <ul>
                                            <li>Multiple ecommerce businesses in filing actions against foreign trademark infringers.</li>
                                            <li>Multiple software companies in enforcing and defending trademark claims</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        AMICUS BRIEFS
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, et, voluptates voluptatum placeat facere architecto aspernatur molestiae, quisquam ad non illo iusto voluptas sunt id magnam obcaecati deleniti nam. Voluptatibus ipsa, mollitia esse, consequuntur commodi illum officia praesentium saepe quas fuga perferendis nemo numquam consequatur deserunt eum vitae? Maiores dignissimos illum autem iste possimus iusto incidunt ut deleniti fuga numquam!</p>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="profetional_activities_box">
                <div class="container">
                    <div class="cmn_header cmn_header_aleft">
                        <h4>PROFESSIONAL ACTIVITIES</h4>
                        <p>In his previous career, Mr. McKay worked for multiple technology companies as a backend software engineer.</p>
                    </div>
                </div>
            </div>-->
        </div>
    </section>

    <section class="publication_section">
        <div class="publication_box" id="highlights">
            <div class="container">
                <div class="cmn_header cmn_header_aleft">
                    <h2>HIGHLIGHTS</h2>
                    <span class="all_topics">All Topics</span>
                </div>

                <!-- new  -->

                <div class="slider publication_slider highlights_slider">
                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img1.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title">
                                        COPYRIGHT VS. TRADEMARK VS. PATENT</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img2.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--OBTAINING PROTECTION AND
                                        LICENSING</a
                                    >
                                </h5>
                            </div>

                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img3.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img1.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >COPYRIGHT REGISTRATION OF PHOTOGRAPHS</a
                                    >
                                </h5>
                            </div>

                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img1.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title">
                                        COPYRIGHT VS. TRADEMARK VS. PATENT</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img2.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--OBTAINING PROTECTION AND
                                        LICENSING</a
                                    >
                                </h5>
                            </div>

                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img3.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img1.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >COPYRIGHT REGISTRATION OF PHOTOGRAPHS</a
                                    >
                                </h5>
                            </div>

                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb_bttm_btn">
                    <a href="#" class="cmn_btn dark_btn">View More</a>
                </div>
            </div>
        </div>

        <div class="publication_box" id="alerts-insigts">
            <div class="container">
                <div class="cmn_header cmn_header_aleft">
                    <h2>ALERTS & INSIGHTS</h2>
                </div>
                <div class="slider publication_slider insights_slider">
                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBSTANTIVE STANDARDS FOR
                                        PROTECTION</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >LEGAL RESEARCH GUIDE-- CASE LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >DRAFTING A TRADEMARK CEASE AND DESIST LETTER</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--INFRINGEMENT AND RELATED RIGHTS
                                        UNDER TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBSTANTIVE STANDARDS FOR
                                        PROTECTION</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >LEGAL RESEARCH GUIDE-- CASE LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >DRAFTING A TRADEMARK CEASE AND DESIST LETTER</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--INFRINGEMENT AND RELATED RIGHTS
                                        UNDER TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBSTANTIVE STANDARDS FOR
                                        PROTECTION</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >LEGAL RESEARCH GUIDE-- CASE LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >DRAFTING A TRADEMARK CEASE AND DESIST LETTER
                                    </a>
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--INFRINGEMENT AND RELATED RIGHTS
                                        UNDER TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBSTANTIVE STANDARDS FOR
                                        PROTECTION</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >LEGAL RESEARCH GUIDE-- CASE LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >DRAFTING A TRADEMARK CEASE AND DESIST LETTER
                                    </a>
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--INFRINGEMENT AND RELATED RIGHTS
                                        UNDER TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb_bttm_btn">
                    <a href="#" class="cmn_btn dark_btn">View More</a>
                </div>
            </div>
        </div>

        <!--<div class="publication_box" id="blogs">
            <div class="container">
                <div class="cmn_header cmn_header_aleft">
                    <h2>BLOGS</h2>
                    <p>A deep dive into current issues</p>
                </div>
                <div class="slider blog_slider">
                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW&#45;&#45;SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW&#45;&#45;SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW&#45;&#45;SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW&#45;&#45;SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW&#45;&#45;SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW&#45;&#45;SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW&#45;&#45;SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW&#45;&#45;SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sign_up_box">
                    <div class="row sign_up_row">
                        <div class="col-lg-3 col-md-4 col-12 sign_up_col">
                            <div class="sign_up_item">
                                <div class="cmn_small_header">
                                    <h6>Stay Connected</h6>
                                    <h3>Subscribe to MC Law Updates:</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-3 col-12 sign_up_col">
                            <div class="sign_up_item">
                                <ul class="list sign_up_ul">
                                    <li>Industry Alerts</li>
                                    <li>Blog Digests</li>
                                    <li>Firm Announcements</li>
                                    <li>Events + Webinars</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-5 col-12 sign_up_col">
                            <div class="sign_up_item">
                                <ul class="list social_ul">
                                    <li>
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                    </li>
                                </ul>
                                <a href="#" class="cmn_btn dark_btn"
                                >Sign Up for Mc Law Updates</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="publication_box" id="series-podcast">
            <div class="container">
                <div class="cmn_header cmn_header_aleft">
                    <h2>SERIES & PODCASTS</h2>
                    <p>Ongoing updates + reports</p>
                </div>
                <div class="row podcast_row">
                    <div class="col-lg-6 col-12 podcast_col">
                        <div class="podcast_item">
                            <figure class="podcast_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img6.jpg') }}" alt="" />
                            </figure>
                            <div class="podcast_content">
                                <h5>
                                    Maecenas arcu nulla, varius nec feugiat sed mattis quis
                                    dui.
                                </h5>
                                <p>
                                    Integer interdum libero a tellus vulputate, et ornare nisi
                                    eleifend. Praesent efficitur fringilla orci, non eleifend
                                    ante fermentum vel. Praesent ac euismod mi. Mauris dolor
                                    metus, pellentesque sit amet urna quis, aliquam varius
                                    ligula. Vestibulum eu nibh vulputate, aliquet tortor non,
                                    luctus velit. Phasellus sapien diam, dignissim et
                                    dignissim in, malesuada ac quam.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 podcast_col">
                        <div class="podcast_item">
                            <figure class="podcast_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img7.jpg') }}" alt="" />
                            </figure>
                            <div class="podcast_content">
                                <h5>
                                    Maecenas arcu nulla, varius nec feugiat sed mattis quis
                                    dui.
                                </h5>
                                <p>
                                    Integer interdum libero a tellus vulputate, et ornare nisi
                                    eleifend. Praesent efficitur fringilla orci, non eleifend
                                    ante fermentum vel. Praesent ac euismod mi. Mauris dolor
                                    metus, pellentesque sit amet urna quis, aliquam varius
                                    ligula. Vestibulum eu nibh vulputate, aliquet tortor non,
                                    luctus velit. Phasellus sapien diam, dignissim et
                                    dignissim in, malesuada ac quam.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 podcast_col">
                        <div class="podcast_item">
                            <figure class="podcast_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img8.jpg') }}" alt="" />
                            </figure>
                            <div class="podcast_content">
                                <h5>
                                    Maecenas arcu nulla, varius nec feugiat sed mattis quis
                                    dui.
                                </h5>
                                <p>
                                    Integer interdum libero a tellus vulputate, et ornare nisi
                                    eleifend. Praesent efficitur fringilla orci, non eleifend
                                    ante fermentum vel. Praesent ac euismod mi. Mauris dolor
                                    metus, pellentesque sit amet urna quis, aliquam varius
                                    ligula. Vestibulum eu nibh vulputate, aliquet tortor non,
                                    luctus velit. Phasellus sapien diam, dignissim et
                                    dignissim in, malesuada ac quam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 podcast_col">
                        <div class="podcast_item">
                            <figure class="podcast_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img9.jpg') }}" alt="" />
                            </figure>
                            <div class="podcast_content">
                                <h5>
                                    Maecenas arcu nulla, varius nec feugiat sed mattis quis
                                    dui.
                                </h5>
                                <p>
                                    Integer interdum libero a tellus vulputate, et ornare nisi
                                    eleifend. Praesent efficitur fringilla orci, non eleifend
                                    ante fermentum vel. Praesent ac euismod mi. Mauris dolor
                                    metus, pellentesque sit amet urna quis, aliquam varius
                                    ligula. Vestibulum eu nibh vulputate, aliquet tortor non,
                                    luctus velit. Phasellus sapien diam, dignissim et
                                    dignissim in, malesuada ac quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="publication_box" id="resources">
            <div class="container">
                <div class="cmn_header cmn_header_aleft">
                    <h2>RESOURCES</h2>
                    <p>In-depth reports + tools</p>
                </div>

                <!-- new  -->

                <div class="slider publication_slider resource_slider">
                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <a href="#" class="pb_img">
                                <img src="{{ url_for('static', filename='mclawassets/images/publication-img5.jpg') }}" alt="" />
                            </a>
                            <div class="pb_content">
                                <p class="pb_tag">
                                    <span>Intellectual Property and Technology Blog</span>
                                    <a href="#" class="share_icon"
                                    ><img src="{{ url_for('static', filename='mclawassets/images/share-icon.svg') }}" alt=""
                                    /></a>
                                </p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBJECT MATTER OF TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="publication_box" id="news-events">
            <div class="container">
                <div class="cmn_header cmn_header_aleft">
                    <h2>NEWS & EVENTS</h2>
                </div>

                <!-- new  -->

                <div class="slider publication_slider news_slider">
                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBSTANTIVE STANDARDS FOR
                                        PROTECTION</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >LEGAL RESEARCH GUIDE-- CASE LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >DRAFTING A TRADEMARK CEASE AND DESIST LETTER
                                    </a>
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--INFRINGEMENT AND RELATED RIGHTS
                                        UNDER TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--SUBSTANTIVE STANDARDS FOR
                                        PROTECTION</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >LEGAL RESEARCH GUIDE-- CASE LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >DRAFTING A TRADEMARK CEASE AND DESIST LETTER
                                    </a>
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_item">
                            <div class="pb_content">
                                <p class="pb_tag"><span>MC Law Insights</span></p>
                                <h5>
                                    <a href="#" class="pb_title"
                                    >TRADEMARK OVERVIEW--INFRINGEMENT AND RELATED RIGHTS
                                        UNDER TRADEMARK LAW</a
                                    >
                                </h5>
                            </div>
                            <div class="pb_content_bttm">
                                <p class="pb_date">
                                    <i
                                    ><img src="{{ url_for('static', filename='mclawassets/images/calender-icon.svg') }}" alt=""
                                    /></i>
                                    <span>May 03, 2022</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
<!--
                <div class="pb_bttm_btn">
                    <a href="#" class="cmn_btn dark_btn">View More News</a>
                </div>-->

                <!-- new  -->

                <!--<div class="slider publication_slider date_slider">
                    <div class="publication_slider_item">
                        <div class="pb_news_item">
                            <div class="pb_news_content">
                                <h5 class="date_lg">09 JUN - 12 JUN</h5>
                                <p>
                                    Consensus 2022: The Festival for the Decentralized World
                                </p>
                                <a href="#" class="view_more_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_news_item">
                            <div class="pb_news_content">
                                <h5 class="date_lg">09 JUN - 12 JUN</h5>
                                <p>
                                    Consensus 2022: The Festival for the Decentralized World
                                </p>
                                <a href="#" class="view_more_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_news_item">
                            <div class="pb_news_content">
                                <h5 class="date_lg">09 JUN - 12 JUN</h5>
                                <p>
                                    Consensus 2022: The Festival for the Decentralized World
                                </p>
                                <a href="#" class="view_more_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_news_item">
                            <div class="pb_news_content">
                                <h5 class="date_lg">09 JUN - 12 JUN</h5>
                                <p>
                                    Consensus 2022: The Festival for the Decentralized World
                                </p>
                                <a href="#" class="view_more_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_news_item">
                            <div class="pb_news_content">
                                <h5 class="date_lg">09 JUN - 12 JUN</h5>
                                <p>
                                    Consensus 2022: The Festival for the Decentralized World
                                </p>
                                <a href="#" class="view_more_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_news_item">
                            <div class="pb_news_content">
                                <h5 class="date_lg">09 JUN - 12 JUN</h5>
                                <p>
                                    Consensus 2022: The Festival for the Decentralized World
                                </p>
                                <a href="#" class="view_more_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_news_item">
                            <div class="pb_news_content">
                                <h5 class="date_lg">09 JUN - 12 JUN</h5>
                                <p>
                                    Consensus 2022: The Festival for the Decentralized World
                                </p>
                                <a href="#" class="view_more_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="publication_slider_item">
                        <div class="pb_news_item">
                            <div class="pb_news_content">
                                <h5 class="date_lg">09 JUN - 12 JUN</h5>
                                <p>
                                    Consensus 2022: The Festival for the Decentralized World
                                </p>
                                <a href="#" class="view_more_btn">View More</a>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="pb_bttm_btn">
                    <a href="#" class="cmn_btn dark_btn">View More News</a>
                </div>
            </div>
        </div>
    </section>
</div>






{% include 'components/footer.html' %}

{% endblock %}