

{% extends "layout-light.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    {% include 'include/breadcrumbs-light.html' %}

    <!-- BEGIN: PAGE CONTENT -->


    <!-- BEGIN: CONTENT/SLIDERS/TEAM-2 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-person-1-slider" data-slider="owl">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1 wow animated fadeIn">
                    <h3 class="c-center c-font-uppercase c-font-bold">Meet The Team</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->

                <!-- Begin: Owlcarousel -->
                <div class="owl-carousel owl-theme c-theme c-owl-nav-center wow animated fadeInUp" data-items="3" data-slide-speed="8000" data-rtl="false">
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="{{ url_for('main.team', name_slug='casey-scott-mckay') }}"><i class="icon-link"></i></a>
                                    <a href="{{ url_for('static', filename='assets/images/casey_scott_mckay_team_profile.jpg') }}" data-lightbox="fancybox" data-fancybox-group="gallery-2">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </div>
                            </div>
                            <img src="{{ url_for('static', filename='assets/images/casey_scott_mckay_team_profile.jpg') }}" class="img-responsive c-overlay-object" alt="">
                        </div>
                        <div class="c-body">
                            <div class="c-head">
                                <div class="c-name c-font-uppercase c-font-bold">Casey Scott McKay</div>
                                <ul class="c-socials c-theme-ul">
                                    <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <div class="c-position">
                                Partner
                            </div>
                            <p>
                                Intellectual Property and Technology
                            </p>
                        </div>
                    </div>
                    <!--
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="#"><i class="icon-link"></i></a>
                                    <a href="../../assets/base/img/content/team/team9.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-2">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </div>
                            </div>
                            <img src="../../assets/base/img/content/team/team9.jpg" class="img-responsive c-overlay-object" alt="">
                        </div>
                        <div class="c-body">
                            <div class="c-head">
                                <div class="c-name c-font-uppercase c-font-bold">Mary Jane</div>
                                <ul class="c-socials c-theme-ul">
                                    <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <div class="c-position">
                                Paralegal
                            </div>
                            <p>
                               Copyrights, Trademarks, and Patents
                            </p>
                        </div>
                    </div>
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="#"><i class="icon-link"></i></a>
                                    <a href="../../assets/base/img/content/team/team7.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-2">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </div>
                            </div>
                            <img src="../../assets/base/img/content/team/team7.jpg" class="img-responsive c-overlay-object" alt="">
                        </div>
                        <div class="c-body">
                            <div class="c-head">
                                <div class="c-name c-font-uppercase c-font-bold">Beard Mcbeardson</div>
                                <ul class="c-socials c-theme-ul">
                                    <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <div class="c-position">
                                CTO, JANGO Inc.
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, dolor nemo amet elit.
                                Nulla nemo consequuntur.
                            </p>
                        </div>
                    </div>
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="#"><i class="icon-link"></i></a>
                                    <a href="../../assets/base/img/content/team/team11.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-2">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </div>
                            </div>
                            <img src="../../assets/base/img/content/team/team11.jpg" class="img-responsive c-overlay-object" alt="">
                        </div>
                        <div class="c-body">
                            <div class="c-head">
                                <div class="c-name c-font-uppercase c-font-bold">Sara Conner</div>
                                <ul class="c-socials c-theme-ul">
                                    <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <div class="c-position">
                                Director, JANGO Inc.
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, dolor nemo amet elit.
                                Nulla nemo consequuntur.
                            </p>
                        </div>
                    </div>
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="#"><i class="icon-link"></i></a>
                                    <a href="../../assets/base/img/content/team/team12.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-2">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </div>
                            </div>
                            <img src="../../assets/base/img/content/team/team12.jpg" class="img-responsive c-overlay-object" alt="">
                        </div>
                        <div class="c-body">
                            <div class="c-head">
                                <div class="c-name c-font-uppercase c-font-bold">Jim Book</div>
                                <ul class="c-socials c-theme-ul">
                                    <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <div class="c-position">
                                Director, JANGO Inc.
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, dolor nemo amet elit.
                                Nulla nemo consequuntur.
                            </p>
                        </div>
                    </div>-->
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div><!-- END: CONTENT/SLIDERS/TEAM-2 -->

    <!-- BEGIN: CONTENT/MISC/ABOUT-1 -->
    <!--<div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow animated fadeInLeft">
                    &lt;!&ndash; Begin: Title 1 component &ndash;&gt;
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold">About us</h3>
                        <div class="c-line-left c-theme-bg"></div>
                    </div>
                    &lt;!&ndash; End&ndash;&gt;
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerci et tation diam nisl ut aliquip ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam. </p>
                    <ul class="c-content-list-1 c-theme  c-font-uppercase">
                        <li>Perfect Design interface</li>
                        <li>Huge Community</li>
                        <li>Support for Everyone</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                </div>
                <div class="col-sm-6 wow animated fadeInRight">
                    <div class="c-content-client-logos-1">
                        &lt;!&ndash; Begin: Title 1 component &ndash;&gt;
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">Our Clients</h3>
                            <div class="c-line-left c-theme-bg"></div>
                        </div>
                        &lt;!&ndash; End&ndash;&gt;
                        <div class="c-logos">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 c-logo c-logo-1">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client1.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-2">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client2.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-3">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client3.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-4">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client4.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-5">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client5.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-6">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client6.jpg" alt=""/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div><!-- END: CONTENT/MISC/ABOUT-1 -->

<!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-4 -->
<div class="c-content-box c-size-lg c-bg-img-center c-bg-parallax" style="background-image: url({{url_for('static', filename='assets/base/img/content/backgrounds/bg-100.jpg')}})">
    <div class="container">
        <div class="wow fadeIn">
            <form action="{{url_for('main.contact') }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate c-content-subscribe-form-4" target="_blank" novalidate>
                <input id="email" type="email" name="email" class="form-control input-lg c-content-subscribe-form-input email" placeholder="Enter Email to Inquire" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="" tabindex="-1" value=""></div>
                <span class="input-group-btn c-content-subscribe-form-btn">
					<button type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="btn c-btn"><img src="{{url_for('static', filename='assets/base/img/content/misc/subscribe-button2.png')}}"/></button>
				</span>
            </form>
        </div>
    </div>
</div><!-- END: CONTENT/MISC/SUBSCRIBE-FORM-4 -->

    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
{% endblock %}