

{% extends "layout-light.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">

    <!-- BEGIN: PAGE CONTENT -->

    <!-- BEGIN: CONTENT/MISC/WHY-CHOOSE-US-1 -->
    <div class="c-content-box c-size-lg c-bg-grey-1">
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-md-5">
                        <div class="c-content-feature-5">
                            <!--<div class="c-content-title-1 wow amimate fadeInDown">
                                <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">Casey Scott McKay</h3>
                                <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                            </div>
                           <div class="c-text wow animate fadeInLeft">
                                Principal
                            </div>
                            <button type="submit" class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn">Learn More</button>-->
                            <img class="c-photo img-responsive wow animate fadeInUp" width="180" height="300" alt="" src="{{ url_for('static', filename='assets/images/casey_scott_mckay_team_profile.jpg') }}"/>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="c-content-accordion-1 c-theme wow animate fadeInRight">
                            <div class="panel-group" id="accordion" role="tablist">
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a class="c-font-bold c-font-uppercase c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Casey Scott McKay
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body c-font-18">
                                            <ul>
                                                <li>Washington, DC</li>
                                                <li>202.743.1973</li>
                                                <li>casey@mclaw.io</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="panel">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Modern Design Trends
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body c-font-18">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Beatifully Crafted Code
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body c-font-18">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/WHY-CHOOSE-US-1 -->
    <!-- BEGIN: CONTENT/TABS/TAB-1 -->
    <div class="c-content-box c-size-md c-no-bottom-padding c-overflow-hide">
        <div class="c-container">
            <!--<div class="row">
                <div class="col-md-12">
                    <div class="c-content-title-1">
                        <h3 class="c-font-34 c-font-center c-font-bold c-font-uppercase c-margin-b-30">
                            JANGO'S Main Features
                        </h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-12">
                    <div class="c-content-tab-2 c-theme c-opt-1">
                        <ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
                            <li class="active">
                                <a href="#c-tab2-opt1-1" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-25"></span>
                                    <span class="c-title">Overview</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                            <li>
                                <a href="#c-tab2-opt1-2" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-19"></span>
                                    <span class="c-title">Education</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                            <li>
                                <a href="#c-tab2-opt1-3" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-14"></span>
                                    <span class="c-title">Experience</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                            <li>
                                <a href="#c-tab2-opt1-4" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-20"></span>
                                    <span class="c-title">Insights</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                            <li>
                                <a href="#c-tab2-opt1-5" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-33"></span>
                                    <span class="c-title">Practices</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                        </ul>
                        <div class="c-tab-content">
                            <div class="c-bg-img-center1" style="background-image: url(../../assets/base/img/content/backgrounds/bg-62.jpg)">
                                <div class="container">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="c-tab2-opt1-1">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="{{ url_for('static', filename='assets/base/img/content/stock2/3.jpg') }}" alt=""/>

                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">About Casey McKay</h4>

                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">

                                                  Casey Scott McKay is a principal in the Washington DC office of MC Law. His practice focuses on complex patent litigation, with an emphasis on software and hardware.  Casey has worked on a variety of technologies, including, for example, machine learning, block-chain, and networking. He has experience in all phases of litigation, including pre-filing due diligence, document collection and production, fact and expert discovery, depositions, discovery hearings, claim construction hearings, and trial.



                                                    Prior to joining MC Law, Casey was an intellectual property litigation associate for another firm where his practice focused on patent infringement cases.

                                                </p>

                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                                                    Learn More
                                                </button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="c-tab2-opt1-2">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="{{ url_for('static', filename='assets/base/img/content/stock2/04.jpg') }}" alt=""/>



                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                                   <ul>
                                                <li><strong>Juris Doctor, Magna Cum Laude</strong><br>                                                                          University of Mississippi School of Law, Oxford, MS</li>
                                                <ul>


                                                    <li>Mississippi Law Journal, Executive Board</li>
                                                    <li>Mississippi Law Journal Case Note Writing Award. Mississippi Bar Intellectual Property Award. Am Jur Awards: Civil Procedure, Torts I & II, Constitutional Law Forum, and IP Law</li>
                                                    </ul>

                                                <li><strong>Bachelor of Science in Computer Science</strong><br>                                           University of Mississippi, Oxford, MS</li><ul>    <li>100+ hours complete (initially pursuing masters program, but started a job in DC)</li></ul>

                                                <li><strong>Bachelor of Art in Anthropology, Magna Cum Laude</strong><br>
                                                    Mississippi State University, Starkville, MS</li>
                                            </ul>
                                                </p>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                                                    EXPLORE
                                                </button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="c-tab2-opt1-3">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="{{ url_for('static', filename='assets/base/img/content/stock2/5.jpg') }}" alt=""/>



                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                   <ul>
                                                Fannie Mae, Washington, D.C. 2020-Present
                                                Software Engineer
                                                •Technologies: Java, Python, SQL, AWS (EC2, Elastic Beanstalk, Lambda, S3, RDS)• Cyber and Information Security (Identity and Access Governance)
                                                Capital Technology Group, Washington, D.C. 2019-2020
                                                Full-Stack Software Engineer
                                                •Technologies: Java, Javascript, React, Python, Jupyter, Elasticsearch, MySql, Docker, AWS• Built celebrity bio-metrics application using NLP and machine learning and REST applications using Spring Boot and React
                                                Thunken, Inc., Washington, D.C. 2017-2019
                                                Backend Software Developer
                                                •Technologies: Java, Spring, Weka, Selenium, Maven, MySQL, Elasticsearch, php, Docker• Data science, natural language processing, and machine learning consulting• Built machine learning tool using Java Weka to predict identifiers from URIs• Built keyword generator for technology licensing descriptions using RAKE algorithm
                                                C.S. McKay Law, Memphis, TN 2016-2018
                                                Lawyer• Intellectual property and technology
                                                The Tollison Law Firm, Oxford, MS 2012-2016
                                                Lawyer• Civil litigation, corporate, and business law, pretrial and motion practice, briefs
                                                The Kullman Law Firm, New Orleans, LA 2013
                                                Lawyer• Labor and employment law: motions, summary judgments, and preparing discovery
                                                U.S. District Court—Western District of Tennessee 2012
                                                Judicial Intern for Chief Federal Judge Jon Phipps McCalla• Prepared memorandums and orders on business disputes and jurisdiction
                                                U.S. District Court—Southern District of Mississippi 2012
                                                Judicial Intern for Federal Magistrate Judge Mike Parker • Drafted court opinions, reports and recommendations, and orders

                                            </ul>
                                                </p>
                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Presentations</h4>
                                                <ul>
                                                    <li>Presenter—CLE, Trademark Law & Unfair Competition, eLearn Law (2015)</li>
                                                </ul>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                                                    EXPLORE
                                                </button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="c-tab2-opt1-4">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="{{ url_for('static', filename='assets/base/img/content/stock2/06.jpg') }}" alt=""/>

                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Publications</h4>

                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                                <ul>
                                                    <li>Casey Scott McKay, Note, Constitutional Law—The Plea-Bargaining Process—Mr. Counsel, Please Bargain Effectively for Your Client’s Sixth Amendment Rights, Otherwise the Trial Court Will be Forced to Reoffer the Plea Deal and Then Exercise Discretion in Resentencing, 82 Miss. L.J. 731 (April 2013)</li>
                                                    <li>Casey Scott McKay, Tactics, Strategies & Battles—Oh My!: Perseverance of the Perpetual Problem Pertaining to Preaching to Public School Pupils & Why it Persists, 8 U. MASS. L. REV. 442 (2013)</li>
                                                    <li>Casey Scott McKay, Fishin’ with Fisher: Determining the Depth of Deference Does Not Demand Dealing Deference a Deathly Decker, 83 Miss. L.J. 949 (May 2014)</li>
                                                    <li>Casey Scott McKay and Luc Boruta, Legal Citation Analysis with CourtListener and Cobaltmetrics, (2019)</li>

                                                </ul>
                                                </p>
                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Presentations</h4>
                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">

                                                <ul>
                                                    <li>Presenter—CLE, Trademark Law & Unfair Competition, eLearn Law (2015)</li>
                                                </ul>
                                                </p>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                                                    EXPLORE
                                                </button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="c-tab2-opt1-5">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="{{ url_for('static', filename='assets/base/img/content/stock2/6.jpg') }}" alt=""/>

                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Practices</h4>

                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                                    Intellectual Property and Technology
                                                </p>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                                                    EXPLORE
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- END: CONTENT/TABS/TAB-1 -->



    <!-- BEGIN: CONTENT/MISC/SERVICES-2 -->
    <!--
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-feature-2-grid">
                <div class="c-content-title-1 wow animated fadeIn">
                    <h3 class="c-font-uppercase c-font-bold">Services We Do</h3>
                    <div class="c-line-left"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover wow animated fadeInUp">
                            <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                <div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
                            </div>
                            <h3 class="c-font-uppercase c-title">Web Design</h3>
                            <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover wow animated fadeInUp">
                            <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                <div class="c-content-line-icon c-theme c-icon-support"></div>
                            </div>
                            <h3 class="c-font-uppercase c-title">Mobile Apps</h3>
                            <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover wow animated fadeInUp">
                            <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                <div class="c-content-line-icon c-theme c-icon-comment"></div>
                            </div>
                            <h3 class="c-font-uppercase c-title">Consulting</h3>
                            <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover wow animated fadeInUp">
                            <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                <div class="c-content-line-icon c-theme c-icon-bulb"></div>
                            </div>
                            <h3 class="c-font-uppercase c-title">Campaigns</h3>
                            <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover wow animated fadeInUp">
                            <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                <div class="c-content-line-icon c-theme c-icon-sticker"></div>
                            </div>
                            <h3 class="c-font-uppercase c-title">UX Design</h3>
                            <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover wow animated fadeInUp">
                            <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                <div class="c-content-line-icon c-theme c-icon-globe"></div>
                            </div>
                            <h3 class="c-font-uppercase c-title">Hosting</h3>
                            <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    -->
    <!-- END: CONTENT/MISC/SERVICES-2 -->

    <!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-4 -->
    <div class="c-content-box c-size-lg c-bg-img-center c-bg-parallax" style="background-image: url({{url_for('static', filename='assets/base/img/content/backgrounds/bg-100.jpg')}})">
        <div class="container">
            <div class="wow fadeIn">
                <form action="{{url_for('main.contact') }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate c-content-subscribe-form-4" target="_blank" novalidate>
                    <input id="email" type="email" name="email" class="form-control input-lg c-content-subscribe-form-input email" placeholder="Enter Email to Inquire" required>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="" tabindex="-1" value=""></div>
                    <span class="input-group-btn c-content-subscribe-form-btn">
					<button type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="btn c-btn"><img src="{{url_for('static', filename='assets/base/img/content/misc/subscribe-button2.png')}}"/></button>
				</span>
                </form>
            </div>
        </div>
    </div><!-- END: CONTENT/MISC/SUBSCRIBE-FORM-4 -->

    <!-- BEGIN: CONTENT/MISC/ABOUT-1 -->

    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow animated fadeInLeft">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold">About us</h3>
                        <div class="c-line-left c-theme-bg"></div>
                    </div>
                    <!-- End-->
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerci et tation diam nisl ut aliquip ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam. </p>
                    <ul class="c-content-list-1 c-theme  c-font-uppercase">
                        <li>Perfect Design interface</li>
                        <li>Huge Community</li>
                        <li>Support for Everyone</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                </div>
                <div class="col-sm-6 wow animated fadeInRight">
                    <div class="c-content-client-logos-1">
                        <!-- Begin: Title 1 component -->
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">Our Clients</h3>
                            <div class="c-line-left c-theme-bg"></div>
                        </div>
                        <!-- End-->
                        <div class="c-logos">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 c-logo c-logo-1">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client1.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-2">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client2.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-3">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client3.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-4">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client4.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-5">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client5.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-4 col-xs-6 c-logo c-logo-6">
                                    <a href="#"><img class="c-img-pos" src="../../assets/base/img/content/client-logos/client6.jpg" alt=""/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END: CONTENT/MISC/ABOUT-1 -->

    <!-- BEGIN: CONTENT/TESTIMONIALS/TESTIMONIALS-2 -->
    <div class="c-content-box c-size-lg c-bg-white">
        <div class="container">
            <!-- Begin: testimonials 1 component -->
            <div class="c-content-testimonials-1 c-option-2 wow animated fadeIn" data-slider="owl">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Our Satisfied Customers</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->

                <!-- Begin: Owlcarousel -->

                <div class="owl-carousel owl-theme c-theme c-owl-nav-center wow animated fadeInUp" data-single-item="true" data-slide-speed="8000" data-rtl="false">
                    <div class="item">
                        <div class="c-testimonial">
                            <p>
                                “JANGO is an international, privately held company that specializes in the start-up, promotion and operation of multiple online marketplaces”
                            </p>
                            <h3>
                                <span class="c-name c-theme">John Snow</span>, CEO, Mockingbird
                            </h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <p>
                                “After co-founding the company in 2006 the group launched JANGO, the first digital marketplace which focused on rich multimedia web content”
                            </p>
                            <h3>
                                <span class="c-name c-theme">Arya Stark</span>,  CFO, Valar Dohaeris
                            </h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <p>
                                “It was the smoothest implementation process I have ever been through with JANGO’s process and schedule.”
                            </p>
                            <h3>
                                <span class="c-name c-theme">Arya Stark</span>,  CFO, Valar Dohaeris
                            </h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <p>
                                “A system change is always stressful and JANGO did a great job of staying positive, helpful, and patient with us.”
                            </p>
                            <h3>
                                <span class="c-name c-theme">Arya Stark</span>,  CFO, Valar Dohaeris
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div><!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-2 -->

    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
{% endblock %}